// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	color: $placeholder-color;
	-webkit-appearance: none !important;
	-webkit-border-radius: 0;
	background: $form-element-background !important;
	border: 1px solid $form-element-border-color !important;
	box-shadow: none;
	// box-sizing: border-box;
	// color:darken($placeholder-color, 30%);
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 21px;
	margin: 0;
	outline: none;
	padding: $form-element-padding;
	width: 100%;
	@include media(">=tablet") {
		padding-right: 13px;
		padding-left: 13px;
	}
	@include placeholder {
		color: $placeholder-color;
	}
	&.has-errors {
		border-color: $red !important;
	}
}

select {
	-webkit-border-radius: 0;
	.hideme {
		display: none;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 70px;
	min-height: 70px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.form-group{
	margin:0 0 10px;
	overflow:hidden;
}

form{
	.errors{
		color:$red;
		font-size:14px;
		font-weight:normal;
		line-height:1.4286;
		margin:0 0 -2px;
		padding:6px 0 0;
		text-align:left;
		@include media(">=tablet") {
			line-height:1.1429;
		}
		&:empty{
			padding:0;
		}
	}
	.wpcf7-response-output{
		display:none !important;
	}
}