// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	color: $placeholder-color;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background: $form-element-background;
	border: 1px solid $form-element-border-color;
	box-shadow: none;
	// box-sizing: border-box;
	color:darken($placeholder-color, 30%);
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 21px;
	margin: 0;
	outline: none;
	padding: $form-element-padding;
	width: 100%;
	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
	
	.hideme {
		display: none;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 150px;
	min-height: 120px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.form-group{
	margin:0 0 10px;
	overflow:hidden;
}