// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: bold;
	margin: 0 0 0.5em;
	color: $headings-color;
	a{
		color:inherit;
		text-decoration:underline;
		&:hover {
			color:$base-link-color;
		}
	}
}

h1, .h1 {
	font-size: $h1-font-size;
	font-weight:500;
	letter-spacing: -0.025em;
	line-height:1.1667;
	margin:0 0 1px;
	text-transform:uppercase;
	@include media(">=tablet") {
		margin:0 0 -1px;
	}
}

h2, .h2 {
	font-size: $h2-font-size;
	font-weight:normal;
	letter-spacing: -0.025em;
	line-height:1.2727;
	margin:20px 0 13px;
	@include media(">=tablet") {
		font-size:20px;
		line-height:1.55;
		margin:27px 0 7px;
	}
	// p + & {
	// 	margin-top: -6px;
	// }
}

h3, .h3 {
	font-size: $h3-font-size;
	font-weight:normal;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 10px;
	strong{
		font-weight:500;
	}
}

a {
	color: $base-link-color;
	text-decoration:underline;
	&:hover {
		text-decoration:none;
	}
}

.subtitle{
	color:$base-gray;
	display:block;
	font-size: 16px;
	font-weight:normal;
	line-height:1.25;
	@include media(">=tablet") {
		font-size: 14px;
	}
	&.green {
		color:$theme-color-base;
		font-size: 16px;
		font-weight:normal;
		margin:-6px 0 7px;
		@include media(">=tablet") {
			font-size: 20px;
			margin:-6px 0 9px;
		}
		br{
			@include media(">=tablet") {
				display:none;
			}
		}
		a{
			@include media(">=tablet") {
				display:inline-block;
				vertical-align:top;
				margin:0 0 0 12px;
				position:relative;
				&:before {
					content: '-';
					margin:0 4px 0 0;
					pointer-events:none;
					position:absolute;
					right:100%;
					top:0;
				}
			}
		}
	}
}

hr{
	border:0 solid $border-color-base;
	border-width: 1px 0 0;
	margin:37px 0 24px;
	@include media(">=tablet") {
		margin-top: 23px;
	}
}

ul{
	@extend %listreset;
	&:not([class]) {
		> li{
			overflow:hidden;
			padding:0 0 10px;
			// position:relative;
			vertical-align:top;
			&:before {
				content: '-';
				margin:0 7px 0 0;
				// left:0;
				// position:absolute;
				// top:0;
			}
		}
	}
}

[class*="advant"]
// .list-advantages,
// .list-disadvantages
{
	line-height:1.3571;
	// @extend %listreset;
	li{
		overflow:visible;
		padding:0 0 0 30px;
		position:relative;
		vertical-align:top;
		@include media(">=tablet") {
			padding:0 0 0 34px;
		}
		+ li{
			margin-top: 10px;
			@include media(">=tablet") {
				margin-top: 12px;
			}
		}
		&:before {
			background:$theme-color-base;
			border-radius: 100%;
			content: '';
			height:15px;
			left:0;
			position:absolute;
			top:3px;
			width:15px;
		}
	}
}

.list-disadvantages{
	li{
		&:before {
			background:$theme-color-add;
		}
	}
}