.new-casino-box
	.heading
		.logo-holder
			a(href="#")
				img(src="http://via.placeholder.com/50x50")
		h2
			a(href="#")= h2
		img(src="http://via.placeholder.com/53x7").stars
		em.time
			| Added 
			br
			span.duration= duration
			|  ago!
	.content-holder
		.content
			h3= h3
			p= content
		.button-holder
			a(href="#").btn.btn-primary Go to Casino