@import '../../vendors/include-media';
@import '../../base/variables';
@import '../../base/mixins';
.opt-in-bar{
	// background:$theme-color-add;
	display:none;
	font-size:12px;
	left:0;
	letter-spacing: -0.025em;
	line-height:1.25;//15
	position:absolute;
	top:0;
	width:100%;
	z-index:30;
	@include media(">=600px") {
		position:fixed;
	}
	.hide-offer & {
		display:none;
	}
	.admin-bar & {
		top:46px;
		@include media(">=782px") {
			top:32px;
		}
	}
	
	&:not([class*="expand"]) {
		min-height: 0;
	}
	&[class*="show-on-mobile"]{
		display:block;
		@include media(">=tablet") {
			display:none;
		}
	}
	&[class*="show-on-tablet"]{
		@include media(">=tablet") {
			display:block;
		}
		@include media(">=desktop") {
			display:none;
		}
	}
	&[class*="show-on-desktop"]{
		@include media(">=desktop") {
			display:block;
		}
	}
	&.expand {
		.opt-in-bar-content{
			opacity:0;
		}
		.opt-in-form{
			// display: flex;
		 //    flex-direction: column;
		 //    flex-wrap: nowrap;
		 //    justify-content: center;
		 //    align-content: stretch;
		 //    align-items: stretch;
			height:100%;
		}
		/* Opt In form expand section - on mobile */
		// .admin-bar .opt-in-bar.expand {
		//     top: 0;
		// }
		// .expand .opt-in-form {
		//     padding: 10px;
		//     height: 100vh;
		//     display: flex;
		//     align-items: center;
		// }

		// .expand .opt-in-form .custom-aweber-form {
		//     padding: 30px 15px;
		//     max-width: 320px;
		//     margin: 0 auto;
		//     text-align: center;
		// }
		// .expand .opt-in-form .custom-aweber-form .fca_eoi_layout_description_copy_wrapper p strong {
		//     font-size: 150%;
		// }

		// .expand .opt-in-form .custom-aweber-form .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_email_field_inner input {
		//     background: #fff!important;
		// }
	}
	button,
	.btn{
		&.mfp-close {
			color:$headings-color;
			font-size: 28px;
			height:auto;
			opacity:1;
			position:absolute;
			right:15px;
			top:8px !important;
			width:auto;
			&.invert {
				color:$white;
			}
		}
	}
	.opt-in-bar-content{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding:10px 8px;
		transition:opacity $animation-speed;
		@include media(">=tablet") {
			margin:0 auto;
			max-width: 1396px;
			padding:10px $gutter-width;
			// padding-right: $gutter-width;
			// padding-left: $gutter-width;
		}
		// @include media(">=desktop") {
		// 	height:59px;
		// }
	}
	.left{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		min-width: 38px;
	}
	.icon-close{
		color:inherit;
		// background:$black;
		display:inline-block;
		vertical-align:top;
		font-size: 6px;
		// height:6px;
		margin:0 9px 0 0;
		// width:6px;
		@include media(">=tablet") {
			font-size: 18px;
			// height:17px;
			margin-right: 45px;
			// width:17px;
		}
	}
	.icon-mail{
		color:inherit;
		font-size:24px;
		// margin:0 1px 0 0;
		@include media(">=tablet") {
			font-size: 40px;
			margin-right: 9px;
		}
	}
	.content{
		letter-spacing: -0.03em;
		padding:0 9px;
		@include media(">=tablet") {
			letter-spacing: 0;
			padding:0 19px;
		}
		&.mobile-hide {
			display:none;
			@include media(">=tablet") {
				display:block;
			}
		}
		&.desktop-hide {
			@include media(">=tablet") {
				display:none;
			}
		}
	}
	h2{
		// display:none;
		@include media(">=tablet") {
			color:inherit;
			display:block;
			font-size: 16px;
			font-weight:500;
			letter-spacing: 0;
			margin:0 0 -1px;
			text-transform:uppercase;
		}
	}
	p{
		margin:0;
		strong{
			font-weight:normal;
		}
	}
	.btn{
		font-size: 14px;
		min-width: 0;
		padding-top: 8px;
		padding-bottom: 7px;
		white-space: nowrap;
		@include media(">=tablet") {
			font-size: 18px;
			min-width: 206px;
		}
		&.mobile-hide {
			display:none;
			@include media(">=tablet") {
				display:inline-block;
				// vertical-align:top;
			}
		}
		&.desktop-hide {
			@include media(">=tablet") {
				display:none;
			}
		}
	}
	.opt-in-form{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: stretch;
	    font-size:16px;
		height:0;
		left:0;
		overflow:hidden;
		position:absolute;
		top:0;
		transition:height $animation-speed;
		width:100%;
		// .form-wrapper{}
		h2{
			color:inherit;
			font-size: 24px;
			font-weight:bold;
			line-height:1.1667;
			margin:0 0 11px;
			@include media(">=tablet") {
				font-size: 22px;
				margin-bottom: 6px;
				text-transform:uppercase;
			}
		}
		p{
			margin:0 0 32px;
			@include media(">=tablet") {
				margin:0 30px 33px;
			}
		}
		.fca_eoi_form_text_element{
			color:inherit;
			font-family: $base-font-family;
			font-size: inherit;
			font-weight:normal;
			line-height:inherit;
		}
		.fca_eoi_layout_inputs_wrapper{
			margin:0 auto -14px;
			max-width: 288px;
			@include media(">=tablet") {
				max-width: 300px;
			}
		}
		.fca_eoi_layout_field_wrapper{
			margin:0 0 14px;
			overflow:hidden;
		}
		.fca_eoi_layout_email_field_wrapper{
			border-color: $base-gray;
			border-radius: 2px;
		}
		input.fca_eoi_form_input_element{
			&,
			&:focus {
				background: $form-element-background !important;
				color:darken(#898989, 30%);
				font-size:16px;
				height:45px;
				padding: 9px;
				line-height:normal;
			}
			& {
				
				@include placeholder {
					color:#898989;
					opacity:1 !important;
				}
			}
		}
		.fca_eoi_layout_submit_button_wrapper{
			input{
				background: $btn-dark-background;
				border:2px solid $btn-dark-background !important;
				color:$btn-dark-color;
				font-size: 18px;
				font-weight: 600;
				line-height: 1.125;
				min-width: 0;
				padding: 10px 10px 11px;
				transition: none;
				width: 100%;
				&:hover {
					color:$btn-dark-background;
				}
			}
		}
	}
	.thank-you-message{
		padding:$gutter-width;
		text-align:center;
		[class*="icon-"]{
			font-size: 66px;
			margin:0 0 16px;
			@include media(">=tablet") {
				color:$theme-color-base;
				margin:0 0 9px;
			}
		}
		.btn{
			font-size: 18px;
			font-weight: 600;
			line-height: 1.1111;
			padding: 10px 10px 11px;
			max-width: 280px;
			min-width: 0;
			width:100%;
		}
	}
}

// .offer-box{
//     left:0;
//     position:fixed;
//     top:0;
//     width:100%;
//     z-index:30;
// }
// .admin-bar .offer-box{
//     top:32px;
// }
// .offer-box .opt-in-form{
//     display:none;
// }
// .opt-in-bar {
//     box-sizing:border-box;
//     left: 0;
//     overflow:hidden;
//     position: fixed;
//     top: 0;
//     width:100%;
//     z-index: 10005;
//     transform: translateY(-100%);
//     -webkit-transition: all 0.5s;
//     -moz-transition: all 0.5s;
//     -ms-transition: all 0.5s;
//     -o-transition: all 0.5s;
//     transition: all 0.5s;
// }
// .admin-bar .opt-in-bar {
//     top: 32px;
// }
// .opt-in-bar *{
//     box-sizing: inherit;
//     color: inherit;
// }
// .opt-in-bar .opt-in-bar-content .btn-close {
//     height: 22px;
//     width: 22px;
//     left: -1%;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 20;
// }
// @media screen and (min-width: 769px) and (max-width: 1450px) {
//     .opt-in-bar .opt-in-bar-content .btn-close {
//         position: relative;
//         transform: none;
//         top: auto;
//         left: auto;
//     }
// }
// .opt-in-bar .btn-close:hover{
//     opacity:0.7;
// }
// .opt-in-bar .btn-close:before,
// .opt-in-bar .btn-close:after {
//     content: '';
//     height:2px;
//     left:0;
//     margin:-1px 0 0;
//     position:absolute;
//     top:50%;
//     transform: rotate(-45deg);
//     width:100%;
// }
// .opt-in-bar .btn-close:after {
//     transform: rotate(45deg);
// }
// .opt-in-bar .opt-in-form .btn-close {
//     height: 30px;
//     width: 30px;
//     right: 0;
//     position: absolute;
//     top: 60px;
//     transform: translateY(-50%);
//     z-index: 20;

// }


// .opt-in-bar .opt-in-bar-content {
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-flex-wrap: nowrap;
//     -ms-flex-wrap: nowrap;
//     flex-wrap: nowrap;
//     -webkit-justify-content: space-between;
//     justify-content: space-between;
//     -webkit-align-content: center;
//     -ms-flex-line-pack: center;
//     align-content: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     margin: 0 auto;
//     padding: 9px 0 10px;
// }
// .opt-in-bar .holder {
//     max-width: 1400px;
//     position: relative;
//     margin: 0 auto;
//     padding: 0 23px;
// }


// .opt-in-bar .opt-in-bar-content .image-holder {
//     max-width: 60px;
//     min-width: 25px;
//     background: red;
// }

// .opt-in-bar .btn-close,
// .opt-in-bar .opt-in-bar-content .image-holder,
// .opt-in-bar .opt-in-bar-content .text {
//     margin-right: 20px;
// }


// .opt-in-bar .opt-in-bar-content p {
//     margin: 0;
// }

// .opt-in-bar .opt-in-bar-content p strong {
//     text-transform: uppercase;
// }

// .opt-in-bar .cta-button {
//     margin-left: auto;
// }
// .opt-in-bar .cta-button a {
//     display: inline-block;
//     width: 100%;
//     padding: 10px;
//     text-decoration: none;
//     white-space: nowrap;
// }

// .opt-in-bar .opt-in-form,
// .opt-in-bar.expand .opt-in-bar-content {
//     display: none;
// }

// .opt-in-bar.expand .opt-in-form {
//     display: flex;
// }



// @media screen and (min-width:768px) {
//     .opt-in-bar .desktop-hide {
//         display: none!important;
//     }
// }
// @media screen and (max-width:768px) {
//     .opt-in-bar .mobile-hide {
//         display: none!important;
//     }
//     .admin-bar .opt-in-bar {
//         top: 46px;
//     }

//     .opt-in-bar .opt-in-bar-content .image-holder,
//     .opt-in-bar .opt-in-bar-content .text {
//         margin-right: 10px;
//     }

//     .opt-in-bar .opt-in-bar-content .btn-close {
//         height: 12px;
//         width: 12px;
//         left: 5px;
//     }

// }


/* Opt In Form - common */
// .opt-in-form .custom-aweber-form .fca_eoi_layout_inputs_wrapper {margin-top: 40px;}
// .opt-in-form .custom-aweber-form .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_email_field_inner input,
// .opt-in-form-popup .custom-aweber-form .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_email_field_inner input,
// .opt-in-form-popup .custom-aweber-form .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_submit_button_wrapper input,
// .opt-in-form .custom-aweber-form .fca_eoi_layout_0.fca_eoi_layout_postbox div.fca_eoi_layout_submit_button_wrapper input {
//     padding: 12px 20px;
// }


/* Opt In form popup - on desktop */
// .opt-in-form-popup {
//     max-width: 650px;
//     margin: 0 auto;
//     background: #fff;
//     position: relative;
// }

// .opt-in-form-popup .custom-aweber-form {
//     padding: 30px 15px;
//     max-width: 400px;
//     margin: 0 auto;
//     text-align: center;
// }

// .opt-in-form-popup .custom-aweber-form .fca_eoi_layout_description_copy_wrapper p strong {
//     text-transform: uppercase;
// }
// .opt-in-form-popup .custom-aweber-form .fca_eoi_layout_description_copy_wrapper p strong {
//     font-size: 150%;
// }

