section.section-related-posts
	.holder
		.section-heading
			h2 h2 Similar News Articles
			strong.subtitle Other bonus related articles
		ul.grid
			li
				.post-preview
					.post-image
						img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
						a(href="#").hover-box
							img(src="assets/images/link.svg", alt="Image description", width="140", height="140")
					h2
						a(href="#") NetEnt Casino Bonus Codes December 2017
					p.by
						| Published on 
						a(href="#")
							time(datetime="2017-11-06") 6th November 2017
						|  by 
						a(href="#") Adam
					p As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
					.button-holder.text-center
						a(href="#").btn.btn-primary Continue Reading
			li
				.post-preview
					.post-image
						img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
						a(href="#").hover-box
							img(src="assets/images/link.svg", alt="Image description", width="140", height="140")
					h2
						a(href="#") NetEnt Casino Bonus Codes December 2017
					p.by
						| Published on 
						a(href="#")
							time(datetime="2017-11-06") 6th November 2017
						|  by 
						a(href="#") Adam
					p As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our 
					.button-holder.text-center
						a(href="#").btn.btn-primary Continue Reading
		.load-more.text-center
			a(href="#").btn.btn-secondary.invert View more articles