extends pug/extends/master

block content
	- var page_class = "hide-bonus hide-offer hide-nav"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") News
						li
							| NetEnt New Casinos December 2017
				div
					p Last updated - 
						strong 2 days ago!
		section.section-content.posts-list
			.holder
				.aside
					.widget
						ul
							li
								a(href="#") NetEnt News
							li
								a(href="#") Bonus News
							li
								a(href="#") Exclusive Promotions
							li
								a(href="#") New NetEnt Games
							li
								a(href="#") Casino Reviews
							li
								a(href="#") Live Casino
				.content
					.content-holder
						//- 
						.post-image.fullwidth
							img(src="http://via.placeholder.com/1010x280/6daf0e/ffffff")
						h1 NetEnt New Casinos December 2017
						p.by
							| Published on 
							a(href="#")
								time(datetime="2017-11-06") 6th November 2017
							|  by 
							a(href="#") Adam
						p As Christmas fast approaches, it’s time to take a look at the new online casinos which have impressed us enough of late to warrant your attention. We analyse every little detail of a new platform before bringing them to the table, with all kinds of aspects overseen – seen within our NetEnt casino reviews.
						p So, with everyone getting into the festive spirit, let’s take a look at December 2017’s best new casinos – with juicy welcome packages a given!
					.content-holder
						.post-image.fullwidth
							img(src="http://via.placeholder.com/950x315/6daf0e/ffffff")
						h1 HighRoller Casino
						p.by
							| Published on 
							a(href="#")
								time(datetime="2017-11-06") 6th November 2017
							|  by 
							a(href="#") Adam
						p And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:
						ul
							li Pretty much every available NetEnt slot/game to play
							li A richly rewarding storyline which sees you progress through a fictional metropolis
							li Steal coins from fellow players in exchange for spins!
							li Seamless availability on both mobile and desktop
							li An entire 24/7 “backup” help team for your convenience
						p As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
						p
							strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
						.button-holder.text-center
							a(href="#").btn.btn-primary Take me to HighRoller Casino
					.content-holder
						.post-image.fullwidth
							img(src="http://via.placeholder.com/950x315/6daf0e/ffffff")
						h1 LadyLucks
						p.by
							| Published on 
							a(href="#")
								time(datetime="2017-11-06") 6th November 2017
							|  by 
							a(href="#") Adam
						p And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:
						ul
							li Pretty much every available NetEnt slot/game to play
							li A richly rewarding storyline which sees you progress through a fictional metropolis
							li Steal coins from fellow players in exchange for spins!
							li Seamless availability on both mobile and desktop
							li An entire 24/7 “backup” help team for your convenience
						p As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
						p
							strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
						.button-holder.text-center
							a(href="#").btn.btn-primary Take me to LadyLucks
					.content-holder
						.post-image.fullwidth
							img(src="http://via.placeholder.com/356x149/6daf0e/ffffff")
						h1 Wild Slots
						p.by
							| Published on 
							a(href="#")
								time(datetime="2017-11-06") 6th November 2017
							|  by 
							a(href="#") Adam
						p And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:
						ul
							li Pretty much every available NetEnt slot/game to play
							li A richly rewarding storyline which sees you progress through a fictional metropolis
							li Steal coins from fellow players in exchange for spins!
							li Seamless availability on both mobile and desktop
							li An entire 24/7 “backup” help team for your convenience
						p As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
						p
							strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
						.button-holder.text-center
							a(href="#").btn.btn-primary Take me to Wild Slots
					.share-block
						h2 Share Article
						ul
							li
								a(href="#")
									img(src="assets/images/btn-share-01.png", alt="Image description", width="113", height="40")
							li
								a(href="#")
									img(src="assets/images/btn-share-02.png", alt="Image description", width="113", height="40")
		include pug/includes/sections/related-posts
	include pug/includes/footer