extends pug/extends/master

block content
	//- 
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				.breadcrumbs
					span
						span
							a(href='#') Home
							span.breadcrumb_last Monthly Offers
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.section-banner
			//- 
			.bg-image
				- var image = "banner-concept-5"
				include pug/extends/retina-single
		section.template-default-page
			//- 
			.subsection.page-heading
				.holder
					h1 Novembers’ Top Casinos Offers
					strong.subtitle.green
						| London, United Kingdom 
						br
						a(href="#") Change Location
					p A list of the best bonuses &amp; offers for November, 2017. This page is updated on a monthly basis with all the best offers for the month. The casinos below are corresponding to your country (licenses). You are able to change the country restriction from above.
					strong.offer-sticker
						span.icon-timer
						| Offers will expire in - 
						strong 18 Days  21 Hours 18 Minutes
			.subsection.boxes-holder
				.holder
					ul.grid.col-1
						li
							.casino-box-title
								.position 
									| 1
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Betsson
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.sticker
										strong
											span.icon-check
											p Recommended by Casino Experts
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Betsson
											p.bonus-code Bonus code - 
												span NETENTCASINO
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
											p.bonus-code Bonus code - 
												span Netent20
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LeoVegas
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.sticker
										strong
											span.icon-gift-o
											p Free Spins Before Depsoit
									.content-frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to LeoVegas
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Thrills
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Thrills
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140") 
									.txt
										h2
											a(href="#") VideoSlots
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.sticker
										strong
											span.icon-cards
											p Lowest Deposit Amount Required
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to VideoSlots
	include pug/includes/footer