extends pug/extends/master

block content
	//- 
	- var page_class = "hide-bonus hide-offer"
	include pug/includes/header
	#main.search-results
		//- 
		section.section-breadcrumbs
			.holder
				.breadcrumbs
						span
							span
								a(href='#') Home
								span.breadcrumb_last 404: Page not found
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.template-default-page
			.content-navigation.anchor-links.filter-list
				.holder
					ul
						li.is-checked
							a(href='#', data-filter='*') All Results
						li
							a(href='#', data-filter='.Casinos') Casinos
						li
							a(href='#', data-filter='.Games') Games
			.subsection.page-content
				.holder
					.results-list.filtered-list
						ul
							li.filtered-item.Casinos
								h3 Casinos
								ul
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betser/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/06/nc-thumbnail-logo-Betser-150x150.png')
											span.title Betser 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betchain/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/05/nc-thumbnail-logo-BetChain-150x150.png')
											span.title BetChain 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betfinal-casino/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/01/nc-thumbnail-logo-betfinal-150x150.png')
											span.title Betfinal Casino 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betway/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/01/nc-thumbnail-logo-BetWay-150x150.png')
											span.title Betway 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betadonis/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/12/nc-thumbnail-logo-BetAdonis-150x150.png')
											span.title BetAdonis 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/bettilt/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-betTilt-150x150.png')
											span.title BetTilt 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betive/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/08/nc-thumbnail-logo-Betive-150x150.png')
											span.title Betive 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/bettingways/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/08/nc-thumbnail-logo-Bettingways-150x150.png')
											span.title BettingWays 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betbright/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-BetBright-150x150.png')
											span.title BetBright 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betchan/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/05/nc-thumbnail-logo-BetChan-150x150.png')
											span.title Betchan 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betrally-casino/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/03/nc-thumbnail-logo-Betrally-150x150.png')
											span.title Betrally Casino 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betspin/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/03/nc-thumbnail-logo-BetSpin-150x150.png')
											span.title BetSpin 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/bethard/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-_Bethard-150x150.png')
											span.title Bethard 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betat-casino/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-BetAtCasino-150x150.png')
											span.title BETAT Casino 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betfair/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/10/nc-thumbnail-logo-Betfair-150x150.png')
											span.title Betfair 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betsking/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-_BetsKing-150x150.png')
											span.title BetsKing 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betsafe/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/11/nc-thumbnail-logo-Betsafe-150x150.png')
											span.title Betsafe 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/bets10/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/11/nc-thumbnail-logo-Bets10-150x150.png')
											span.title Bets10 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/bet-at-home/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-BetAtHome-150x150.png')
											span.title Bet At Home 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betvictor/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-BetVictor-150x150.png')
											span.title BetVictor 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/betsson/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-Betsson-150x150.png')
											span.title Betsson 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/letsbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2018/05/nc-thumbnail-logo-letsbet-150x150.png')
											span.title LetsBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/vbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/04/nc-thumbnail-logo-vbet-150x150.png')
											span.title Vbet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/lv-bet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/08/nc-thumbnail-logo-LVBet-150x150.png')
											span.title LV BET 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/tonybet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/11/nc-thumbnail-logo-TonyBet-150x150.png')
											span.title TonyBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/1xbet-casino/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-1XBet-150x150.png')
											span.title 1xBet Casino 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/shadowbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/02/nc-thumbnail-logo-shadowbet-150x150.png')
											span.title ShadowBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/olybet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/02/nc-thumbnail-logo-olybet-150x150.png')
											span.title OlyBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/astralbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/02/nc-thumbnail-logo-astralbet-150x150.png')
											span.title AstralBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/staybet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/10/nc-thumbnail-logo-Staybet-150x150.png')
											span.title Staybet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/oceanbets/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/03/nc-thumbnail-logo-OceanBets-150x150.png')
											span.title Oceanbets 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/24bettle/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/07/nc-thumbnail-logo-24Bettle-150x150.png')
											span.title 24Bettle 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/optibet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/08/nc-thumbnail-logo-OptiBet-150x150.png')
											span.title Optibet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/realdealbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/05/nc-thumbnail-logo-RealDealBet-150x150.png')
											span.title RealDealBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/netbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2018/05/nc-thumbnail-logo-netbet-150x150.png')
											span.title NetBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/exclusivebet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/02/nc-thumbnail-logo-ExclusiveBet-150x150.png')
											span.title ExclusiveBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/mobilbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2016/03/nc-thumbnail-logo-MobileBet-150x150.png')
											span.title Mobilebet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/24hbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/12/nc-thumbnail-logo-24hBet-150x150.png')
											span.title 24hBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/sportingbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/07/nc-thumbnail-logo-Sportingbet-150x150.png')
											span.title Sportingbet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/eypobet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/07/nc-thumbnail-logo-Eypobet-150x150.png')
											span.title Eypobet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/nederbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2015/08/nc-thumbnail-logo-NederBet-150x150.png')
											span.title Nederbet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/fast-lane-betting/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/02/nc-thumbnail-logo-FastlaneGaming-150x150.png')
											span.title Fast Lane Betting 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/lsbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/01/nc-thumbnail-logo-LSbet-150x150.png')
											span.title LsBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/goldbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/11/nc-thumbnail-logo-Goldbet-150x150.png')
											span.title GoldBet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/whitebet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-WhiteBet-150x150.png')
											span.title Whitebet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/redbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2017/01/nc-thumbnail-logo-Redbet-150x150.png')
											span.title Redbet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/nordicbet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/11/nc-thumbnail-logo-NordicBet-150x150.png')
											span.title Nordicbet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/mybet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-MyBet-150x150.png')
											span.title Mybet 
									li
										a(href='http://netentcasnew-dev.catena.media/netent-casinos/unibet/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2013/10/nc-thumbnail-logo-Unibet-150x150.png')
											span.title Unibet 
							li.filtered-item.Games
								h3 Games
								ul
									li
										a(href='http://netentcasnew-dev.catena.media/casinogames/jacks-better-double/')
											span.logo-holder
												span
													img(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2014/10/nec-jacks-better-double-thumbnail-150x150.jpg')
											span.title Jacks or Better Double Up 
	include pug/includes/footer