.bonus-popup.default-popup.win-height#bonus-popup
	.popup-top
		button(type="button").mfp-close.icon-close
	.popup-content
		.popup-frame
			form(action="#")
				.icon-mail
				h2 Don’t miss out on 600 Secret No Deposit Spins
				p Subscribe to our newsletter to unlock 600 secret No Deposit Spins.
				.form-content
					.form-group
						input(type="email", placeholder="Enter your email address")
					.form-group
						input(type="submit", value="Unlock Spins Now").btn.btn-primary
			.privacy
				ul.list-advantages
					li
						p All emails include an unsubscribe link. Please see our 
							a(href="#") Privacy and Cookies Policy.
					li
						p By subscribing you are certifying that you are over 18 years of age.
					li
						p Due to regulations this offer is not valid for customers residing in Great Britain.'

	//- 
		.popup-footer
			.section-refer
				include ../section-refer