.casino-summary-popup.default-popup.win-height#casino-summary-popup
	.popup-top
		button(type="button").mfp-close.icon-close
	.popup-content
		.popup-frame
			.heading
				.left
					div
						.logo-holder
							a(href="#")
								img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
					div
						h3 Betsson
						a(href="#").btn.btn-secondary Casino Review
				.right
					span.rate
						strong 5
						span /5
					.stars
						span.icon-star
						span.icon-star
						span.icon-star
						span.icon-star-half-empty
						span.icon-star-o
			.content
				.twocolumns
					div
						h4 Did You Know?
						blockquote
							p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
					div
						h4 Devices
						.devices-list
							div
								span
									span.icon-laptop
									span.txt Desktop
							div
								span
									span.icon-tablet
									span.txt Tablet
							div
								span
									span.icon-mobile
									span.txt Mobile
				.twocolumns
					div
						.section-heading
							h4 Payments
							strong.subtitle 17 deposit options
						ul.payments-list.large.grid.col-n
							li
								a(href="#")
									span.logo-holder
										img(src="assets/images/visa.png", alt="Image description", width="37", height="12")
									span Bank Transfer
							li
								a(href="#")
									span.logo-holder
										img(src="assets/images/paypal.png", alt="Image description", width="28", height="28")
									span PayPal
							li
								a(href="#")
									span.logo-holder
										img(src="assets/images/bitcoin.png", alt="Image description", width="33", height="9")
									span Bitcoin
						h4 400+ Games
						ul.games-list
							li
								a(href="#")
									img(src="assets/images/play-n-go.png", alt="Image description", width="54", height="16")
							li
								a(href="#")
									img(src="assets/images/microgaming.png", alt="Image description", width="55", height="14")
							li
								a(href="#")
									img(src="assets/images/yggdrasil.png", alt="Image description", width="58", height="13")
							li
								a(href="#")
									span +12
					div
						.payment-overview-box
							.content
								dl
									dt Minumum Deposit
									dd €10
									dt Withdrawal Time
									dd 30 mins - 4 hours (avg)
									dt Currencies
									dd EUR, USD, GBP, NOK, SEK, BRL, CZK, PLN
	.popup-footer
		.left
			h4 £150 + 50 Free Spins
			p 50% up to £100 + 50 Free Spins
		.right
			a(href="#").btn.btn-primary Go to Betsson