.popups-holder
	.default-popup#filter-posts-popup-list
		.popup-content.filters-holder
			.search-bar
				form(action="#")
					input(type="text", placeholder="Search NetentCasino")
			ul.guides-list.filter-list
				li
					a(href="#", data-filter="*")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt All
				li
					a(href="#", data-filter="#section11")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Blackjack
				li
					a(href="#", data-filter="#section12")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Casino
				li
					a(href="#", data-filter="#section13")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Live Casino
				li
					a(href="#", data-filter="#section14")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Poker
				li
					a(href="#", data-filter="#section15")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Roulette
				li
					a(href="#", data-filter="#section16")
						.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Slots