.default-popup.win-height#guides-menu-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search Guides
	.popup-content
		.popup-frame
			ul.guides-list.filter-list
				li
					a(href="#", data-filter="*")
						span.icon-bones
						span All
				li
					a(href="#", data-filter="#section11")
						span.icon-bingo
						span Bingo
				li
					a(href="#", data-filter="#section12")
						span.icon-blackjack
						span Blackjack
				li
					a(href="#", data-filter="#section13")
						span.icon-casino
						span Casino
				li
					a(href="#", data-filter="#section14")
						span.icon-user
						span Live Casino
				li
					a(href="#", data-filter="#section15")
						span.icon-poker
						span Poker
				li
					a(href="#", data-filter="#section16")
						span.icon-roulette
						span Roulette
				li
					a(href="#", data-filter="#section17")
						span.icon-slots
						span Slots