.default-popup.win-height#guides-menu-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search Guides
	.popup-content
		.popup-frame
			ul.guides-list.filter-list
				li
					a(href="#", data-filter="*")
						span.icon-holder
							img(src="assets/images/bones.png", alt="Image description", width="56", height="50")
						span All
				li
					a(href="#", data-filter="#section11")
						span.icon-holder
							img(src="assets/images/bingo.png", alt="Image description", width="56", height="56")
						span Bingo
				li
					a(href="#", data-filter="#section12")
						span.icon-holder
							img(src="assets/images/blackjack.png", alt="Image description", width="56", height="54")
						span Blackjack
				li
					a(href="#", data-filter="#section13")
						span.icon-holder
							img(src="assets/images/casino.png", alt="Image description", width="42", height="42")
						span Casino
				li
					a(href="#", data-filter="#section14")
						span.icon-holder
							img(src="assets/images/user.png", alt="Image description", width="45", height="55")
						span Live Casino
				li
					a(href="#", data-filter="#section15")
						span.icon-holder
							img(src="assets/images/poker.png", alt="Image description", width="56", height="56")
						span Poker
				li
					a(href="#", data-filter="#section16")
						span.icon-holder
							img(src="assets/images/roulette.png", alt="Image description", width="56", height="33")
						span Roulette
				li
					a(href="#", data-filter="#section17")
						span.icon-holder
							img(src="assets/images/slots.png", alt="Image description", width="56", height="30")
						span Slots