.default-popup.win-height#guides-menu-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search Guides
	.popup-content
		.popup-frame
			ul.guides-list.filter-list
				li
					a(href="#", data-filter="*")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt All
				li
					a(href="#", data-filter="#section11")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Blackjack
				li
					a(href="#", data-filter="#section12")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Casino
				li
					a(href="#", data-filter="#section13")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Live Casino
				li
					a(href="#", data-filter="#section14")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Poker
				li
					a(href="#", data-filter="#section15")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Roulette
				li
					a(href="#", data-filter="#section16")
						span.icon-img
							img(src="http://via.placeholder.com/50", alt="Image description", width="", height="")
						span.txt Slots