.default-popup.win-height#news-menu-popup
	.popup-content
		.popup-frame
			form(action="#").search-bar
				button(type="submit").icon-search
				input(type="text", placeholder="Search NetentCasino")
			ul.news-list.filter-list
				li
					a(href="#", data-filter="*") All News
				li
					a(href="#", data-filter="#section1") NetEnt News
				li
					a(href="#", data-filter="#section2") Bonus News
				li
					a(href="#", data-filter="#section3") Exclusive Promotions
				li
					a(href="#", data-filter="#section4") New NetEnt Games
				li
					a(href="#", data-filter="#section5") Casino Reviews
				li
					a(href="#", data-filter="#section6") Live Casino