.default-popup.win-height#news-menu-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search NetentCasino
	.popup-content
		.popup-frame
			ul.news-list.filter-list
				li.icon-news
					a(href="#", data-filter="*") All News
				li.icon-news-small
					a(href="#", data-filter="#section1") NetEnt News
				li.icon-bonus
					a(href="#", data-filter="#section2") Bonus News
				li.icon-gift
					a(href="#", data-filter="#section3") Exclusive Promotions
				li.icon-play
					a(href="#", data-filter="#section4") New NetEnt Games
				li.icon-bones
					a(href="#", data-filter="#section5") Casino Reviews
				li.icon-user
					a(href="#", data-filter="#section6") Live Casino