.default-popup.win-height#news-menu-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search NetentCasino
		button(type="button").mfp-close.icon-close
	.popup-content
		.popup-frame
			ul.news-list.filter-list
				li
					span.icon-holder
						img(src="assets/images/news.png", alt="Image description", width="24", height="24")
					a(href="#", data-filter="*") All News
				li
					span.icon-holder
						img(src="assets/images/news-small.png", alt="Image description", width="24", height="19")
					a(href="#", data-filter="#section1") NetEnt News
				li
					span.icon-holder
						img(src="assets/images/bonus.png", alt="Image description", width="22", height="24")
					a(href="#", data-filter="#section2") Bonus News
				li
					span.icon-holder
						img(src="assets/images/gift.png", alt="Image description", width="26", height="24")
					a(href="#", data-filter="#section3") Exclusive Promotions
				li
					span.icon-holder
						img(src="assets/images/play.png", alt="Image description", width="24", height="24")
					a(href="#", data-filter="#section4") New NetEnt Games
				li
					span.icon-holder
						img(src="assets/images/bones.png", alt="Image description", width="27", height="24")
					a(href="#", data-filter="#section5") Casino Reviews
				li
					span.icon-holder
						img(src="assets/images/user.png", alt="Image description", width="20", height="24")
					a(href="#", data-filter="#section6") Live Casino