.default-popup.win-height#default-popup
	.popup-content
		.popup-frame
			form(action="#").search-bar
				button(type="submit").icon-search
				input(type="text", placeholder="Search Payment")
			ul.payments-list.large
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/37x12")
						span Visa
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/34x34")
						span PayPal
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/33x17")
						span Bitcoin
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Trustly
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/34x12")
						span Skrill
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/37x6")
						span Neteller
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Zimpler
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span MasterCard
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span PaySafeCard
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Ukash
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Bank Transfer
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Click2Pay
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Trustly
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Skrill
				li
					a(href="#")
						span.logo-holder
							img(src="http://via.placeholder.com/30x30")
						span Neteller
			//- 