.default-popup.win-height#default-popup
	.popup-top
		a(href="#").btn.btn-search
			span.icon-search
			| Search Payment
	.popup-content
		.popup-frame
			ul.payments-list.large
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/visa.png", alt="Image description", width="37", height="12")
						span Visa
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/paypal.png", alt="Image description", width="28", height="28")
						span PayPal
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/bitcoin.png", alt="Image description", width="33", height="9")
						span Bitcoin
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/trustly.png", alt="Image description", width="30", height="21")
						span Trustly
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/skrill.png", alt="Image description", width="34", height="12")
						span Skrill
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/neteller.png", alt="Image description", width="37", height="6")
						span Neteller
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/zimpler.png", alt="Image description", width="37", height="11")
						span Zimpler
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/mastercard.png", alt="Image description", width="34", height="26")
						span MasterCard
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/paysafecard.png", alt="Image description", width="38", height="7")
						span PaySafeCard
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/ukash.png", alt="Image description", width="42", height="15")
						span Ukash
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/banktransfer.png", alt="Image description", width="32", height="20")
						span Bank Transfer
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/click2pay.png", alt="Image description", width="38", height="8")
						span Click2Pay
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/trustly.png", alt="Image description", width="30", height="21")
						span Trustly
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/skrill.png", alt="Image description", width="34", height="12")
						span Skrill
				li
					a(href="#")
						span.logo-holder
							img(src="assets/images/neteller.png", alt="Image description", width="37", height="6")
						span Neteller
			//- 