.refer-popup.default-popup.win-height#refer-popup
	.popup-content
		.popup-frame
			form(action="#")
				.icon-gift-o
				h2 Refer a Friend &amp; Get Rewarded
				strong.title How it Works:
				ol
					li
						| Subscribe to our newsletter to 
						strong unlock 600 secret No Deposit Spins.
					li
						| Click “
						strong Request Referral
						| ” found at the bottom of the newsletter, then 
						strong share the unique URL 
						| with your friends.
					li
						| They use your link to signup for the newsletter, then you get an 
						strong extra 200 Free Spins 
						| and your friend gets a 100 Free Spins (
						strong No Deposit required
						| ).
				.form-content
					.form-group
						input(type="text", placeholder="Enter your email address")
					.form-group
						input(type="submit", value="Make Money").btn.btn-dark