.main-search-popup#search-popup
	.main-search-bar
		form(action="#")
			span.icon-search i
			input(type="text", placeholder="Search NetEnt Casinos", id="d-autocomplete")
			span.icon-close-o x
		.default-results
			.top
				div
					.hideme
						h2 Top Searches
						ul.ui-autocomplete
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Betsson 
										span.category (Casino)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Free Spins 
										span.category (Bonus)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Bitcoin 
										span.category (Payment)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| New Casinos 
										span.category (Casinos)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Betsson 
										span.category (Casino)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Free Spins 
										span.category (Bonus)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| Bitcoin 
										span.category (Payment)
							li
								a(href="#")
									img(src="http://via.placeholder.com/43/6daf0e/ffffff")
									span.title
										| New Casinos 
										span.category (Casinos)
			.bottom
				a(href="#").btn.btn-secondary
					| View all 
					span.count 50
					|  Results