.rate{
	color:$base-text-color;
	display:block;
	font-size: 20px;
	margin:0 0 -5px;
	line-height:30px;
	text-align:center;
	> *{
		display:inline-block;
		vertical-align:baseline;
	}
	strong{
		color:$theme-color-base;
		font-size: 30px;
		font-weight:500;
	}
}

.game-box{
	background:$white;
	box-shadow:0 0 3px $shadow;
	border-radius: 4px;
	overflow:hidden;
	&.small {
		border-radius: 2px 2px 0 0;
		.media-holder{
			height:100px;
		}
		.media-title{
			color:inherit;
			display:block;
			font-size: 12px;
			font-weight:normal;
			padding:5px 9px 6px;
			position:relative;
			text-transform:none;
		}
	}
	&.large {
		.media-holder{
			@include media(">=tablet") {
				height:280px;
			}
			.sticker{
				@include media(">=tablet") {
					font-size: 24px;
					padding:1px 19px;
					top:20px;
				}
			}
		}
		.media-title{
			@include media(">=tablet") {
				font-size: 18px;
				padding:9px 18px;
			}
		}
	}
	.media-holder{
		height:149px;
		position:relative;
		&:hover {
			.hover-box{
				display: flex;
			}
		}
		a{
			text-decoration:none;
		}
		iframe{
			position:relative;
			z-index:1;
		}
		.sticker{
			background:$theme-color-add;
			box-shadow: 0 1px 2px $shadow;
			color:$headings-color;
			font-size: 18px;
			left:0;
			font-weight:500;
			max-width: 100%;
			padding:1px 19px 2px;
			position:absolute;
			text-transform:uppercase;
			top:10px;
			z-index:15;
			@include media(">=tablet") {
				font-size: 16px;
				padding:2px 13px 4px;
			}
		}
		.hover-box{
			// display:none !important;
			display:none;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
		    background:rgba($black, 0.8);
		    color:$white;
		    font-size:18px;
		    font-weight:500;
		    line-height:1;
			height:100%;
			position:absolute;
			text-align:center;
			text-transform:uppercase;
			top:0;
			width:100%;
			z-index:10;
			> span{
				width:100%;
			}
			.icon-play{
				display:block;
				font-size: 44px;
				margin:0 auto 15px;
			}
		}
	}
	.media-title{
		bottom:0;
		color:$white;
		font-size:16px;
		font-weight:500;
		left:0;
		padding:4px 9px;
		position:absolute;
		right:0;
		text-transform:uppercase;
		z-index:5;
	}
	.games-list{
		li{
			display: list-item;
			margin:0;
			+ li{
				border-top: 1px solid $border-color-base;
			}
		}
	}
	.game{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: flex-start;
	    align-items: flex-start;
	    padding:20px 19px 16px;
	    .heading{
	    	display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: flex-start;
		    align-items: flex-start;
	    }
	    .logo-holder{
	    	margin:0 19px 0 0;
	    	width:35px;
	    }
	    h2{
	    	font-size: 15px;
	    	margin:0 0 4px;
	    	a{
	    		text-decoration:underline;
	    		@include media(">=desktop") {
	    			text-decoration:none;
	    		}
	    	}
	    }
	    .btn{
	    	font-size: 14px;
	    	min-width: 110px;
	    	padding-top: 5px;
	    	padding-bottom: 6px;
	    }
	}
	.footer{
		border-top: 1px solid $border-color-base;
		.btn{
			display:block;
			min-width: 0;
			padding-top: 14px;
			padding-bottom: 16px;
			&:hover {
				background:$btn-secondary-border;
				color:$white;
			}
		}
	}
}

.casino-review-box{
	background:$white;
	color:$base-gray;
	font-size:14px;
	box-shadow: 0 0 4px $shadow;
	@include media(">=tablet") {
		font-size:16px;
		line-height:1.375;
	}
	.content-holder{
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}
	}
	.heading{
		border:0 solid $border-color-base;
		border-width: 0 0 1px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		float:none;
		font-size: 12px;
		padding:10px 21px;
		width:auto;
		@include media(">=tablet") {
			// display: flex;
			flex-direction: column;
			// flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: stretch;
			border-width: 0 1px 0 0;
			float:left;
			font-size: 16px;
			text-align:center;
			min-width:182px;
		}
		@include media(">=desktop") {
			font-size: 18px;
			min-width:242px;
		}
		> div{
			&:first-child {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				text-align:left;
				@include media(">=tablet") {
					display:block;
					text-align:inherit;
				}
			}
		}
		p{
			margin:0;
			@include media(">=tablet") {
				margin:0 0 8px;
			}
		}
	}
	.logo-holder{
		margin:0 19px 0 0;
		@include media(">=tablet") {
			margin:0 auto 10px;
			width:140px;
		}
	}
	h3{
		font-size: 18px;
		font-weight:600;
		margin:0 0 -5px;
		@include media(">=tablet") {
			font-size: 30px;
			margin:0;
		}
		a{
			text-decoration:none;
		}
	}
	.content{
		display:none;
		@include media(">=tablet") {
			display:block;
			overflow:hidden;
		}
		> div{
			@include media(">=tablet") {
				padding:21px 29px 11px;
			}
			@include media(">=desktop") {
				padding:26px 39px 16px;
			}
			+ div{
				@include media(">=tablet") {
					border-top: 1px solid $border-color-base;
				}
			}
		}
		.content-frame{
			@include media(">=desktop") {
				padding-bottom: 0;
			}
		}
		h4{
			@include media(">=tablet") {
				font-size: 20px;
				font-weight:normal;
				margin:0 0 3px;
			}
		}
		blockquote{
			margin:0;
		}
	}
	.description-list{
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
			margin:0 -20px -12px 0;
			// padding:0 88px 0 0;
		}
		@include media(">=widescreen") {
			margin:0 -45px -12px 0;
		}
		> li{
			@include media(">=tablet") {
				padding:0 15px 10px 0;
				width:33.3333%;
				&.fullwidth {
					width:100%;
				}
			}
			@include media(">=desktop") {
				// max-width: 40%;
				padding:0 20px 32px 0;
				// width:33.3333%;
				width:auto;
			}
			@include media(">=widescreen") {
				padding-right: 45px;
			}
		}
		p{
			@include media(">=tablet") {
				margin:0;
			}
		}
		.icons-list{
			@include media(">=tablet") {
				font-size:30px;
				line-height:1;
				padding:2px 0 0 2px;
			}
			li{
				@include media(">=tablet") {
					display:inline-block;
					vertical-align:top;
					margin:0 1px 0 0;
				}
			}
			[class*="message"]{
				@include media(">=tablet") {
					font-size: 24px;
				}
			}
			[class*="phone"]{
				@include media(">=tablet") {
					font-size: 20px;
				}
			}
			a{
				@include media(">=tablet") {
					display:inline-block;
					vertical-align:middle;
					text-decoration:none;
				}
				&:hover {
					@include media(">=tablet") {
						color:$theme-color-base;
					}
				}
			}
		}
	}
	.payments-list{
		@include media(">=tablet") {
			font-size: 14px;
			padding-top: 13px;
		}
	}
	.rate{
		display:block;
		margin:0 0 -4px;
		@include media(">=tablet") {
			font-size:26px;
			line-height:40px;
			margin:0 0 3px;
		}
		strong{
			color:inherit;
			@include media(">=tablet") {
				font-size: 40px;
			}
		}
	}
	.stars{
		[class*="icon"]{
			@include media(">=desktop") {
				margin:0 3px;
			}
		}
	}
	.total{
		padding:7px 15px 20px;
		text-align:center;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			background:#f2f5f4;
			box-shadow: 0 0 2px $shadow inset;
			font-size: 22px;
			padding:18px 30px 19px;
			text-align:left;
		}
		@include media(">=desktop") {
			font-size: 28px;
			padding:28px 51px 39px;
		}
		> div{
			&:first-child {
				@include media(">=tablet") {
					flex:1 1 auto;
				}
			}
			&:last-child {
				line-height:0.5;
				text-align:center;
				@include media(">=tablet") {
					padding:0 0 0 15px;
					width:215px;
				}
				@include media(">=desktop") {
					width:255px;
				}
				@include media(">=widescreen") {
					width:345px;
				}
			}
		}
		h4{
			font-size: 22px;
			margin:0 0 -3px;
			text-transform:uppercase;
			@include media(">=tablet") {
				font-size:1.2857em;
				font-weight:500;
				letter-spacing: -0.025em;
				margin:0 0 -0.1667em;
			}
		}
		p{
			margin:0 0 14px;
			@include media(">=tablet") {
				margin:0;
			}
		}
		.btn{
			font-size: 18px;
			max-width: 265px;
			min-width: 0;
			padding-top: 4px;
			padding-bottom: 6px;
			width:100%;
			@include media(">=tablet") {
				display:block;
				// font-size: 20px;
				// margin:0 0 0 15px;
				max-width: none;
				min-width: 0;
				padding-top: 9px;
				padding-bottom: 9px;
				width:100%;
			}
			@include media(">=desktop") {
				font-size: 20px;
				// min-width: 240px;
			}
			// @include media(">=widescreen") {
			// 	min-width: 330px;
			// }
			+ .btn{
				margin-top: 5px;
			}
		}
		.btn-link{
			display:none;
			@include media(">=desktop") {
				background:none !important;
				border: 0;
				color:$base-gray;
				display:inline-block;
				font-size: 14px;
				font-weight:normal;
				padding:0;
				text-decoration:underline;
				width:auto;
			}
		}
	}
}

.casino-box-content{
	background:$white;
	box-shadow: 0 0 2px $shadow;
	color:$base-gray;
	font-size: 12px;
	text-align:center;
	@include media(">=tablet") {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
	    font-size: 18px;
	    // margin:0 auto;
	    // max-width: 1252px;
	}
	@include media(">=desktop") {
		font-size: 20px;
	}
	div{
		border: 0 solid $border-color-base;
	}
	.heading{
		align-self:stretch;
		border-width: 0 1px 0 0;
		float:left;
		min-height: 96px;
		width: 92px;
		padding:10px 0;
		@include media(">=tablet") {
			padding:20px 0;
			text-align:center;
			width:210px;
		}
		@include media(">=desktop") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: center;
		    align-items: center;
		    // min-width: 457px;
		    min-width: 36.5016%;
		    padding:32px 20px;
		}
	}
	.logo-holder{
		border-width: 1px;
		margin-bottom: 8px;
		width:40px;
		@include media(">=tablet") {
			width:100px;
		}
		@include media(">=desktop") {
			margin-bottom: 0;
			width:140px;
		}
	}
	.txt{
		@include media(">=desktop") {
			min-width: 210px;
			padding:0 0 0 20px;
			text-align:left;
		}
		.btn{
			display:none;
			@include media(">=tablet") {
				display:inline-block;
				font-size: 14px;
				min-width: 0;
				padding:8px 13px 7px;
			}
		}
	}
	h2{
		font-size: inherit;
		margin:0 0 4px;
		@include media(">=tablet") {
			font-size: 26px;
			margin:0 0 4px;
		}
		a{
			@include media(">=tablet") {
				text-decoration:none;
				&:hover {
					color:$theme-color-base;
				}
			}
		}
	}
	.stars{
		// width:53px;
		@include media(">=tablet") {
			font-size: 24px;
			margin-bottom: 15px;
			text-align:inherit;
		}
		// @include media(">=desktop") {
		// 	margin-left: 0;
		// }
		[class*="icon-"]{
			@include media(">=tablet") {
				margin:0 8px 0 0;
			}
		}
	}
	.cell{
		border-width: 1px 0 0;
		overflow:hidden;
		padding:5px 5px 7px;
	}
	.content{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: stretch;
		border-width: 0;
		min-height: 62px;
		@include media(">=tablet") {
			border-width: 0 0 0 1px;
			flex:1 1 auto;
			order:1;
			padding:0;
		}
		.sticker{
			display:none;
			@include media(">=tablet") {
				background:$theme-color-add;
				color:$headings-color;
				display:block;
				font-size: 14px;
				font-weight:500;
				padding:5px 15px;
			}
			> * {
				@include media(">=tablet") {
					display:inline;
					vertical-align:middle;
					margin:0 3px;
				}
			}
			[class*="icon-"]{
				@include media(">=tablet") {
					font-size: 18px;
				}
			}
		}
		.content-frame{
			@include media(">=tablet") {
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    // justify-content: flex-start;
			    align-content: stretch;
			    align-items: stretch;
				flex:1 1 auto;
				padding:10px 15px 20px;
			}
			p{
				@include media(">=tablet") {
					margin:0 0 18px;
				}
			}
		}
		.btn{
			display:none;
			@include media(">=tablet") {
				display:inline-block;
				align-self:center;
				font-size: 18px;
				max-width: 280px;
				min-width: 0;
				padding-top: 8px;
				padding-bottom: 7px;
				width:100%;
			}
		}
	}
	.desktop-middle{
		@include media(">=tablet") {
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
		    font-size: 18px;
		    letter-spacing: -0.035em;
		    width: 33.3333%;
		    // min-width: 412px;
		    text-align:left;
		}
		@include media(">=desktop") {
			font-size: 20px;
		    max-width: 32.9073%;
		    min-width: 32.9073%;
		    width:auto;
		}
		> div{
			@include media(">=tablet") {
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: stretch;
			    align-items: stretch;
			    flex: 1 1 auto;
			    // min-height: 50%;
			    padding:19px 29px;
			}
			&:first-child {
				@include media(">=tablet") {
					border-width: 0;
					// height:100%;
					// max-height: 50%;
					// padding-top: 10px;
					// padding-bottom: 10px;
				}
			}
		}
	}
	h3{
		font-size: 14px;
		margin:0 0 -2px;
		text-transform:uppercase;
		@include media(">=tablet") {
			font-size: 26px;
			margin:0 0 -3px;
		}
		@include media(">=desktop") {
			font-size: 30px;
		}
	}
	p{
		margin:0;
	}
	h4{
		color:$headings-color;
		font-size: 14px;
		font-weight:normal;
		margin:0;
		@include media(">=tablet") {
			font-size: inherit;
			// margin:-9px 0;
		}
		strong{
			color:$headings-color;
			font-weight:normal;
		}
	}
	.middle{
		border-width: 1px 0 0;
		flex: 0 1 100%;
		font-size: 14px;
		padding:12px 10px 10px;
		@include media(">=tablet") {
			flex:0 1 auto;
			font-size: inherit;
		}
		strong{
			color:$headings-color;
			font-weight:normal;
		}
		ul{
			font-size:12px;
			line-height:1.25;
			padding:1px 12px 0;
			text-align:left;
			@include media(">=tablet") {
				font-size: 16px;
				padding:0;
			}
			li{
				&:before {
					top:0;
					@include media(">=tablet") {
						top:3px;
					}
				}
				+ li{
					margin-top: 10px;
				}
			}
			+ ul{
				margin-top: 9px;
				@include media(">=tablet") {
					margin-top: 10px;
				}
			}
		}
		dl{
			color:$headings-color;
			font-size: 12px;
			font-weight:normal;
			margin:-5px 0 0;
			padding:0 12px;
			text-align:left;
			@include media(">=tablet") {
				font-size: 17px;
				padding:0;
			}
			dt{
				color:$base-gray;
				font-weight:200;
				margin:0 0 -6px;
				@include media(">=tablet") {
					font-size: inherit;
					font-weight:normal;
					margin:0 0 -1px;
				}
			}
			dd{
				font-size: 14px;
				margin:0 0 -1px;
				@include media(">=tablet") {
					font-size: 19px;
					margin:0 0 18px;
				}
			}
		}
	}
	.bottom{
		border-width: 1px 0 0;
		flex: 0 1 100%;
		padding:11px 15px 10px;
		@include media(">=tablet") {
			display:none;
		}
		.btn{
			font-size: 14px;
			min-width: 200px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

.casino-box-title{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	background:$white;
	box-shadow: 0 0 2px $shadow;
	color:$base-gray;
	font-size:12px;
	line-height:1.25;
	text-align:center;
	@include media(">=desktop") {
		font-size: 20px;
		// margin:0 auto;
		// max-width: 1252px; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	}
	.heading{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		border-right: 1px solid $border-color-base;
		min-width: 91px;
		// padding:23px 15px 20px;
		padding:15px;
		@include media(">=desktop") {
			// display: flex;
			flex-direction: row;
			// flex-wrap: nowrap;
			// justify-content: center;
			align-content: center;
			align-items: center;
			// min-width: 457px;
			min-width: 36.5016%;
		}
		.btn{
			display:none;
			@include media(">=desktop") {
				display:inline-block;
				font-size: 14px;
				min-width: 0;
				padding:8px 13px 6px;
			}
		}
		.note{
			display:block;
			font-size: 10px;
			line-height:1.2;
			padding:5px 0 0;
			@include media(">=tablet") {
				font-size: 14px;
				margin:-5px 0 9px;
				padding:0;
			}
			br{
				@include media(">=tablet") {
					display:none;
				}
			}
		}
	}
	.logo-holder{
		margin-bottom: 7px;
		@include media(">=desktop") {
			margin-bottom: 0;
			width:120px;
		}
	}
	.txt{
		@include media(">=desktop") {
			min-width: 225px;
			padding:0 0 12px 15px;
			text-align:left;
		}
	}
	h2{
		font-size: 12px;
		margin:0 0 4px;
		@include media(">=desktop") {
			font-size: 26px;
			margin:0;
		}
		a{
			@include media(">=desktop") {
				text-decoration:none;
			}
		}
	}
	.stars{
		// width:53px;
		@include media(">=desktop") {
			font-size: 24px;
			margin:0 0 8px -5px;
			text-align:left;
			// width:145px;
		}
		[class*="icon"]{
			@include media(">=desktop") {
				margin:0 4px;
			}
		}
	}
	.content{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: stretch;
		flex: 1 1 auto;
		padding:24px 15px 25px;
		position:relative;
		@include media(">=desktop") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			padding:0;
		}
	}
	.content-frame{
		@include media(">=desktop") {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: stretch;
			padding:10px 15px 15px;
			width:50%;
		}
	}
	h3{
		font-size: 18px;
		margin:0;
		text-transform:uppercase;
		@include media(">=tablet") {
			font-size: 30px;
		}
	}
	p{
		margin:0 0 14px;
		@include media(">=desktop") {
			margin:0;
		}
	}
	.button-holder{
		@include media(">=desktop") {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			border: 0 solid $border-color-base;
			border-width: 0 0 0 1px;
			position:relative;
			width:50%;
		}
	}
	.button-frame{
		@include media(">=desktop") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			flex:1 1 auto;
		}
	}
	.sticker{
		display:none;
		@include media(">=tablet") {
			background:$theme-color-add;
			color:$headings-color;
			display:block;
			font-size: 14px;
			font-weight:500;
			padding:5px 15px;
			position:absolute;
			right:0;
			width:50%;
		}
		> * {
			@include media(">=tablet") {
				display:inline;
				vertical-align:middle;
				margin:0 3px;
			}
		}
		[class*="icon-"]{
			@include media(">=tablet") {
				font-size: 18px;
			}
		}
		// display:none;
		// @include media(">=desktop") {
		// 	display: flex;
		//     flex-direction: row;
		//     flex-wrap: nowrap;
		//     justify-content: center;
		//     align-content: center;
		//     align-items: center;
		// 	background:$theme-color-add;
		// 	color:$headings-color;
		// 	font-size:14px;
		// 	line-height:1.1429;
		// 	padding:6px 7px 8px;
		// 	// width:50%;
		// }
		// &.new {
		// 	display:block;
		// 	// left:0;
		// 	position:absolute;
		// 	right:0;
		// 	text-align:left;
		// 	top:0;
		// 	width:100%;
		// 	@include media(">=desktop") {
		// 		background:none;
		// 		padding:0;
		// 		width:50%;
		// 	}
		// 	strong{
		// 		background:$theme-color-add;
		// 		color:$headings-color;
		// 		display:inline-block;
		// 		vertical-align:baseline;
		// 		font-size: 14px;
		// 		line-height:1;
		// 		margin:0 7px 0 0;
		// 		padding:5px 10px 3px;
		// 		text-transform:uppercase;
		// 	}
		// 	+ .frame{
		// 		margin-top: 18px;
		// 	}
		// }
		// > *{
		// 	@include media(">=desktop") {
		// 		display:block;
		// 		margin:0 4px;
		// 	}
		// }
		// [class*="icon-"]{
		// 	@include media(">=desktop") {
		// 		font-size: 20px;
		// 		margin:-5px 4px;
		// 	}
		// }
	}
	.btn{
		font-size: 14px;
		max-width: 189px;
		min-width: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		width:100%;
		@include media(">=desktop") {
			font-size: 18px;
			min-width: 280px;
			width:auto;
		}
	}
}

.bonus-box{
	background:$white;
	box-shadow: 0 0 3px $shadow;
	color:$base-gray;
	font-size: 12px;
	line-height:1.25;
	> .heading{
		padding:17px $gutter-width;
		p{
			margin:0;
		}
	}
	> .content{
		border: 0 solid $border-color-base;
		border-width: 1px 0;
	}
	> .footer{
		.btn{
			border-color: transparent;
			display:block;
			min-width: 0;
			padding-top: 20px;
			padding-bottom: 21px;
		}
	}
	h2{
		font-size: 18px;
		margin:0 0 2px;
		text-transform:uppercase;
	}
    ul{
    	padding:0;
    	li{
    		padding:0;
    		+ li{
    			border-top: 1px solid $border-color-base;
    		}
    		&:before {
    			display:none;
    		}
    	}
    }
	.single{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
    	align-items: stretch;
		text-align:center;
	    .heading{
	    	display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
			border-right: 1px solid $border-color-base;
			min-width: 92px;
			padding:10px 5px 13px;
	    }
	    .logo-holder{
	    	margin-bottom: 7px;
	    }
	    h3{
	    	font-size: 12px;
	    	margin:0 0 4px;
	    }
	    // .stars{
	    // 	width:53px;
	    // }
	    .content{
	    	display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
	    	flex: 1 1 auto;
	    }
	    .frame{
	    	display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: stretch;
	    	flex:1 1 auto;
	    }
	    h4{
	    	font-size: 18px;
	    	font-weight:normal;
	    	margin:0;
	    	text-transform:uppercase;
	    }
	    p{
	    	margin:2px 0 0;
	    }
	    .button-holder{
	    	padding:0 5px 13px;
	    }
	    .btn{
	    	font-size: 14px;
	    	min-width: 189px;
	    	padding-top: 4px;
	    	padding-bottom: 6px;
	    }
	}
}