#wrapper{
	max-width: 375px;
	overflow:hidden;
	@include media(">=tablet") {
		width:1440px;
		// margin: 0 auto;
	}
}

#main{
	position:relative;
	z-index:1;
}

section{
	> .holder{
		margin:0 auto;
		padding-right: 23px;
		padding-left: 23px;
	}
}

.section-intro{
	// height:200px;
	position:relative;
	.holder,
	.search-box{
		position:relative;
		z-index:5;
	}
	.holder{
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.casino-logo{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height:84px;
	}
	.search-box{
		background:$white;
		box-shadow:0 0 4px $shadow;
		> div{
			+ div{
				border-top: 1px solid $border-color-base;
			}
		}
		form{
			.form-content{
				padding:0 0 0 43px;
				position:relative;
				[class*="icon-"] {
					left:25px;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					z-index:5;
				}
				input[type=text]{
					border-width: 0;
					font-size:16px;
					height:47px;
					line-height:25px;
					padding-bottom:10px;
					padding-top:10px;
					position:relative;
					z-index:1;
					@include placeholder {
						color:$headings-color;
					}
				}
			}
		}
	}
	.bg-stretch{
		// background-position:50% 0;
		height:247px;
	}
}

.section-casinos-list{
	.holder{
		padding-top: 16px;
		padding-bottom: 20px;
	}
	.boxes-holder{
		margin:-5px -5px 0;
		padding:0 0 15px;
		> div{
			padding:5px;
		}
	}
	.load-more{
		padding-right: 13px;
		padding-left: 13px;
	}
}

.section-top-offer{
	background: linear-gradient(180deg, rgba(255,102,0,0.6) 0%, #FF6600 100%);
	.holder{
		padding-top: 27px;
		padding-bottom: 33px;
	}
	h1{
		margin:0 0 22px;
		text-transform:none;
	}
	.offer-casino-box{
		margin:0 0 20px;
	}
	.load-more{
		border-color: $white;
		color:$white;
		font-size: 14px;
		padding-top: 8px;
		&:hover {
			background:$white;
			color:#f60;
		}
	}
}

.section-games{
	background:$white;
	.holder{
		padding-top: 27px;
		padding-bottom: 30px;
	}
	.games-slider{
		// margin:0 -22px 0 -8px;
		// overflow:hidden;
		// padding:0 30px 0 0;
	}
	
	.slick-slide{
		ul{
			@extend %listreset;
			> li{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: center;
				align-items: center;
				padding:20px 16px 15px 21px;
				+ li{
					border-top: 1px solid $border-color-base;
				}
				> div{
					&:first-child {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-content: center;
						align-items: center;
					}
				}
			}
		}
		.logo-holder{
			width:35px;
		}
		.txt{
			padding:0 0 4px 18px;
		}
		h2{
			color:#4a4a4a;
			font-size: 15px;
			font-weight:500;
			margin:0 0 3px;
		}
		.btn{
			font-size: 14px;
			min-width: 105px;
			padding:5px;
		}
	}
	.load-more{
		margin-top: 3px;
	}
}

.section-bonuses{
	.holder{
		padding-top: 25px;
		padding-bottom: 29px;
	}
	.boxes-holder{
		padding:5px 0 10px;
		> div{
			padding:0 0 10px;
		}
	}
}

.section-bonus-calc{
	background:#e5eae8;
	line-height:1.2143;
	position:relative;
	.holder{
		padding:34px 42px 12px;
	}
	h1{
		font-size:20px;
		margin:0 0 4px;
	}
	p{
		margin:0 0 10px;
	}
	form{
		margin:0 auto;
		max-width: 291px;
		input[type=text]{
			padding-right: 9px;
			padding-left: 9px;
		}
		.btn{
			font-size:14px;
			font-weight:500;
			padding-top: 8px;
			width:100%;
		}
	}
	.sticker{
		background:$theme-color-add;
		box-shadow: 0 0 1px $shadow;
		color:#383a3a;
		font-size: 12px;
		font-weight:bold;
		left:0;
		line-height:1;
		padding:3px 11px 2px 19px;
		position:absolute;
		text-transform:uppercase;
		top:10px;
	}
}

.section-payments{
	background:$white;
	.holder{
		padding-top: 23px;
		padding-bottom: 21px;
	}
	.payments-holder{
		padding:0 0 12px;
		> div{
			padding:0 0 7px;
		}
	}
}

.section-recent-news{
	.holder{
		padding-top: 34px;
		padding-bottom: 21px;
	}
	.boxes-holder{
		padding:13px 0 10px;
		> div{
			padding:0 0 10px;
		}
	}
}

.section-promo{
	background:$white;
	line-height:1.2143;
	text-align:center;
	.holder{
		padding:42px 42px 22px;
	}
	[class*="icon-"]{
		color:$theme-color-base;
		font-size:42px;
		margin:0 0 18px;
	}
	h1{
		font-size: 20px;
		line-height:1.3;
		margin:0 0 5px;
	}
	p{
		margin:0 0 30px;
	}
	form{
		.btn{
			width:100%;
		}
	}
}

.section-refer{
	color:#9b9b9b;
	font-size:12px;
	line-height:1.3333;
	padding:30px 23px 30px;
	.holder{
		background:$white;
		border-radius: 2px;
		box-shadow: 0 1px 2px $shadow;
		padding:16px 18px 20px;
	}
	.left{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
	}
	.icon-holder{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	.icon-gift{
		background:$base-gray;
		display:block;
		height:65px;
		width:68px;
	}
	.content{
		flex:1 1 auto;
		padding:0 0 0 27px;
	}
	h1{
		color:#4a4a4a;
		font-size: 15px;
		margin:0 0 5px;
		text-transform:none;
	}
	p{
		margin:0 0 14px;
	}
	.btn{
		font-size: 14px;
		min-width: 189px;
		padding:4px 42px 6px;
	}
}