#wrapper{
	width: 375px;
	@include media(">=tablet") {
		width:1200;
	}
}


.payments-list{
	overflow:hidden;
	@extend %listreset;
	li{
		float:left;
		margin:0 10px 10px 0;
	}
	a{
		border: 1px solid $theme-color-base;
		color:#4a4a4a;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height:32px;
		width:71px;
	}
}

.bg-stretch{
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
}

.text-center{
	text-align:center;
}

.text-right{
	text-align:right;
}

.read-more-button{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	font-size:12px;
	padding:8px 15px 10px;
	&:hover {
		color:$base-link-color;
		[class*="icon-"]{
			color:$base-link-hover-color;
		}
	}
	> span{
		&:nth-child(2) {
			flex: 1 1 auto;
		}
	}
	.count{
		font-size: 32px;
		font-weight:500;
		line-height:1;
		min-width: 82px;
		text-align:center;
	}
	.content{
		color:$base-gray;
		padding:0 0 0 15px;
	}
	.title{
		color:$headings-color;
		display:block;
		font-size: 16px;
		font-weight:500;
		margin:0 0 -3px;
		text-transform:uppercase;
	}
	[class*="icon-"]{
		display:inline-block;
		vertical-align:top;
		font-size: 16px;
	}
}

.hidden-sm{
	display:none !important;
	@include media(">=tablet") {
		display:block !important;
	}
}

.slick-dots{
	font-size:0;
	line-height:0;
	padding:15px 0;
	text-align:center;
	@extend %listreset;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 5px;
		&.slick-active,
		&:hover {
			button{
				background:$theme-color-base;
			}
		}
	}
	button{
		background:$border-color-base;
		border-radius: 100%;
		border: 0;
		display:block;
		height:11px;
		margin:0;
		padding:0;
		width:11px;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section-intro{
	// height:200px;
	padding:0 21px;
	position:relative;
	.holder,
	.search-box{
		position:relative;
		z-index:5;
	}
	.holder{
		padding:29px 0 14px;
	}
	.search-box{
		background:$white;
		box-shadow:0 0 4px $shadow;
		> div{
			+ div{
				border-top: 1px solid $border-color-base;
			}
		}
		form{
			.form-content{
				padding:0 0 0 43px;
				position:relative;
				[class*="icon-"] {
					left:25px;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					z-index:5;
				}
				input[type=text]{
					border-width: 0;
					font-size:16px;
					height:47px;
					line-height:25px;
					padding-bottom:10px;
					padding-top:10px;
					position:relative;
					z-index:1;
					@include placeholder {
						color:$headings-color;
					}
				}
			}
		}
	}
	.bg-stretch{
		height:247px;
	}
}

.section-casinos-list{
	.holder{
		padding:50px 23px 20px;
	}
}

.section-top-offer{
	background: linear-gradient(180deg, rgba(255,102,0,0.6) 0%, #FF6600 100%);
	.holder{
		padding:10px 23px 20px;
	}
	.offer-casino-box{
		margin:0 0 20px;
	}
	.btn-secondary{
		border-color: $white;
		color:$white;
	}
}

.section-games{
	background:$white;
	.holder{
		padding:50px 22px 20px;
	}
	.games-slider{
		margin:50px 0 0 -8px;
		overflow:hidden;
		padding:0 30px 0 0;
	}
	.slick-list{
		overflow:visible;
	}
	.slick-slide{
		padding:5px 8px;
		ul{
			@extend %listreset;
			> li{
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: space-between;
			    align-content: center;
			    align-items: center;
			    padding:16px 16px 17px 21px;
			    + li{
			    	border-top: 1px solid $border-color-base;
			    }
			    > div{
			    	&:first-child {
			    		display: flex;
					    flex-direction: row;
					    flex-wrap: nowrap;
					    justify-content: flex-start;
					    align-content: center;
					    align-items: center;
			    	}
			    }
			}
		}
		.logo-holder{
			width:35px;
		}
		.txt{
			padding:0 0 4px 18px;
		}
		h2{
			color:#4a4a4a;
			font-size: 15px;
			font-weight:500;
			margin:0 0 5px;
		}
		.btn{
			font-size: 14px;
			padding:5px 11px;
		}
	}
}

.section-bonuses{
	.holder{
		padding:10px 23px 20px;
	}
	.boxes-holder{
		> div{
			padding:0 0 10px;
		}
	}
}

.section-bonus-calc{
	background:#e5eae8;
	position:relative;
	.holder{
		padding:10px 15px 20px;
	}
	h1{
		margin:0 0 10px;
	}
	p{
		margin:0 0 10px;
	}
	form{}
	.sticker{
		background:$theme-color-add;
		box-shadow: 0 0 1px $shadow;
		color:#383a3a;
		font-size: 12px;
		font-weight:bold;
		left:0;
		padding:0 11px 0 19px;
		position:absolute;
		text-transform:uppercase;
		top:10px;
	}
}