#wrapper{
	background:#f5f7f6;
	overflow:hidden;
	max-width: 320px;
	@include media(">=375px") {
		max-width: 375px;
	}
	@include media(">=tablet") {
		max-width: 992px;
	}
	@include media(">=widescreen") {
		max-width:1440px;
	}
}

#main{
	position:relative;
	z-index:1;
}

.subsection,
section{
	> .holder{
		padding-right: $gutter-width;
		padding-left: $gutter-width;
		@include media(">=tablet") {
			margin:0 auto;
			// max-width: 1440px;
			max-width: 1400px;
		}
	}
}

.section-intro2{
	background:$white;
	// min-height: 247px;
	position:relative;
	> .bg-stretch{
		// background-position:50% 0;
		height:247px;
		@include media(">=tablet") {
			height:278px;
		}
	}
}

.section-intro{
	background:$white;
	min-height: 247px;
	overflow:hidden;
	position:relative;
	.holder,
	.search-box{
		position:relative;
		z-index:5;
	}
	.holder{
		padding-top: 14px;
		padding-bottom: 14px;
		@include media(">=desktop") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: flex-start;
		    align-items: flex-start;
		    padding-top: 43px;
		    padding-bottom: 19px;
		    position:relative;
		    z-index:5;
		}
		> .content{
			@include media(">=tablet") {
				min-width: 588px;
			}
		}
	}
	.casino-logo{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height:84px;
		@include media(">=desktop") {
			// display: flex;
		    // flex-direction: row;
		    // flex-wrap: nowrap;
		    // justify-content: center;
		    // align-content: center;
		    // align-items: center;
			flex:1 1 auto;
			order: 1;
			min-height: 258px;
			padding:0 $gutter-width;
		}
	}
	.casino-review-box{
		@include media(">=desktop") {
			width:890px;
		}
	}
	.search-box{
		background:$white;
		box-shadow:0 0 4px $shadow;
		> div{
			+ div{
				border-top: 1px solid $border-color-base;
			}
		}
		form{
			.form-content{
				padding:0 0 0 43px;
				position:relative;
				[class*="icon-"] {
					left:25px;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					z-index:5;
				}
				input[type=text]{
					border-width: 0;
					font-size:16px;
					height:47px;
					line-height:25px;
					padding-bottom:10px;
					padding-top:10px;
					position:relative;
					z-index:1;
					@include placeholder {
						color:$headings-color;
					}
				}
			}
		}
	}
	.read-more-button{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		font-size:12px;
		padding:8px 15px 10px;
		text-decoration:none;
		&:hover {
			color:$base-link-color;
			[class*="icon-"]{
				color:$theme-color-base-lighten;
			}
		}
		> span{
			&:nth-child(2) {
				flex: 1 1 auto;
			}
		}
		.count{
			color:$theme-color-base;
			font-size: 32px;
			font-weight:500;
			line-height:1;
			min-width: 82px;
			text-align:center;
		}
		.content{
			color:$base-gray;
			padding:0 0 0 15px;
		}
		.title{
			color:$headings-color;
			display:block;
			font-size: 16px;
			font-weight:500;
			margin:0 0 -3px;
			text-transform:uppercase;
		}
		[class*="icon-"]{
			display:inline-block;
			vertical-align:top;
			font-size: 16px;
		}
	}
	.game-box{
		max-width: 562px;
	}
	> .bg-stretch{
		// background-position:50% 0;
		height:247px;
		@include media(">=tablet") {
			height:278px;
		}
	}
}

.section-casinos-list{
	.holder{
		padding-top: 16px;
		padding-bottom: 20px;
	}
	.boxes-holder{
		margin:-5px -5px 0;
		padding:0 0 15px;
		> div{
			padding:5px;
		}
	}
	.load-more{
		padding-right: 13px;
		padding-left: 13px;
	}
}

.section-top-offer{
	background: linear-gradient(180deg, rgba(255,102,0,0.6) 0%, #FF6600 100%);
	.holder{
		padding-top: 27px;
		padding-bottom: 33px;
	}
	h1{
		margin:0 0 22px;
		text-transform:none;
	}
	.offer-casino-box{
		margin:0 0 20px;
	}
	.load-more{
		border-color: $white;
		color:$white;
		font-size: 14px;
		padding-top: 8px;
		&:hover {
			background:$white;
			color:#f60;
		}
	}
}

.section-games{
	background:$white;
	.holder{
		padding-top: 27px;
		padding-bottom: 30px;
	}
	.games-slider{
		// margin:0 -22px 0 -8px;
		// overflow:hidden;
		// padding:0 30px 0 0;
	}
	
	.slick-slide{
		ul{
			@extend %listreset;
			> li{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: center;
				align-items: center;
				padding:20px 16px 15px 21px;
				+ li{
					border-top: 1px solid $border-color-base;
				}
				> div{
					&:first-child {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-content: center;
						align-items: center;
					}
				}
			}
		}
		.logo-holder{
			width:35px;
		}
		.txt{
			padding:0 0 4px 18px;
		}
		h2{
			color:#4a4a4a;
			font-size: 15px;
			font-weight:500;
			margin:0 0 3px;
		}
		.btn{
			font-size: 14px;
			min-width: 105px;
			padding:5px;
		}
	}
	.load-more{
		margin-top: 3px;
	}
}

.section-bonuses{
	.holder{
		padding-top: 25px;
		padding-bottom: 29px;
	}
	.boxes-holder{
		padding:5px 0 10px;
		> div{
			padding:0 0 10px;
		}
	}
}

.section-bonus-calc{
	background:#e5eae8;
	line-height:1.2143;
	position:relative;
	.holder{
		padding:34px 42px 12px;
	}
	h1{
		font-size:20px;
		margin:0 0 4px;
	}
	p{
		margin:0 0 10px;
	}
	form{
		margin:0 auto;
		max-width: 291px;
		input[type=text]{
			padding-right: 9px;
			padding-left: 9px;
		}
		.btn{
			font-size:14px;
			font-weight:500;
			padding-top: 8px;
			width:100%;
		}
	}
	.sticker{
		background:$theme-color-add;
		box-shadow: 0 0 1px $shadow;
		color:#383a3a;
		font-size: 12px;
		font-weight:bold;
		left:0;
		line-height:1;
		padding:3px 11px 2px 19px;
		position:absolute;
		text-transform:uppercase;
		top:10px;
	}
}

.section-payments{
	background:$white;
	.holder{
		padding-top: 23px;
		padding-bottom: 21px;
	}
	.payments-holder{
		padding:0 0 12px;
		> div{
			padding:0 0 7px;
		}
	}
}

.section-recent-news{
	.holder{
		padding-top: 34px;
		padding-bottom: 21px;
	}
	.boxes-holder{
		padding:13px 0 10px;
		> div{
			padding:0 0 10px;
		}
	}
}

.section-promo{
	background:$white;
	border-top:1px solid $border-color-base;
	line-height:1.2143;
	text-align:center;
	@include media(">=tablet") {
		font-size: 20px;
	}
	.holder{
		padding:42px 42px 22px;
		@include media(">=tablet") {
			padding:50px 42px 29px;
		}
	}
	[class*="icon-"]{
		color:$theme-color-base;
		font-size:42px;
		margin:0 0 18px;
		@include media(">=tablet") {
			font-size: 64px;
			margin:0 0 27px;
		}
	}
	h1{
		font-size: 20px;
		line-height:1.3;
		margin:0 0 5px;
		@include media(">=tablet") {
			font-size: 26px;
			margin:0 0 12px;
		}
	}
	p{
		margin:0 0 30px;
		@include media(">=tablet") {
			margin:0 0 35px;
		}
	}
	form{
		@include media(">=tablet") {
			margin:0 auto;
			max-width: 380px;
		}
		.btn{
			width:100%;
			@include media(">=tablet") {
				font-size: 18px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

.section-refer{
	color:#9b9b9b;
	font-size:12px;
	line-height:1.3333;
	padding:30px 23px 30px;
	@include media(">=tablet") {
		font-size: 14px;
		padding:0;
	}
	.holder{
		background:$white;
		border-radius: 2px;
		box-shadow: 0 1px 2px $shadow;
		padding:16px 18px 20px;
		@include media(">=tablet") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: center;
		    align-items: center;
			// max-width: 1356px;
			max-width: 1392px;
			background:none;
			box-shadow: none;
			padding:28px 41px 13px;
		}
	}
	.left{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		@include media(">=tablet") {
			align-content: flex-start;
    		align-items: flex-start;
		}
	}
	.icon-holder{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		@include media(">=tablet") {
			margin:-4px 0 0;
		}
	}
	.icon-gift{
		background:$base-gray;
		display:block;
		height:65px;
		width:68px;
		@include media(">=tablet") {
			height:53px;
			width:56px;
		}
	}
	.content{
		flex:1 1 auto;
		padding:0 0 0 27px;
		@include media(">=tablet") {
			padding:0 0 0 21px;
		}
		.btn{
			@include media(">=tablet") {
				display:none;
			}
		}
	}
	h1{
		color:#4a4a4a;
		font-size: 15px;
		margin:0 0 5px;
		text-transform:none;
		@include media(">=tablet") {
			font-size: 22px;
			font-weight:500;
			margin:0 0 2px;
		}
	}
	p{
		margin:0 0 14px;
	}
	.btn{
		font-size: 14px;
		max-width: 189px;
		min-width: 0;
		padding-top: 4px;
		padding-bottom: 6px;
		width:100%;
		@include media(">=tablet") {
			font-size: 18px;
			max-width: none;
			min-width: 291px;
			padding-top: 8px;
			padding-bottom: 8px;
			width:auto;
		}
	}
	.right{
		display:none;
		@include media(">=tablet") {
			display:block;
			padding:0 0 0 15px;
		}
	}
}

.section-breadcrumbs{
	display:none;
	@include media(">=desktop") {
		box-shadow: 0 1px 2px rgba($black,0.22);
		color:$base-gray;
		display:block;
		font-size:16px;
		line-height:1.125;
		position:relative;
		z-index:10;
	}
	> .holder{
		@include media(">=desktop") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: flex-start;
		    align-items: flex-start;
		    padding-top: 14px;
		    padding-bottom: 17px;
		}
	}
	.breadcrumbs{
		li{
			@include media(">=desktop") {
				display:inline-block;
				vertical-align:top;
				padding:0 4px 0 18px;
				position:relative;
			}
			&:first-child {
				@include media(">=desktop") {
					padding-left: 0;
					&:before {
						display:none;
					}
				}
			}
			&:before {
				@include media(">=desktop") {
					color:$theme-color-base;
					content: '>';
					left:0;
					position:absolute;
					top:0;
				}
			}
		}
		a{
			@include media(">=desktop") {
				color:$base-text-color;
				font-weight:500;
				text-decoration:none;
			}
			&:hover {
				@include media(">=desktop") {
					color:$theme-color-base;
				}
			}
		}
	}
	p{
		@include media(">=desktop") {
			margin:0;
		}
		strong{
			@include media(">=desktop") {
				color:$base-text-color;
			}
		}
	}
}