#navigation-links{
	padding:30px;
	#header & {
		left:0;
		padding:5px 5px 0;
		position:fixed;
		top:0;
		z-index:50;
	}
	li{
		margin:0 0 15px;
		overflow:visible;
		&:before {
			display:none;
		}
	}
	a{
		// background:white;
		// box-shadow: 0 0 10px #000;
		// color:$theme-color-base;
		// padding:$btn-padding;
		// text-decoration:none;
	}
}

.payments-list{
	overflow:hidden;
	@extend %listreset;
	&.large {
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
	    font-size: 12px;
	    margin:-4px 0 21px;
	    @include media(">=tablet") {
	    	font-size: 16px;
	    	margin:-4px 0 16px;
	    }
	    li{
	    	margin:0;
	    	padding:4px;
	    	width:33.3333%;
	    }
		a{
		    flex-direction: column;
		    flex-wrap: wrap;
			background:$white;
			border: 0;
			box-shadow: 0 0 3px $shadow;
			height:111px;
			width:auto;
			@include media(">=tablet") {
				height:117px;
			}
			&:hover {
				.logo-holder{
					border-color: $theme-color-base
				}
			}
		}
		.logo-holder{
			display: flex;
		    flex-direction: column;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
			height:50px;
			margin-bottom:5px;
		}
	}
	li{
		float:left;
		margin:0 10px 10px 0;
	}
	a{
		border: 1px solid $border-color-base;
		color:#4a4a4a;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height:32px;
		text-decoration:none;
		width:71px;
		&:hover {
			border-color: $theme-color-base;
			color:$theme-color-base;
		}
	}
}

.bg-stretch{
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
}

.img-stretch{
	img{
		left:0;
		max-width: none;
		position:absolute;
		top:0;
		width:100%;
		z-index:1;
	}
}

.text-center{
	text-align:center;
}

.text-right{
	text-align:right;
}

.section-heading{
	padding:0 0 14px;
	h1{
		margin:0 0 1px !important;
	}
}

.anchor-links{
	background:$white;
	border-bottom: 1px solid $border-color-base;
	color:$base-gray;
	font-size:18px;
	letter-spacing: -0.025em;
	line-height:1.1111;
	// margin:0 0 -1px;
	position:relative;
	z-index:5;
	.holder{
		overflow:auto;
		padding:0 23px;
		@include media(">=tablet") {
			margin:0 auto;
			max-width: 1400px;
			padding:0 $gutter-width;
		}
		@include media(">=desktop") {
			overflow:visible;
		}
	}
	ul{
		white-space: nowrap;
		li{
			display:inline-block;
			margin:0 15px 0 0;
			padding:0;
			@include media(">=tablet") {
				margin:0 20px 0 0;
			}
			@include media(">=widescreen") {
				margin:0 43px 0 0;
			}
			&[class*="active"] {
				a{
					border-bottom-color: $theme-color-base;
					color:$theme-color-base;
				}
			}
			&:hover {
				a{
					color:$theme-color-base;
				}
			}
			&:before {
				display:none;
			}
		}
		a{
			border-bottom: 1px solid transparent;
			color:inherit;
			display:inline-block;
			vertical-align:top;
			padding:0 0 7px;
			text-decoration:none;
			@include media(">=tablet") {
				padding:20px 0 17px;
			}
		}
	}
}

.languages-list{
	font-size:0;
	line-height:1;
	@extend %listreset;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 10px 10px 0;
	}
	img{
		max-width: none;
	}
}

.casino-description{
	margin:0 0 -9px;
	@include media(">=tablet") {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		font-size:16px;
		line-height:1.5556;
		margin:0 -6px -11px;
		padding:16px 0 0;
	}
	@include media(">=desktop") {
		font-size: 18px;
	}
	&.large {
		> div {
			@include media(">=tablet") {
				padding:0;
				width:100%;
			}
		}
		.heading{
			@include media(">=tablet") {
				min-width: 348px;
			}
		}
	}
	> div{
		@include media(">=tablet") {
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
			padding:0 6px;
			width:50%;
		}
		&:only-child {
			@include media(">=tablet") {
				width:100%;
			}
		}
	}
	.row{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
	    padding:0 0 9px;
	    @include media(">=tablet") {
	    	padding:0 0 11px;
	    }
		+ .row{
			&:last-child {
				@include media(">=tablet") {
					flex:1 1 auto;
				}
			}
		}
	}
	.heading{
		background:#f2f5f4;
		min-width: 144px;
		padding:13px;
		@include media(">=tablet") {
			min-width: 165px;
		}
		@include media(">=desktop") {
			min-width: 221px;
			padding:18px 20px;
		}
		strong{
			font-weight:normal;
		}
	}
	.content{
		border: 1px solid $border-color-base;
		flex:1 1 auto;
		padding:13px 15px 5px;
		@include media(">=desktop") {
			border: 0;
			box-shadow: 0 0 2px $shadow;
			padding:18px 20px 16px;
		}
	}
	p{
		margin:0;
	}
}

.games-list{
	font-size: 16px;
	line-height:1;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 6px 10px 0;
		@include media(">=tablet") {
			margin-right: 10px;
		}
	}
	a{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
		border: 1px solid $border-color-base;
		height:32px;
		width:71px;
		text-decoration:none;
		@include media(">=tablet") {
			height:44px;
			width:97px;
		}
		&:hover {
			background:$border-color-base;
			color:$white;
		}
	}
}

.devices-list{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    @include media(">=tablet") {
    	display:block;
    	font-size:18px;
    	font-weight:500;
    	line-height:1;
    	padding:7px 0;
    	text-transform:uppercase;
    }
    li{
    	margin:0 21px 21px 0;
    	@include media(">=tablet") {
    		margin-right: 0;
    	}
	    > span{
	    	@include media(">=tablet") {
	    		border: 2px solid $btn-secondary-border;
	    		display:block;
	    		padding:16px 15px 17px 108px;
	    		position:relative;
	    	}
	    }
    }
    img{
    	@include media(">=tablet") {
    		left:53px;
    		position:absolute;
    		top:50%;
    		transform:translate(-50%, -50%);
    	}
    }
    .txt{
    	display:none;
    	@include media(">=tablet") {
    		display:block;
    	}
    }
}

.mobile-stores-list{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    li{
    	margin:0 9px 0 0;
    	@include media(">=tablet") {
    		margin-bottom: 12px;
    	}
    }
    a{
    	display:block;
    	width:118px;
    }
}

.support-list{
	font-size:16px;
	line-height:1.125;
	padding:5px 0 9px;
	@include media(">=tablet") {
		padding-bottom: 7px;
	}
	li{
		padding:0 0 9px;
		@include media(">=tablet") {
			display:inline-block;
			vertical-align:top;
			margin:0 2px 0 0;
		}
	}
	a{
		box-shadow: 0 1px 2px $shadow;
		display:block;
		padding:18px 15px 16px 71px;
		position:relative;
		text-decoration:none;
		@include media(">=tablet") {
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
		    box-shadow: 0 0 3px $shadow;
		    padding:10px;
		    height:120px;
			width:205px;
			&:hover {
				box-shadow: 0 0 10px $shadow;
			}
		}
	}
	[class*="icon-"]{
		left:11px;
		position:absolute;
		text-align:center;
		top:50%;
		transform:translateY(-50%);
		width:50px;
		@include media(">=tablet") {
			display:block;
			left: auto;
			margin:0 0 10px;
			position:relative;
			top: auto;
			transform:none;
			width:auto;
		}
		&:after {
			background:$theme-color-base;
			border: 2px solid $white;
			border-radius: 100%;
			color:$white;
			content: 'V';
			font-size:10px;
			line-height:20px;
			position:absolute;
			right:-5px;
			top:-5px;
			width:24px;
		}
	}
	.icon-email{
		font-size: 38px;
		&:after {
			right:-12px;
			top:-6px;
		}
	}
	.content{
		display:block;
	}
}

.stars{
	display:block;
	margin:0 auto;
}

// .boxes-holder{
// 	&.grid {
// 		@include media(">=tablet") {
// 			display: flex;
// 		    flex-direction: row;
// 		    flex-wrap: wrap;
// 		    justify-content: flex-start;
// 		    align-content: flex-start;
// 		    align-items: flex-start;
// 		}
// 		> div{
// 			@include media(">=tablet") {
// 				padding:5px;
// 			}
// 		}
// 	}
// 	> div{
// 		padding:0 0 10px;
// 	}
// }

.offer-sticker{
	background:$theme-color-add;
	display:block;
	font-size: 13px;
	font-weight:200;
	letter-spacing: -0.02em;
	margin:18px 0 11px;
	padding:6px 9px 5px 0;
	position:relative;
	@include media(">=tablet") {
		box-shadow: 0 1px 1px $shadow;
		display:inline-block;
		vertical-align:top;
		font-size: 18px;
		padding:5px 29px 9px 0;
	}
	&[class*="icon-"] {
		padding-left: 21px;
		&:before {
			background:$base-gray;
			content: '';
			height:15px;
			left:0;
			position:absolute;
			top:4px;
			width:14px;
		}
	}
	&:after {
		background:$theme-color-add;
		bottom:0;
		content: '';
		right:100%;
		position:absolute;
		top:0;
		width:100%;
		@include media(">=tablet") {
			box-shadow: 0 1px 1px $shadow;
			width:9999px;
		}
	}
	strong{
		font-weight:normal;
	}
}

.back-to-top{
	background:$white;
	border-radius: 100%;
	box-shadow: 0 0 5px $shadow;
	bottom:10px;
	height:50px;
	position:fixed;
	right:10px;
	width:50px;
	z-index:1;
	@include media(">=desktop") {
		display:none;
	}
	span{
		&,
		&:before {
			border: 0 solid $theme-color-base;
			border-width: 1px 0 0 1px;
			// bottom:10px;
			display:block;
			height:16px;
			left:50%;
			margin:-5px 0 0 -8px;
			position:absolute;
			top:50%;
			transform:rotate(45deg);
			width:16px;
		}
		&:before {
			animation:2s arrow infinite;
			border-width: 1px 0 0 1px;
			content: '';
			height:10px;
			margin:-5px 0 0 -5px;
			transform:none;
			width:10px;
		}
	}
}

@keyframes arrow {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(10px, 10px)
	}
}

@-webkit-keyframes arrow {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(10px, 10px)
	}
}