#footer {
	background:$base-background-color;
	color:$white;
	font-size: 12px;
	line-height:1.4167;
	text-align:center;
	.holder{
		padding: 0 $gutter-width;
		// @include media(">=tablet") {
		// 	padding:0 25px;
		// }
	}
	a{
		color:inherit;
		text-decoration:none;
		&:hover {
			text-decoration:underline;
		}
	}
}

.footer-top{
	border-bottom:1px solid #9B9B9B;
	// color: $white;
	padding:28px 0 32px;
	// @include media(">=tablet") {
	// 	display:flex;
	// 	justify-content:space-between;
	// }
	// .title{
	// 	display:block;
	// 	font-size: 14px;
	// 	margin: 0 0 10px;
	// }
	// p{
	// 	margin: 0 0 25px;
	// }
	// .box-left{
	// 	max-width: 355px;
	// 	margin: 0 auto;
	// 	@include media(">=tablet") {
	// 		text-align:left;
	// 		margin: 0;
	// 	}
	// }
	.footer-nav{
		font-size: 14px;
		line-height:1.2143;
		margin:0 -#{$gutter-width} 25px;
		text-align:center;
		@extend %listreset;
		// @include media(">=tablet") {
		// 	justify-content: flex-start;
		// 	margin: 0 -10px 22px;
		// }
		li{
			display:inline-block;
			vertical-align:top;
			position: relative;
			padding:0 6px 0 10px;
			&:first-child {
				&:before {
					display:none;
				}
			}
			&:before {
				background:$white;
				content: '';
				height:12px;
				left:0;
				margin:0;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:2px;
			}
			// a{
			// 	color: #ffffff;
			// 	font-size: 14px;
			// 	line-height:16px;
			// }
		}
	}
	p{
		margin:0 0 27px;
	}
	.title{
		display:block;
		font-size: 14px;
		font-weight:normal;
		margin:0 0 17px;
	}
	.social-networks{
		font-size:18px;
		line-height:1;
		// @extend %listreset;
		li{
			display:inline-block;
			vertical-align:top;
			padding:0 2px;
		}
		a{
			border: 2px solid $white;
			border-radius: 100%;
			color:$white;
			display:block;
			height:38px;
			position:relative;
			width:38px;
			&:hover {
				background:$white;
				&:before {
					color:$base-background-color;
				}
			}
			&:before {
				left:50%;
				position:absolute;
				top:50%;
				transform:translate(-50%, -50%);
			}
		}
	}
}

.footer-bottom{
	padding:29px 0;
	// @include media(">=tablet") {
	// 	display:flex;
	// 	justify-content:space-between;
	// 	align-items:center;
	// }
	// .item-widget{
	// 	list-style:none;
	// 	margin:0 0 20px;
	// 	padding:0;
	// 	display:flex;
	// 	justify-content:center;
	// 	align-items: center;
	// 	@include media(">=tablet") {
	// 		justify-content:center;
	// 	}
	// 	li{
	// 		padding:0 5px;
	// 	}
	// }
	.logos-list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
	    margin:0 -10px 26px;
		// @extend %listreset;
		li{
			// display:inline-block;
			// vertical-align:top;
			margin:0 8px;
		}
	}
	.copyright{
		font-size: 13px;
		font-weight:300;
	}
}