#footer{
	position:relative;
	z-index:1;
	.footer {
		background:$base-background-color;
		color:$white;
		font-size: 12px;
		line-height:1.4167;
		text-align:center;
		@include media(">=tablet") {
			font-size:14px;
			line-height:1.2143;
			padding:36px 0;
			text-align:left;
		}
		.holder{
			padding: 0 $gutter-width;
			@include media(">=tablet") {
				margin:0 auto;
				max-width: 1392px;
			}
		}
		a{
			color:inherit;
			text-decoration:none;
			&:hover {
				text-decoration:underline;
			}
		}
	}
}

.footer-top{
	border-bottom:1px solid #9B9B9B;
	// color: $white;
	padding:28px 0 32px;
	@include media(">=tablet") {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: flex-start;
	    align-items: flex-start;
	    padding:0 18px 31px;
	}
	> div{
		@include media(">=tablet") {
			width:50%;
		}
		&:first-child {
			@include media(">=tablet") {
				max-width: 450px;
			}
		}
		&:last-child {
			@include media(">=tablet") {
				max-width: 294px;
				text-align:center;
			}
		}
	}
	.footer-nav{
		font-size: 12px;
		line-height:1.2143;
		margin:0 -#{$gutter-width} 25px;
		@extend %listreset;
		@include media(">=375px") {
			font-size: 14px;
		}
		@include media(">=tablet") {
			margin:0 0 13px;
			text-align:left;
		}
		li{
			display:inline-block;
			vertical-align:top;
			position: relative;
			padding:0 6px 0 10px;
			&:first-child {
				@include media(">=tablet") {
					padding-left: 0;
				}
				&:before {
					display:none;
				}
			}
			&:before {
				background:$white;
				content: '';
				height:12px;
				left:0;
				margin:0;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:1px;
			}
			// a{
			// 	color: #ffffff;
			// 	font-size: 14px;
			// 	line-height:16px;
			// }
		}
	}
	p{
		margin:0 0 27px;
		@include media(">=tablet") {
			margin:0;
		}
	}
	.title{
		display:block;
		font-size: 14px;
		font-weight:normal;
		margin:0 0 17px;
		@include media(">=tablet") {
			font-size: 16px;
			margin:0 0 19px;
		}
	}
	.social-networks{
		font-size:18px;
		line-height:1;
		// @extend %listreset;
		li{
			display:inline-block;
			vertical-align:top;
			padding:0 2px;
			@include media(">=tablet") {
				padding:0 3px;
			}
		}
		a{
			border: 2px solid $white;
			border-radius: 100%;
			color:$white;
			display:block;
			height:38px;
			position:relative;
			width:38px;
			&:hover {
				background:$white;
				&:before {
					color:$base-background-color;
				}
			}
			&:before {
				left:50%;
				position:absolute;
				top:50%;
				transform:translate(-50%, -50%);
			}
		}
	}
}

.footer-bottom{
	padding:29px 0;
	@include media(">=tablet") {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: center;
	    align-items: center;
		padding:9px 9px 0;
	}
	.logos-list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
	    margin:-8px -10px 18px;
		@include media(">=tablet") {
			margin:0;
		}
		li{
			// display:inline-block;
			// vertical-align:top;
			margin:8px;
		}
	}
	.copyright{
		font-size: 13px;
		font-weight:300;
		margin:0;
	}
}