#header{
	// height:60px;// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	position:relative;
	z-index:5;
	&.casino-review {
		.offer-box {
			display:none;
		}
	}
}

.popup{
	&.closed {
		display:none;
	}
	// bonus
}

.header-bonus-box{
	background:$white;
	box-shadow: 0 1px 2px $shadow;
	color:$base-gray;
	// display:none;
	font-size:12px;
	letter-spacing: -0.03em;
	line-height:1.25;
	left:0;
	position:fixed;
	top:0;
	// max-width: 1440px;
	width:100%;
	z-index:5;
	.admin-bar & {
		top:46px;
		@include media(">=782px") {
			top:32px;
		}
	}
	body:not([class*="intro-passed"]) & {
		display:none;
		position:relative !important;
	}
	.hide-bonus & {
		display:none;
	}
	@include media(">=tablet") {
		font-size: 18px;
	}
	> .holder{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		// align-content: start;
		align-items: center;
		// align-items: start;
		padding:9px 8px;
		@include media(">=tablet") {
			justify-content: space-between;
			margin:0 auto;
			max-width: 1396px;
			padding: 10px $gutter-width 11px;
		}
		&.closed {
			display:none;
		}
	}
	.left{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
	}
	.icon-close{
		font-size: 6px;
		@include media(">=tablet") {
			font-size: 18px;
		}
	}
	.title-holder{
		min-width: 66px;
		line-height:1;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
			min-width: 0;
			padding:0 0 0 46px;
		}
	}
	.logo-holder{
		height:33px;
		max-width:33px;
		min-width:33px;
		margin-bottom: 1px;
		@include media(">=tablet") {
			height:40px;
			margin:0 19px 0 0;
			max-width:40px;
			min-width:40px;
		}
	}
	h2{
		display:none;
		@include media(">=tablet") {
			display:block;
			font-size: 16px;
			margin:0 0 -1px;
		}
	}
	.stars{
		font-size: 8px;
		@include media(">=tablet") {
			margin:0 0 5px -3px;
			text-align:left;
		}
		[class*="icon"]{
			@include media(">=tablet") {
				margin:0 2px;
			}
		}
	}
	.content{
		// padding:0 0 0 10px;
		padding:0 5px 0 0;
		@include media(">=tablet") {
			padding:0 $gutter-width;
			text-align:center;
		}
	}
	.title{
		color:$headings-color;
		display:block;
		font-size: 16px;
		font-weight:500;
		margin:0 0 2px;
		@include media(">=tablet") {
			display:inline;
			font-size: inherit;
			margin:0 5px 0 0;
			text-transform:uppercase;
		}
	}
	p{
		margin:0 !important;
		@include media(">=tablet") {
			display:inline;
			&:before {
				content: "-";
				margin:0 4px 0 0;
			}
		}
	}
	.button-holder{
		flex: 1 1 auto;
		text-align:right;
		@include media(">=tablet") {
			flex: 0 1 auto;
		}
	}
	.btn{
		font-size: 14px;
		font-weight:500;
		min-width: 100px;
		@include media(">=tablet") {
			font-size: 18px;
			min-width: 206px;
		}
	}
}

.go-back{
	background:$white;
	display:none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	height:59px;
	left:0;
	padding:5px 55px;
	position:absolute;
	text-align:center;
	top:0;
	width:100%;
	@include media(">=tablet") {
		display:none !important;
	}
	.hide-nav & {
		display: flex;
	}
	.btn-back{
		color:$theme-color-base;
		font-size: 30px;
		left:23px;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
	}
	.title{
		color:$headings-color;
		font-size:18px;
		font-weight:500;
		line-height:1.1111;
		text-transform:uppercase;
	}
}

.header-content{
	background:$white;
	box-shadow: 0 -1px 0 0 $border-color-base inset;
	// border-bottom: 1px solid $border-color-base;
	// height:60px;
	position:relative;
	z-index:1;
	.nav-active & {
		z-index:10;
	}
	.holder{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		margin:0 auto;
		padding:12px 21px;
		@include media(">=tablet") {
			max-width: 1390px;
			padding-top: 13px;
			padding-bottom: 13px;
		}
		> div{
			&:last-child {
				@include media(">=tablet") {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-content: center;
					align-items: center;
				}
				.desktop-nav{
					@include media(">=tablet") {
						order:1;
					}
				}
			}
		}
	}
	.logo{
		display:block;
		width:162px;
	}
	.desktop-nav{
		display:none;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
		}
		> div{
			+ div {
				@include media(">=tablet") {
					padding:0 0 0 30px;
				}
			}
		}
		#nav{
			display:none;
			@include media(">=nav") {
				display:block;
			}
		}
	}
	.mobile-nav{
		@include media(">=nav") {
			display:none;
		}
	}
	.btn-search{
		@include media(">=tablet") {
			box-shadow: 0 0 2px $shadow;
			color:$base-gray;
			font-size: 14px;
			font-weight:normal;
			line-height:16px;
			min-width: 0;
			padding:8px 22px 7px 49px;
			position:relative;
			text-transform:none;
		}
		&:before {
			@include media(">=tablet") {
				// background:#ccc;
				// content: '';
				font-size: 20px;
				// height:20px;
				left:23px;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				// width:20px;
			}
		}
	}
	.flag{
		max-width: none;
	}
}

.nav-opener{
	color:$theme-color-base;
	display:inline-block;
	vertical-align:top;
	font-size: 29px;
	margin:5px 0 0;
	@include media(">=tablet") {
		margin:0;
	}
}

.mobile-nav-holder{
	background:$white;
	height:100vh;
	max-width: 310px;
	position:fixed;
	right:0;
	top:0;
	transform:translateX(100%);
	width:82.6667%;
	z-index:15;
	// &.ui-drop-active {
	// 	.hideme{
	// 		display:none;
	// 	}
	// }
	.nav-active & {
		transform:translateX(0);
		transition:transform $animation-speed;
	}
	.admin-bar & {
		height:calc(100vh - 46px);
		top:46px;
		@include media(">=782px") {
			height:calc(100vh - 32px);
			top:32px;
		}
	}
	&:before {
		background-color:rgba(56,58,58,0.8);
		bottom:0;
		content: '';
		opacity:0;
		pointer-events:none;
		position:absolute;
		right:100%;
		top:0;
		width:310%;
		.nav-active & {
			opacity:1;
			pointer-events:auto;
			transition:opacity $animation-speed;
		}
	}
	.mobile-nav-frame{
		height:100%;
		overflow:auto;
	}
	.btn-search{
		background:#f7f9f9;
		border-bottom: 1px solid $border-color-base;
		color:$base-gray;
		display:block;
		font-weight:normal;
		// font-size:16px;
		// height:auto;
		// line-height:25px;
		min-width: 0;
		padding:19px 25px 20px 62px;
		position:relative;
		text-align:left;
		text-transform:none;
		.icon-search{
			color:$theme-color-base;
			font-size: 26px;
			left:22px;
			margin:2px 0 0;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
		}
	}
}

.mobile-search-menu{
	// display: flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// justify-content: flex-start;
	// align-content: flex-start;
	// align-items: flex-start;
	.search-bar-active & {
		// display: flex;
		// flex-direction: column;
		// flex-wrap: nowrap;
		// justify-content: flex-start;
		// align-content: stretch;
		// align-items: stretch;
		// height:100%;
	}
	.changed & {
		// height:100%;
		// .default-results{
		// 	display:flex;
		// }
		// + .menu-mobile-menu-container{
		// 	display:none;
		// }
	}
	&.is-loading {
		// position:relative;
		&:before {
			$size:24px;
			animation: spin 1s linear infinite;
			border: 2px solid transparent;
			border-top-color: $theme-color-base;
			border-radius: 50%;
			content: '';
			height:$size;
			left:50%;
			margin:-#{$size/2} 0 0 -#{$size/2};
			position:absolute;
			top:50%;
			width:$size;
			z-index:15;
		}
		&:after {
			background:rgba($white, 0.8);
			bottom:0;
			content: '';
			// height:100%;
			left:0;
			position:absolute;
			top:60px;
			width:100%;
			z-index:10;
		}
	}
	> *{
		width:100%;
	}
	// .icon-close-o{
	// 	color:$theme-color-base;
	// 	display:none;
	// 	font-size: 26px;
	// 	left: auto !important;
	// 	margin:2px 0 0;
	// 	position:absolute;
	// 	right:10px;
	// 	top:50%;
	// 	transform:translateY(-50%);
	// }
	.btn-search{
		background:#f7f9f9;
		border-bottom: 1px solid $border-color-base;
		color:$base-gray;
		display:block;
		font-weight:normal;
		// font-size:16px;
		// height:auto;
		// line-height:25px;
		min-width: 0;
		padding:19px 25px 20px 62px;
		position:relative;
		text-align:left;
		text-transform:none;
		.icon-search{
			color:$theme-color-base;
			font-size: 26px;
			left:22px;
			margin:2px 0 0;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.results-holder{
		background:$white;
		background:#f0f;
		height:200px;
		position:fixed;
		right:0;
		top:0;
		width:310px;
		z-index:10;
	}
}

.default-results{
	display:none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	flex:1 1 auto;
	overflow:auto;
	.search-bar-active & {
		display: flex;
	}
	.top{
		flex:1 1 auto;
		padding:20px;
		overflow:auto;
		// > div{
		// 	overflow:auto;
		// 	padding:20px;
		// 	padding-right: $gutter-width;
		// 	padding-left: $gutter-width;
		// 	padding:27px 21px 20px;
		// }
	}
	h2{
		color:$base-gray;
		font-size: 16px;
		margin:0 0 8px;
		text-transform:uppercase;
	}
	.bottom{
		border-top: 1px solid $border-color-base;
		.btn{
			border-color: transparent;
			display:block;
			min-width: 0;
			padding-top: 14px;
			padding-bottom: 15px;
			width:100%;
			&:hover {
				color:$white;
			}
		}
	}
	.results-list{
		margin:0;
		// padding:20px;
		ul{
			margin:0 -20px;
			li{
				&:before {
					display:none;
				}
			}
		}
		> ul > li{
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.nav{
	color:$headings-color;
	font-size:16px;
	line-height:1.125;
	padding:11px 0 0;
	@extend %listreset;
	.search-bar-active & {
		display:none;
	}
	> li{
		position:relative;
		&[class*="icon-"] {
			&:before {
				color:$theme-color-base;
				font-size:26px;
				left:13px;
				pointer-events:none;
				position:absolute;
				text-align:center;
				top:23px;
				transform:translateY(-50%);
				width:40px;
				z-index:5;
			}
		}
		> a{
			color:inherit;
			display:block;
			padding:15px 15px 15px 63px;
			position:relative;
			text-decoration:none;
			z-index:1;
		}
	}
	li{
		&.current-menu-item,
		&.hover {
			> a{
				color:$theme-color-base;
			}
		}
		&.hover {
			> ul{
				position:static;
			}
		}
	}
	.divider{
		border-top: 1px solid $border-color-base;
		margin:16px 0 11px;
		font-size:0;
		line-height:0;
		a{
			display:none;
		}
	}
	ul{
		background:$bg-content;
		border: 0 solid $border-color-base;
		border-width: 1px 0;
		left:-9999px;
		margin:0;
		position:absolute;
		top:-9999px;
		li{
			padding:0;
			&:before {
				display:none;
			}
			+ li{
				margin:6px 0 0;
			}
		}
		a{
			display:block;
			padding:13px 15px 13px 63px;
			text-decoration:none;
		}
	}
}

// .ui-autocomplete{
// 	font-size:15px;
// 	font-weight:normal;
// 	line-height:1.2667;
// 	margin:0 -21px;
// 	position:static !important;
// 	width:auto !important;
// 	@include media(">=desktop") {
// 		font-size: 18px;
// 	}
// 	li{
// 		&:hover {
// 			a{
// 				background:#f5f7f6;
// 			}
// 		}
// 	}
// 	a{
// 		display: flex;
// 		flex-direction: row;
// 		flex-wrap: nowrap;
// 		justify-content: flex-start;
// 		align-content: center;
// 		align-items: center;
// 		padding:8px 21px 9px;
// 		text-decoration:none;
// 	}
// 	// img{
// 	// 	border: 1px solid $border-color-base;
// 	// 	border-radius: 100%;
// 	// 	height:43px;
// 	// 	width:43px;
// 	// }
// 	.title{
// 		flex:1 1 auto;
// 		padding:0 0 0 17px;
// 		&:only-child {
// 			padding:0;
// 		}
// 	}
// 	.category{
// 		color:$base-gray;
// 	}
// 	.ui-state-highlight{
// 		font-weight:bold;
// 	}
// }

#nav{
	color:$headings-color;
	font-weight:normal;
	margin:-13px 0;
	text-align:right;
	> li{
		@include media(">=tablet") {
			display:inline-block;
			vertical-align:top;
			margin:0 0 0 23px;
			overflow:visible;
			padding:19px 0;
			// position:relative;
		}
		&:before {
			@include media(">=tablet") {
				display:none;
			}
		}
	}
	li{
		position:relative;
		&.hover,
		&.current-menu-item {
			> a{
				color:$theme-color-base;
			}
		}
		&.hover {
			> ul{
				left:-23px;
				top:100%;
			}
		}
		&.current-menu-item {
			> a{
				font-weight:500;
			}
		}
	}
	a{
		@include media(">=tablet") {
			color:inherit;
			text-decoration:none;
		}
	}
	ul{
		background:$white;
		box-shadow: 0 0 2px #cbd6d2;
		// font-size: 14px;
		font-weight:500;
		left:-9999px;
		margin:0;
		padding:2px 0 4px;
		position:absolute;
		text-align:left;
		text-transform:uppercase;
		top:-9999px;
		width:236px;
		li{
			padding:0;
			&:before {
				display:none;
			}
		}
		a{
			color:$base-gray;
			display:block;
			padding:6px 21px;
		}
	}
}

.navigation-links{
	// display:none;
}

#header{
	// display:none;
}