.anchors-link{
	box-shadow: 0 1px 2px 0 rgba(56,58,58,0.25);
	background: #ffffff;
	position:relative;
	ul{
		li{
			a{
				padding: 20px 0;
			}
		}
	}
}

.head-txt{
	background: #ffffff;
	border: 1px solid #E7E6E7;
	padding: 30px 0;
}