#main,
#header,
#footer{
	// display:none; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}

// customize Magnific Popup
.mfp-wrap{
	position:fixed !important;
	top:50% !important;
	transform:translateY(-50%);
	@include media("<tablet") {
		top:0 !important;
		transform:none;
	}
}

.mfp-container{
	@include media("<900px") {
		padding-right: 0;
		padding-left: 0;
	}
}

button,
.btn{
	&.mfp-close {
		color:$headings-color;
		font-size: 28px;
		height:auto;
		opacity:1;
		position:absolute;
		right:15px;
		top:16px !important;
		width:auto;
		&.invert {
			color:$white;
		}
	}
}
// end of customize Magnific Popup

#wrapper{
	// background:none; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}

.popups-holder{
	height:0;
	overflow:hidden;
}

.default-popup{
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    // justify-content: flex-start; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    align-content: stretch;
    align-items: stretch;
    color:#4a4a4a;
    line-height:1.4286;
    min-width: $base-min-width;
	// max-height:658px !important; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	position:relative;
	@include media(">=tablet") {
    	justify-content: flex-start;
    	height:auto !important;
    	margin:0 auto;
    	max-height: 594px;
    	width:615px;
	}
	&.is-loading {
		.popup-frame{
			&:before {
				$size:80px;
				animation: spin 1s linear infinite;
				border: 4px solid transparent;
				border-top-color: $theme-color-base;
				border-radius: 50%;
				content: '';
				height:$size;
				left:50%;
				margin:-#{$size/2} 0 0 -#{$size/2};
				position:absolute;
				top:50%;
				width:$size;
				z-index:10;
			}
			&:after {
				background:$white;
				bottom:0;
				content: '';
				left:0;
				position:absolute;
				right:0;
				top:0;
				width:100%;
				z-index:5;
			}
		}
	}
	.popup-top{
		position:relative;
	}
	.popup-content{
		background:$white;
		overflow:auto;
		@include media(">=tablet") {
			flex:1 1 auto;
		}
		h2{
			color:inherit;
			font-size: 24px;
			font-weight:bold;
			line-height:1.1667;
			margin:0 40px 11px 0;
			@include media(">=tablet") {
				font-size: 22px;
				margin-bottom: 6px;
				text-transform:uppercase;
			}
		}
	}
	.popup-frame{
		background:$white;
		height:100%;
		padding:33px $gutter-width;
		position:relative;
		@include media(">=tablet") {
			padding:34px 18px;
		}
	}
	// .results-list{
	// 	> ul{
	// 		@include media(">=tablet") {
	// 			margin:0 -18px;
	// 		}
	// 		> li{
	// 			padding-right: 0;
	// 			padding-left: 0;
	// 		}
	// 	}
	// }
	.popup-footer{
		background:#f5f7f6;
		border-top: 1px solid $border-color-base;
		> .button-holder{
			padding:21px 15px 20px;
			@include media(">=tablet") {
				padding:13px 15px 15px;
			}
		}
		.btn{
			font-size: 18px;
			min-width: 288px;
			padding-top: 10px;
			padding-bottom: 10px;
			@include media(">=tablet") {
				font-size: 14px;
				min-width: 0;
				padding-right: $gutter-width;
				padding-left: $gutter-width;
			}
			&[class*="mfp-"] {
				background:none;
				color:inherit;
				font-size: 18px;
				min-width: 288px;
				padding-top: 9px;
				padding-bottom: 11px;
				position:static !important;
				&:before {
					display:none;
				}
			}
		}
	}
	.section-refer{
		background:none;
		padding:17px 42px 21px;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			padding:36px 37px 20px;
		}
		.icon-holder{
			@include media(">=tablet") {
				margin:-7px 0 0;
			}
		}
		[class*="-gift"]{
			@include media(">=tablet") {
				font-size: 66px;
			}
		}
		h1{
			@include media(">=tablet") {
				font-size: 15px;
				margin:0;
			}
		}
		.right{
			@include media(">=tablet") {
				min-width: 204px;
				padding-bottom: 16px;
			}
			.btn{
				@include media(">=tablet") {
					display:block;
				}
			}
		}
	}
	.btn-search{
		background:#f2f5f4;
		border-bottom: 1px solid $border-color-base;
		color:$placeholder-color;
		display:block;
		font-size:16px;
		font-weight:normal;
		height:auto;
		line-height:25px;
		padding:16px 55px 18px 62px;
		position:relative;
		text-align:left;
		text-transform:none;
		.icon-search{
			font-size: 26px;
			left:18px;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.search-bar{
		background:#f2f5f4;
		border-bottom: 1px solid $border-color-base;
		padding:0 15px 0 64px;
		position:relative;
		@include media(">=tablet") {
			padding:0 65px 0 74px;
		}
		.icon-search{
			color:$base-gray;
			font-size: 26px;
			left:18px;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			@include media(">=tablet") {
				font-size: 28px;
				left:28px;
			}
		}
		input[type=text]{
			background:none !important;
			border:0 !important;
			font-size:16px;
			font-weight:normal;
			height:auto;
			line-height:25px;
			padding:18px 0;
		}
	}
	.guides-list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
	    margin:-18px -2px;
		li{
			width:33.33%;
			padding:5px;
			a{
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: flex-start;
			    align-content: stretch;
			    align-items: stretch;
				box-shadow: 0 0 3px $shadow;
				font-size: 12px;
				height:111px;
				padding:0 0 17px;
				text-align:center;
				text-decoration:none;
				&:hover {
					box-shadow: 0 0 10px $shadow;
				}
			}
		}
		span{
			display:block;
		}
		.icon-holder{
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
			flex:1 1 auto;
		}
	}
	.news-list{
		font-size:16px;
		line-height:1.125;
		margin:-24px -#{$gutter-width};
		li{
			overflow:hidden;
			position:relative;
			vertical-align:top;
		}
		.icon-holder{
			color:$theme-color-base;
			font-size: 24px;
			left:11px;
			pointer-events:none;
			position:absolute;
			text-align:center;
			top:50%;
			transform:translateY(-50%);
			width:40px;
			z-index:5;
		}
		a{
			display:block;
			padding:16px 15px 16px 62px;
			position:relative;
			text-decoration:none;
			z-index:1;
			&:hover {
				background:$bg-content;
			}
		}
	}
	.payments-list.large{
		margin-top:-17px;
	}
}

.bonus-popup .popup-content,
.opt-in-bar .opt-in-form{
	.fca_eoi_layout_privacy_copy_wrapper.fca_eoi_form_text_element{
		border-top: 1px solid $base-text-color;
		color:$add-text-color;
		font-size:12px;
		line-height:1.0833;
		margin:40px 0 0;
		padding:29px 0 7px;
		text-align:left;
		@include media(">=tablet") {
			border-color: $form-element-border-color;
			color:$base-gray;
			margin:39px -18px 0;
			max-width: none;
		}
		ul{
			line-height:inherit;
			@extend %listreset;
			@include media(">=tablet") {
				padding:0 37px !important;
			}
			li{
				padding:0 0 0 25px;
				&:before {
					color:inherit;
					@include media(">=tablet") {
						color:$theme-color-base;
					}
				}
			}
			a{
				color:inherit;
				&:hover {
					text-decoration:none;
				}
			}
			p{
				margin:0;
			}
		}
	}
}

.bonus-popup{
    color:#2a2c2c;
    font-size:16px;
    line-height:1.25;
	@include media(">=tablet") {
		min-height: 555px;
		width:597px;
	}
	// reset form styles
	div.fca_eoi_layout_0,
	form.fca_eoi_layout_0{
		 div.fca_eoi_form_text_element{
		 	ul{
		 		@extend %listreset;
		 	}
		 }
	}
	// end
	.popup-content{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: stretch;
		background:$theme-color-add;
		flex:1 1 auto;
		@include media(">=tablet") {
			background:$white;
		}
		.fca_eoi_form_text_element{
			color:inherit;
			font-family: $base-font-family;
			font-size: inherit;
			font-weight:normal;
			line-height:inherit;
			@include media(">=tablet") {
				margin:0 auto;
				max-width: 380px;
			}
		}
		[class*="icon-"]{
			font-size: 66px;
			margin:0 0 16px;
			@include media(">=tablet") {
				color:$theme-color-base;
				margin:0 0 9px;
			}
		}
		h2{
			margin-right: 0;
			@include media(">=tablet") {
				font-size:24px;
				line-height:1.375;
				margin:0 0 8px;
			}
		}
		p{
			margin:0 0 32px;
			@include media(">=tablet") {
				margin:0 30px 33px;
			}
		}
	}
	.popup-frame{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    // justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		background:none;
		text-align:center;
		.mfp-close{
			display:none;
		}
		form{
			padding:0 21px;
			@include media(">=tablet") {
				// margin:0 auto;
				// max-width: 380px;
				padding:0;
			}
			.fca_eoi_layout_content_wrapper{
				margin:0;
			}
			.fca_eoi_layout_email_field_wrapper{
				border-color: $base-gray;
				border-radius: 0;
				&.has-errors {
					border-color: $red;
				}
			}
			input.fca_eoi_form_input_element{
				&,
				&:focus {
					background: $form-element-background !important;
					color:darken(#898989, 30%);
					font-size:16px;
					height:45px;
					padding: 9px;
					line-height:normal;
				}
				& {
					@include placeholder {
						color:#898989;
						opacity:1 !important;
					}
				}
			}
			.fca_eoi_layout_submit_button_wrapper{
				input{
					background: $btn-dark-background;
					border:2px solid $btn-dark-background !important;
					color:$btn-dark-color;
					font-size: 18px;
					font-weight: 600;
					line-height: 1.125;
					min-width: 0;
					padding: 10px 10px 11px;
					transition: none;
					width: 100%;
					@include media(">=tablet") {
						background:$btn-primary-background;
						border-color: $btn-primary-background !important;
						color:$btn-primary-color;
					}
					&:hover {
						background:transparent;
						color:$btn-dark-background;
						@include media(">=tablet") {
							color:$btn-primary-background;
						}
					}
				}
			}
		}
	}
	.form-content,
	.fca_eoi_layout_inputs_wrapper{
		margin:0 auto -14px;
		max-width: 288px;
		overflow:hidden;
		@include media(">=tablet") {
			max-width: 300px;
		}
		.form-group,
		> [class*="fca_eoi_layout_"]{
			margin:0 0 14px;
		}
	}
	input[type=text],
	input[type=email]{
		border-color: $base-gray;
		border-radius: 2px;
		color:darken(#898989, 30%);
		font-size:16px;
		height:45px;
		padding-top: 9px;
		padding-bottom: 9px;
		line-height:normal;
		@include placeholder {
			color:#898989;
		}
	}
	.fca_eoi_layout_privacy_copy_wrapper.fca_eoi_form_text_element{
		margin-right: -29px;
		margin-left: -29px;
		// @include media(">=tablet") {
		// 	margin-right: -18px;
		// 	margin-left: -18px;
		// }
	}
	.errors{
		margin:-6px 0 10px;
    	padding:0;
	}
	.btn-primary{
		background:$btn-dark-background;
		border-color: $btn-dark-border;
		font-size: 18px;
		min-width: 0;
		padding:10px 10px 11px;
		width:100%;
		@include media(">=tablet") {
			background:$btn-dark-background;
		}
		&:hover {
			background:transparent;
			color:$btn-dark-background;
		}
	}
	.popup-footer{
		background:$white;
		border-top: 0;
		@include media(">=tablet") {
			background:$bg-content;
		}
		.btn{
			font-size: 14px;
			min-width: 0;
			padding-top: 4px;
			padding-bottom: 6px;
		}
	}
}

.refer-popup{
	@include media(">=tablet") {
		// height:auto !important;
		max-height: none;
		width:597px;
	}
	[class*="-gift"]{
		color:$theme-color-base;
		font-size: 44px;
		margin:0 0 11px;
		text-align:center;
		@include media(">=tablet") {
			margin:0 0 24px;
		}
	}
	.popup-content{
		h2{
			margin:0 0 30px;
			text-align:center;
			@include media(">=tablet") {
				font-size: 24px;
				margin:0 0 20px;
			}
		}
	}
	.title{
		display:block;
		font-size: 16px;
		font-weight:500;
		margin:0 0 29px;
		text-align:center;
		@include media(">=tablet") {
			margin:0 0 23px;
		}
	}
	ol{
		counter-reset: count;
		margin:0 0 8px;
		padding:0 0 0 7px;
		@extend %listreset;
		@include media(">=tablet") {
			margin:0 auto 9px;
			max-width: 446px;
			padding:0;
		}
		li{
			overflow:hidden;
			padding:0 0 30px 49px;
			position:relative;
			vertical-align:top;
			@include media(">=tablet") {
				padding:0 0 20px 50px;
			}
			&:before {
				background:$theme-color-add;
				border-radius: 100%;
				color:#2a2c2c;
				counter-increment:count;
				content: counter(count);
				font-size: 18px;
				font-weight:500;
				left:0;
				line-height:1;
				padding:6px 3px;
				position:absolute;
				top:0;
				text-align:center;
				width:30px;
			}
		}
		strong{
			font-weight:500;
		}
	}
	.form-content{
		margin:0 auto -14px;
		max-width: 288px;
		@include media(">=tablet") {
			max-width: 300px;
		}
		.form-group{
			margin:0 0 14px;
		}
		input[type=text]{
			font-size:16px;
			height: 45px;
			line-height:25px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		.btn{
			font-size: 18px;
			padding-top: 10px;
			padding-bottom: 11px;
			width:100%;
		}
	}
}

.desktop-search-popup{
	@include media(">=desktop") {
		width:597px;
	}
	&[class*="default"] {
		@include media(">=desktop") {
			height:564px !important;
		}
	}
	&.changed {
		.popup-footer{
			position:static;
		}
	}
	.anchor-links{
		display:block;
		position:static !important;
		.holder{
			@include media(">=tablet") {
				padding:0 30px;
			}
		}
	}
	.results-list{
		// margin:-8px 0 0;
		padding:0 12px;
		ul{
			a{
				padding-right: 31px;
				padding-left: 31px;
			}
			ul{
				margin:0 -30px;
			}
		}
	}
	// .ui-autocomplete{
	// 	margin: -14px -18px 0;
	// 	a{
	// 		padding-right: 31px;
	// 		padding-left: 31px;
	// 	}
	// 	// img{
	// 	// 	border: 0;
	// 	// 	border-radius: 0;
	// 	// 	height:auto;
	// 	// 	width:auto;
	// 	// }
	// }
	.popup-footer{
		left:-9999px;
		position:absolute;
		top:-9999px;
	}
}

#casino-summary-popup{
	max-height: none;
	// margin:0 auto;
	// width:auto;
	width:666px !important;
}
.casino-summary-popup{
	// display:none;
	@include media(">=tablet") {
		display:block;
		font-size:14px;
		line-height:1.5;
		// margin:0; // !!!!!!!!!!
		max-height: none !important;
	}
	.switch & {
		display:none;
		+ .default-popup{
			display:flex;
		}
	}
	+ .default-popup{
		display:none;
		width:auto;
		.popup-top{
			display:none;
		}
	}
	.popup-frame{
		@include media(">=tablet") {
			padding:0;
		}
	}
	.heading{
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			// align-content: center;
			align-content: flex-end;
			// align-items: center;
			align-items: flex-end;
			padding:30px 30px 28px;
		}
		.left{
			@include media(">=tablet") {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: flex-start;
			    align-content: flex-start;
			    align-items: flex-start;
			}
		}
		.right{
			@include media(">=tablet") {
				width:170px;
			}
		}
		.logo-holder{
			@include media(">=tablet") {
				height:83px;
				margin:0 31px 0 0;
				max-width:83px;
				min-width:83px;
			}
		}
		h3{
			@include media(">=tablet") {
				font-size: 26px;
				font-weight:500;
				margin:0 0 8px;
			}
		}
		.btn{
			@include media(">=tablet") {
				min-width: 189px;
			}
		}
		.rate{
			@include media(">=tablet") {
				color:$base-gray;
				font-size: 30px;
				margin:0 0 10px;
			}
			strong{
				@include media(">=tablet") {
					color:$black;
					font-size: 1.6667em;
				}
			}
		}
		.stars{
			@include media(">=tablet") {
				font-size: 16px;
			}
			[class*="icon"]{
				@include media(">=tablet") {
					margin:0 2px;
				}
			}
		}
	}
	.content{
		@include media(">=tablet") {
			padding:0 0 16px;
		}
	}
	.twocolumns{
		@include media(">=tablet") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: flex-start;
		    align-items: flex-start;
			border-top: 1px solid $border-color-base;
			padding:16px 28px 16px;
		}
		> div{
			&:first-child {
				@include media(">=tablet") {
					flex:1 1 auto;
					padding:0 50px 0 0;
				}
			}
			&:last-child:not(:only-child) {
				@include media(">=tablet") {
					max-width: 228px;
					min-width: 228px;
				}
			}
		}
	}
	h4{
		@include media(">=tablet") {
			font-size: 18px;
			font-weight:normal;
			margin:0 0 9px;
		}
	}
	blockquote{
		@include media(">=tablet") {
			color:$black;
			font-size: 14px;
			// font-style:italic;
			font-weight:300;
			margin:0;
			max-width: none;
			padding:0;
			text-align:left;
		}
		&:before,
		&:after {
			@include media(">=tablet") {
				display:none;
			}
		}
		p{
			@include media(">=tablet") {}
		}
	}
	.devices-list{
		@include media(">=tablet") {
			margin:-3px 0 0;
			padding:0;
		}
		> div{
			@include media(">=tablet") {
				margin:0 18px 0 2px;
			}
		}
	}
	.section-heading{
		@include media(">=tablet") {
			padding:0;
		}
		h4{
			@include media(">=tablet") {
				margin:0 0 3px;
			}
		}
		.subtitle{
			@include media(">=tablet") {
				font-size: 14px;
				font-weight:300;
			}
			@include media(">=desktop") {
				margin:0;
			}
		}
	}
	.payments-list.large{
		a{
			@include media(">=tablet") {
				flex-wrap:nowrap;
				justify-content: flex-start;
				font-size: 12px;
				min-height:73px;
				width:84px;
			}
		}
		.logo-holder{
			@include media(">=tablet") {
				max-height:45px;
				min-height:45px;
				max-width:45px;
				min-width:45px;
			}
		}
	}
	.games-list{
		@include media(">=tablet") {
			font-size: 13px;
		}
		li{
			@include media(">=tablet") {
				margin-right: 7px;
			}
			> a{
				@include media(">=tablet") {
					height:28px;
					// padding:5px;
					width:63px;
				}
			}
		}
	}
	.payment-overview-box{
		@include media(">=tablet") {
			margin:3px 0 0;
		}
		.content{
			@include media(">=tablet") {
				padding:16px 20px 9px 30px;
			}
		}
		dl{
			@include media(">=desktop") {
				font-size: 14px;
				font-weight:normal;
				line-height:1.7857;
			}
			dt{
				@include media(">=tablet") {
					font-size: inherit;
					font-weight:500;
					margin:0 0 -1px;
				}
			}
			dd{
				@include media(">=tablet") {
					margin:0 0 9px;
				}
			}
		}
	}
	.popup-footer{
		@include media(">=tablet") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: center;
		    align-items: center;
		    color:$base-gray;
		    font-size: 18px;
		    padding:20px 29px 17px;
		}
		h4{
			@include media(">=tablet") {
				font-size: 24px;
				margin:0 0 -5px;
				text-transform:uppercase;
			}
		}
		.right{
			@include media(">=tablet") {
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: center;
			    align-items: center;
			    padding:0 0 0 15px;
			}
		}
		.btn{
			@include media(">=tablet") {
				font-size: 16px;
				max-width: 580px;
			}
		}
	}
}