#header,
#main,
#footer{
	// display:none;
}
// customize Magnific Popup
.mfp-container{
	padding-right: 0;
	padding-left: 0;
}
.mfp-close{
	background:$theme-color-base;
	// height:20px;
	opacity:1;
	position:absolute;
	right:15px;
	top:15px !important;
	// width:20px;
	// &:active {
	// 	top:15px;
	// }
	&:before {
		background:#2a2c2c;
		content: '';
		display:block;
		height:28px;
		width:28px;
	}
}
// end of customize Magnific Popup
.popups-holder{
	height:0;
	overflow:hidden;
}

.subscribe-popup{
	background:$theme-color-add;
	display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    color:#2a2c2c;
    font-size:16px;
    line-height:1.25;
	height:100vh;
	// height:658px;
	position:relative;
	// width:375px;
	> .content{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    // justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		flex:1 1 auto;
		padding:20px 49px;
		[class*="icon-"]{
			font-size: 44px;
			margin:0 0 30px;
		}
	}
	h1{
		line-height:1.1667;
		margin:0 0 11px;
		text-transform:none;
	}
	p{
		margin:0 0 32px;
	}
	form{}
	.form-group{
		margin:0 0 14px;
	}
	input[type=text]{
		border-color: $base-gray;
		border-radius: 2px;
		color:darken(#898989, 30%);
		font-size:16px;
		height:45px;
		padding-top: 9px;
		padding-bottom: 9px;
		line-height:normal;
		@include placeholder {
			color:#898989;
		}
	}
	.btn-primary{
		background:$btn-dark-background;
		border-color: $btn-dark-border;
		font-size: 18px;
		min-width: 0;
		padding:10px 10px 11px;
		width:100%;
		&:hover {
			background:transparent;
			color:$btn-dark-background;
		}
	}
	.footer{
		background:$white;
		color:#898989;
		font-size:12px;
		line-height:1.3333;
		padding:17px 42px 21px;
		text-align:left;
		.left{
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
		}
		.icon-holder{
			padding:8px 0 0;
		}
		.content{
			padding:0 0 0 26px;
		}
		h1{
			font-size: 15px;
			margin:0 0 3px;
		}
		p{
			margin:0 0 14px;
		}
		.btn{
			font-size: 14px;
			min-width: 189px;
			padding-top: 4px;
			padding-bottom: 6px;
		}
	}
	.icon-gift{
		background:#8c8e96;
		display: block;
		height: 65px;
		width: 68px;
	}
}

.refer-popup{
	background:$white;
	color:#39393a;
	font-size:14px;
	height:100vh;
	line-height:1.4286;
	padding:45px 30px 34px;
	.icon-gift{
		margin:0 0 13px;
		text-align:center;
		&:before {
			background:#ccc;
			content: '';
			display:inline-block;
			vertical-align:top;
			height:42px;
			width:44px;
		}
	}
	h2{
		font-size:24px;
		font-weight:bold;
		line-height:1.1667;
		margin:0 0 30px;
		text-align:center;
	}
	.title{
		display:block;
		font-size: 16px;
		font-weight:500;
		margin:0 0 29px;
		text-align:center;
	}
	ol{
		counter-reset: count;
		margin:0 0 8px;
		@extend %listreset;
		li{
			overflow:hidden;
			padding:0 0 30px 49px;
			position:relative;
			vertical-align:top;
			&:before {
				background:$theme-color-add;
				border-radius: 100%;
				color:#2a2c2c;
				counter-increment:count;
				content: counter(count);
				font-size: 18px;
				font-weight:500;
				left:0;
				line-height:1;
				padding:6px 3px;
				position:absolute;
				top:0;
				text-align:center;
				width:30px;
			}
		}
		strong{
			font-weight:500;
		}
	}
	form{
		margin:0 auto;
		max-width: 288px;
		.form-group{
			margin:0 0 14px;
		}
		input[type=text]{
			font-size:16px;
			height: 45px;
			line-height:25px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		.btn{
			font-size: 18px;
			padding-top: 10px;
			padding-bottom: 11px;
			width:100%;
		}
	}
}

.main-search-popup{
	@include media(">=tablet") {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		background:$white;
		max-height: 464px;
		margin:0 auto;
		width:597px;
	}
	.main-search-bar{
		@include media(">=tablet") {
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
		    flex:1 1 auto;
		}
	}
	.default-results{
		@include media(">=tablet") {
			display: flex;
		}
		.bottom{
			@include media(">=tablet") {
				background:#f5f7f6;
				// display:none;
				padding:20px;
				text-align:center;
			}
			.btn{
				@include media(">=tablet") {
					border-color: $btn-secondary-border;
					display:inline-block;
					// vertical-align:top;
					font-size: 16px;
					padding-top: 6px;
					padding-bottom: 7px;
					text-align:center;
					visibility: visible;
					width:auto;
				}
			}
		}
	}
}

.default-popup{
	// background:$black;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;
	height:100vh;
	// height:658px;
	margin:0 auto;
	position:relative;
	// max-width:375px;
	// width:100%;
	/* ipad */
	.popup-content{
		background:$white;
		overflow:auto;
	}
	.popup-frame{
		padding:33px 23px 86px;
	}
	h2{
		font-size: 24px;
		font-weight:bold;
		line-height:1.1667;
		margin:0 0 10px;
	}
	p{
		margin:0 0 10px;
	}
	.search-bar{
		border-bottom: 1px solid $border-color-base;
		padding:0 15px 0 64px;
		position:relative;
		&:before {
			background:$base-gray;
			content: '';
			height:25px;
			left:20px;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			width:25px;
		}
		input[type=text]{
			border:0;
			font-size:16px;
			height:auto;
			line-height:25px;
			padding:18px 0;
		}
	}
	.news-list{
		font-size:16px;
		line-height:1.125;
		padding:9px 0 13px;
		li{
			overflow:hidden;
			vertical-align:top;
		}
		a{
			display:block;
			padding:15px 15px 15px 62px;
			position:relative;
			text-decoration:none;
			&:hover {
				background:$bg-content;
			}
			&:before {
				background:$base-gray;
				content: '';
				height:10px;
				left:26px;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:10px;
			}
		}
	}
	.popup-footer{
		background:#f5f7f6;
		border-top: 1px solid $border-color-base;
		bottom:0;
		left:0;
		padding:21px 15px 20px;
		position:absolute;
		text-align:center;
		width:100%;
		z-index:10;
		.btn{
			font-size: 18px;
			min-width: 288px;
			padding-top: 9px;
			padding-bottom: 11px;
		}
	}
}
.guides-list{
	display: flex;
	flex-wrap: wrap;
	padding:20px 20px;
  	// max-width: 340px;
  	// margin: 0 auto;
	li{
		width:33.33%;
		padding: 0 5px 10px;
		a{
			box-shadow: 0 0 3px rgba(58, 58, 58, 0.25);
			display:flex;
			height:102px;
			flex-direction: column;
			justify-content:center;
			align-items:center;
			text-decoration:none;
		}
	}
	.icon-img{
		margin-bottom: 15px;
	}
	.txt{
		font-size: 12px;
	}
}