#main,
#header,
#footer{
	// display:none;
}

// customize Magnific Popup
.mfp-container{
	padding-right: 0;
	padding-left: 0;
}

button,
.btn{
	&.mfp-close {
		// background:$theme-color-base;
		// background:$white;
		height:auto;
		opacity:1;
		position:absolute;
		right:15px;
		text-shadow:0 0 10px $black;
		box-shadow:0 0 10px $black;
		top:15px !important;
		width:auto;
		// &:active {
		// 	top:15px;
		// }
		&:before {
			// background:#2a2c2c;
			background:$white;
			content: '';
			display:block;
			height:28px;
			width:28px;
		}
	}
}
// end of customize Magnific Popup

#wrapper{
	// background:none; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}

.popups-holder{
	height:0;
	overflow:hidden;
}

.default-popup{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    // justify-content: flex-start; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    align-content: stretch;
    align-items: stretch;
    color:#4a4a4a;
    line-height:1.4286;
    min-width: $base-min-width;
	// max-height:658px !important; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	.popup-content{
		overflow:auto;
		h2{
			color:inherit;
			font-size: 24px;
			font-weight:bold;
			line-height:1.1667;
			margin:0 40px 11px 0;
		}
	}
	.popup-frame{
		background:$white;
		padding:33px $gutter-width;
	}
	.popup-footer{
		background:#f5f7f6;
		border-top: 1px solid $border-color-base;
		> .button-holder{
			padding:21px 15px 20px;
		}
		.btn{
			&[class*="mfp-"] {
				background:none;
				color:inherit;
				font-size: 18px;
				min-width: 288px;
				padding-top: 9px;
				padding-bottom: 11px;
				position:static !important;
				&:before {
					display:none;
				}
			}
		}
	}
	.section-refer{
		background:none;
		padding:17px 42px 21px;
	}
	.search-bar{
		background:#f2f5f4;
		border-bottom: 1px solid $border-color-base;
		margin:-33px -#{$gutter-width} 20px;
		padding:0 15px 0 64px;
		position:relative;
		.icon-search{
			background:$base-gray;
			border: 0;
			height:30px;
			left:18px;
			padding:0;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			width:30px;
		}
		input[type=text]{
			background:none;
			border:0;
			font-size:16px;
			font-weight:normal;
			height:auto;
			line-height:25px;
			padding:18px 0;
		}
	}
	.guides-list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
	    margin:-5px;
		li{
			width:33.33%;
			padding:5px;
			a{
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: stretch;
    			align-items: stretch;
				box-shadow: 0 0 3px $shadow;
				font-size: 12px;
				height:102px;
				text-align:center;
				text-decoration:none;
				&:hover {
					box-shadow: 0 0 10px $shadow;
				}
			}
		}
		.icon-img{
			display:block;
			margin-bottom: 15px;
		}
	}
	.news-list{
		font-size:16px;
		line-height:1.125;
		margin:-11px -#{$gutter-width};
		li{
			overflow:hidden;
			vertical-align:top;
		}
		a{
			display:block;
			padding:15px 15px 15px 62px;
			position:relative;
			text-decoration:none;
			&:hover {
				background:$bg-content;
			}
			&:before {
				background:$base-gray;
				content: '';
				height:10px;
				left:26px;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:10px;
			}
		}
	}
}

.bonus-popup{
    color:#2a2c2c;
    font-size:16px;
    line-height:1.25;
	.popup-content{
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    // justify-content: flex-start; ///!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	    align-content: stretch;
	    align-items: stretch;
		background:$theme-color-add;
		flex:1 1 auto;
		[class*="icon-"]{
			font-size: 44px;
			margin:0 0 30px;
		}
		h2{
			margin-right: 0;
		}
		p{
			margin:0 0 32px;
		}
	}
	.popup-frame{
		background:none;
		text-align:center;
	}
	form{
		padding:0 21px;
	}
	.form-content{
		margin:0 auto -14px;
		max-width: 288px;
	}
	.form-group{
		margin:0 0 14px;
	}
	input[type=text],
	input[type=email]{
		border-color: $base-gray;
		border-radius: 2px;
		color:darken(#898989, 30%);
		font-size:16px;
		height:45px;
		padding-top: 9px;
		padding-bottom: 9px;
		line-height:normal;
		@include placeholder {
			color:#898989;
		}
	}
	.btn-primary{
		background:$btn-dark-background;
		border-color: $btn-dark-border;
		font-size: 18px;
		min-width: 0;
		padding:10px 10px 11px;
		width:100%;
		&:hover {
			background:transparent;
			color:$btn-dark-background;
		}
	}
	.popup-footer{
		background:$white;
		border-top: 0;
	}
}

.refer-popup{
	height:auto !important;
	.icon-gift{
		margin:0 0 13px;
		text-align:center;
		&:before {
			background:#ccc;
			content: '';
			display:inline-block;
			vertical-align:top;
			height:42px;
			width:44px;
		}
	}
	h2{
		margin:0 0 30px;
		text-align:center;
	}
	.title{
		display:block;
		font-size: 16px;
		font-weight:500;
		margin:0 0 29px;
		text-align:center;
	}
	ol{
		counter-reset: count;
		margin:0 0 8px;
		padding:0 0 0 7px;
		@extend %listreset;
		li{
			overflow:hidden;
			padding:0 0 30px 49px;
			position:relative;
			vertical-align:top;
			&:before {
				background:$theme-color-add;
				border-radius: 100%;
				color:#2a2c2c;
				counter-increment:count;
				content: counter(count);
				font-size: 18px;
				font-weight:500;
				left:0;
				line-height:1;
				padding:6px 3px;
				position:absolute;
				top:0;
				text-align:center;
				width:30px;
			}
		}
		strong{
			font-weight:500;
		}
	}
	.form-content{
		margin:0 auto -14px;
		max-width: 288px;
		.form-group{
			margin:0 0 14px;
		}
		input[type=text]{
			font-size:16px;
			height: 45px;
			line-height:25px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
		.btn{
			font-size: 18px;
			padding-top: 10px;
			padding-bottom: 11px;
			width:100%;
		}
	}
}

// .main-search-popup{
// 	@include media(">=tablet") {
// 		display: flex;
// 	    flex-direction: row;
// 	    flex-wrap: nowrap;
// 	    justify-content: flex-start;
// 	    align-content: stretch;
// 	    align-items: stretch;
// 		background:$white;
// 		max-height: 464px;
// 		margin:0 auto;
// 		width:597px;
// 	}
// 	.main-search-bar{
// 		@include media(">=tablet") {
// 			display: flex;
// 		    flex-direction: column;
// 		    flex-wrap: nowrap;
// 		    justify-content: flex-start;
// 		    align-content: stretch;
// 		    align-items: stretch;
// 		    flex:1 1 auto;
// 		}
// 	}
// 	.default-results{
// 		@include media(">=tablet") {
// 			display: flex;
// 		}
// 		.bottom{
// 			@include media(">=tablet") {
// 				background:#f5f7f6;
// 				// display:none;
// 				padding:20px;
// 				text-align:center;
// 			}
// 			.btn{
// 				@include media(">=tablet") {
// 					border-color: $btn-secondary-border;
// 					display:inline-block;
// 					// vertical-align:top;
// 					font-size: 16px;
// 					padding-top: 6px;
// 					padding-bottom: 7px;
// 					text-align:center;
// 					visibility: visible;
// 					width:auto;
// 				}
// 			}
// 		}
// 	}
// }