body{
	margin: 0 auto;
	// max-width: none !important;
}
.post-content{
	background: #f5f7f6;
	padding:0 9px;
	overflow:hidden;
	.btn{
		color: #ffffff;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		text-align:center;
		display:block;
		margin: 0 24px;
		background:#6DAF0E;
	}
	.post{
		border: 1px solid #e3e5e4;
		border-radius: 3px;
		background: #fff;
		padding: 0 10px 20px;
		margin:0 0 20px;
		box-shadow: 0px 1px 2px 0px rgba(227,229,228,0.8);
		&:first-child{
			margin:0 -25px 18px;
			padding:0 37px 20px;
			border: none;
			h1{
				font-size: 24px;
				line-height: 24px;
				margin:0 0 15px;
			}
			.text{
				font-size:16px;
				line-height:17px;
			}
			.post-img{
				margin: 0 -25px 23px;
					img{
					height: 174px;
					width:100%;
				}
			}
		}
		p{
			margin:0 0 10px;
		}
		ul{
			list-style: none;
			margin:0;
			padding:0;
			li{
				margin:0 0 10px;
			}
		}
		.post-img{
			margin: 0 -10px 15px;
			img{
				height: 149px;
				width:100%;
			}
		}
		h1{
			font-size: 16px;
			line-height: 21px;
			margin:0 0 2px;
			color: #383A3A;
		}
		.text{
			display:block;
			font-size:12px;
			line-height:15px;
			color: #6DAF0E;
			margin:0 0 8px;
		}
	}
}

.share-block{
	margin: 0 9px;
	.head-title{
		font-size: 16px;
		color: #383A3A;
		display:block;
		text-transform:uppercase;
		font-weight: 500;
		margin:0 0 20px;
	}
	
	a{
		font-size: 16px;
		margin:0 10px 0 0;
		padding:0 5px;
	}
}

.post-articles{
	padding:31px 25px 33px;
	text-align:center;
	// max-width: 1355px;
	// margin: 0 auto;
	border-top: 1px solid #EAE9EA;;
	border-bottom: 1px solid #EAE9EA;
	.heading-title{
		text-align: left;
		.title{
			display:block;
			font-size: 16px;
			color: #8C8E96;
			margin:0 0 18px;
		}
	}
	.post-block{
		display:flex;
		flex-wrap: wrap;
		margin:0 -8px;
		.post-holder{
			padding:0 8px 10px;
			// max-width: 33.33%;
			display:flex;
			// &:last-child{
			// 	display:none;
			// }
			.post-box{
				border: 1px solid #e7e6e7;
				box-shadow: 0px 1px 2px 0px rgba(227, 229, 228, 0.8);
				padding:0 20px 50px;
				text-align:center;
				position:relative;
				background: #ffffff;
				>a{
					position:absolute;
					bottom: 20px;
					left: 60px;
					right:60px;
					border: 1px solid #515151;
				}
				.post-img{
					margin:0 -20px 15px;
					img{
						height: 149px;
						width:100%;
					}
					a{
						display:block;
					}
				}
				.post-text{
					text-align:left;
				}
				h2{
					font-size: 16px;
					text-transform:uppercase;
				}
				.title{
					font-size: 12px;
					color: #6DAF0E;
					display:block;
				}
			}
		}
	}
}
