.preloader{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	background:$white;
	height:100%;
	left:0;
	pointer-events:none;
	position:fixed;
	top:0;
	transition:opacity $animation-speed;
	width:100%;
	z-index:20;
	.loaded & {
		opacity:0;
	}
	.hide-preloader & {
		display:none;
	}
	> .holder{
		&,
		&:before,
		&:after {
			border: 2px solid transparent;
			border-radius: 50%;
			animation: spin 2s linear infinite;
		}
		& {
			$size: 90px;
			border-top-color: $theme-color-base;
			height: $size;
			position: relative;
			width: $size;
			z-index:1;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			animation-duration:3s;
		}
		&:after {
			animation-duration:1.5s;
		}
		&:before {
			$gap: 2px;
			border-top-color: $theme-color-add;
			bottom: $gap;
			left: $gap;
			right: $gap;
			top: $gap;
		}
		&:after {
			$gap: 6px;
			border-top-color: lighten($theme-color-base, 10%);
			bottom: $gap;
			left: $gap;
			right: $gap;
			top: $gap;
		}
	}
	img{
		left:50%;
		position:absolute;
		top:50%;
		transform:translate(-50%, -50%);
		width:26px;
		z-index:5;
	}
}