.section-content{
	background:$white;
	@include media(">=desktop") {
		background:none;
	}
	&.fixed-position{
		.aside{
			@include media(">=desktop") {
				margin:0;
			}
		}
	}
	&.posts-list {
		background:none;
		> .holder{
			@include media("<desktop") {
				padding-top: 0;
				padding-right: 10px;
				padding-left: 10px;
			}
		}
		.content-holder{
			@include media("<desktop") {
				background:$white;
				box-shadow: 0 2px 4px $shadow;
				padding:0 10px 20px;
				// margin:0 384px 0 0;
			}
			&:first-child {
				@include media("<desktop") {
					margin-right: -10px;
					margin-left: -10px;
					padding-right: $gutter-width;
					padding-left: $gutter-width;
					// margin:0 384px 0 0;
				}
				.post-image{
					&.fullwidth {
						margin:0 -#{$gutter-width} 24px;
						@include media(">=desktop") {
							margin-bottom: 34px;
						}
					}
				}
				h1,
				.h1{
					font-size: $h1-font-size;
					line-height:1;
					margin:0 0 9px;
					@include media(">=tablet") {
						font-size: 24px;
						font-weight:500;
						margin:0 0 2px;
						text-transform:uppercase;
					}
				}
				.by{
					font-size: 16px;
					margin:0 0 9px;
					@include media(">=tablet") {
						font-size: 20px;
						margin:0 0 16px;
					}
				}
			}
		}
		.post-image{
			&.fullwidth {
				margin:0 -10px 14px;
				@include media(">=desktop") {
					margin:0 -#{$gutter-width} 25px;
				}
			}
		}
		h1,
		.h1{
			font-size: 16px;
			line-height:1.2727;
			margin:0 0 2px;
			text-transform:uppercase;
			@include media(">=tablet") {
				font-size: 22px;
				font-weight:normal;
				margin:0 0 10px;
				text-transform:none;
			}
		}
		.by{
			@include media("<tablet") {
				font-size: 12px;
				margin:0 0 5px;
			}
		}
	}
	> .holder{
		padding-top: 47px;
		@include media(">=desktop") {
			overflow:hidden;
			padding-top: 0;
		}
	}
	.content{
		@include media(">=desktop") {
			float:left;
			padding-top: 10px;
			width:100%;
		}
		&:only-child {
			@include media(">=desktop") {
				float:none;
				width:auto;
			}
			.content-holder{
				@include media(">=desktop") {
					max-resolution:0 !important;
				}
			}
		}
	}
	.content-holder{
		padding:0 0 10px;
		@include media(">=desktop") {
			background:$white;
			box-shadow: 0 0 4px $shadow;
			border-radius:3px 3px 0 0;
			margin:0 279px 0 0;
			padding:0 $gutter-width 25px;
		}
		@include media(">=widescreen") {
			margin-right: 384px;
		}
		+ .content-holder{
			margin-top:20px;
		}
		.button-holder{
			padding:5px 0 0;
			@include media(">=tablet") {
				padding:18px 0 9px;
				text-align:left;
			}
			.btn{
				font-size: 14px;
				letter-spacing:0.03em;
				min-width: 290px;
				padding-top: 8px;
				padding-bottom: 7px;
				max-width: 290px;
				min-width: 0;
				width:100%;
				@include media(">=tablet") {
					font-size: 16px;
					max-width: none;
					min-width: 400px;
					padding-bottom: 10px;
					width:auto;
				}
			}
		}
	}
	.aside{
		@include media("<desktop") {
			left:0;
			// margin:0 -#{$gutter-width};
			position:fixed;
			top:60px;
			width:100% !important;
			z-index:10;
		}
		@include media(">=desktop") {
			display:block;
			float:right;
			margin:0 0 0 -100%;
			padding:10px 0 30px;
			position:relative;
			width:270px;
			z-index:5;
		}
		@include media(">=widescreen") {
			width:375px;
		}
	}
}

.post-image{
	border-radius: 3px;
	margin:0 0 25px;
	overflow:hidden;
	@include media(">=tablet") {
		margin:17px 0 14px;
	}
	&.fullwidth{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin:0 -#{$gutter-width} 23px;
		@include media(">=tablet") {
			margin-bottom: 33px;
		}
	}
	img{
		width: 100%;
	}
}

.by{
	color:$theme-color-base;
	font-size: 16px;
	margin:3px 0 10px;
	@include media(">=tablet") {
		font-size: 20px;
		// margin-bottom: 10px;
	}
	a{
		color:inherit;
		text-decoration:none;
		&:hover {
			color:$theme-color-base-lighten;
		}
	}
}

.share-block{
	> .holder{
		padding:26px 10px 18px;
	}
	h2{
		font-size: 16px;
		margin:0 0 16px;
		text-transform:uppercase;
	}
	ul{
		li{
			display:inline-block;
			vertical-align:top;
			padding:0 6px 10px 0;
			&:before {
				display:none;
			}
			&:hover {
				a{
					opacity:0.7;
				}
			}
		}
	}
}

.widget{
	display:none;
	@include media(">=desktop") {
		display:block;
	}
	&.open-close {
		display:block;
		position:relative;
		&.active {
			&:before {
				display:block;
			}
		}
		&:before {
			background:rgba($black, 0.8);
			content: '';
			display:none;
			height:100%;
			left:0;
			pointer-events:none;
			position:fixed;
			top:0;
			width:100%;
			z-index:5;
		}
		> .opener{
			background:$white;
			border-bottom: 1px solid $border-color-base;
			display:block;
			font-size:14px;
			line-height:1.2857;
			padding:15px 50px 15px 20px;
			position:relative;
			text-decoration:none;
			z-index:10;
			@include media(">=desktop") {
				display:none;
			}
			&:before {
				content: 'UP';
				position:absolute;
				right:20px;
				top:16px;
				transition:transform $animation-speed;
			}
		}
		> .slide{
			left:0;
			position:absolute;
			top:0;
			width:100%;
			@include media(">=desktop") {
				position:static;
			}
		}
	}
	ul{
		border:0 solid #cbd6d2;
		border-width:0 0 1px;
		box-shadow: 0 0 2px $shadow;
		font-size:14px;
		line-height:1.2857;
		position:relative;
		z-index:10;
		@include media(">=desktop") {
			border-width: 1px;
		}
		&.accordeon {
			.active {
				.opener{
					transform:rotate(180deg);
				}
			}
			.opener{
				background:none;
				font-size:16px;
				line-height:1;
				padding:0;
				position:absolute;
				right:20px;
				top:16px;
				transition:transform $animation-speed;
				&:before {
					content: 'UP';
				}
			}
		}
		li{
			padding:0;
			position:relative;
			&.anchor-active,
			&.child-active {
				> a{
					color:$theme-color-base;
				}
			}
			&:before {
				display:none;
			}
			+ li{
				border-top: 1px solid #cbd6d2;
			}
		}
		a{
			background:$white;
			display:block;
			padding:15px 50px 15px 20px;
			position:relative;
			text-decoration:none;
			&:hover {
				background:#edf0ee;
			}
		}
		ul{
			border-width:1px 0 0;
			box-shadow: none;
			li{
				border: 0;
			}
			a{
				background:#edf0ee;
			}
		}
	}
}

.section-related-posts{
	background:$white;
	border-top: 1px solid $border-color-base;
	.holder{
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.boxes-holder{
		padding:6px 0 0;
		&.twocolumns {
			> div{
				@include media(">=desktop") {
					max-width: 50%;
				}
			}
		}
		@include media(">=desktop") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
		    margin:-4px -8px 0;
		    padding:0;
		}
		> div{
			padding:0 0 10px;
			@include media(">=desktop") {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: flex-start;
			    align-content: stretch;
			    align-items: stretch;
				max-width: 33.3333%;
				padding:8px;
				width:100%;
			}
		}
	}
	.post-preview{
		background:$white;
		border: 1px solid $border-color-base;
		box-shadow: 0 2px 4px $shadow;
		line-height:1.3571;
		padding:0 18px 20px;
		@include media(">=tablet") {
			line-height:$line-height-base;
			padding:0 21px 74px;
			position:relative;
			width:100%;
		}
		&.no-image {
			padding-top: 20px;
			@include media(">=tablet") {
				font-size:16px;
				line-height:1.5625;
				padding:25px 29px 79px;
			}
			h2,
			h3{
				@include media(">=tablet") {
					font-size: 26px;
					margin:0 0 2px;
				}
			}
			.button-holder{
				@include media(">=tablet") {
					bottom:31px;
					left:30px;
					padding:0;
					right:30px;
				}
				.btn{
					@include media(">=tablet") {
						max-width: none;
						min-width: 0;
						padding:9px 26px 9px;
						width:auto;
					}
				}
			}
		}
		.post-image{
			border-radius: 0;
			margin:0 -19px 15px;
			@include media(">=tablet") {
				margin:0 -22px 21px;
			}
		}
		h2,
		h3{
			font-size:16px;
			line-height:1.125;
			margin:0 0 5px;
			text-transform:uppercase;
			@include media(">=tablet") {
				// margin:0 0 5px;
			}
		}
		.by{
			font-size: 12px;
			margin:0 0 7px;
		}
		.button-holder{
			padding:19px 0 0;
			@include media(">=tablet") {
				bottom:20px;
				left:21px;
				position:absolute;
				right:21px;
			}
		}
		.btn{
			@include media(">=tablet") {
				max-width: 300px;
				width:100%;
			}
		}
	}
	.view-more-button{
		padding:10px 0 0;
		@include media(">=tablet") {
			padding:21px 0 0;
		}
		+ .boxes-holder{
			padding-top: 20px;
			@include media(">=tablet") {
				padding-top: 26px;
			}
		}
	}
}

.casino-boxes{
	padding:16px 0 19px;
	li{
		+ li{
			padding:9px 0 0;
		}
	}
	.box{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		background:$white;
		box-shadow: 0 0 3px $shadow;
		color:$base-gray;
		font-size:12px;
		line-height:1.25;
		text-align:center;
		@include media(">=tablet") {
			font-size: 20px;
		}
		.heading{
			border-right: 1px solid $border-color-base;
			min-width: 92px;
			padding:10px;
			@include media(">=tablet") {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: flex-start;
			    align-content: center;
			    align-items: center;
				// min-width: 457px;
				max-width: 46.4589%;
				min-width: 46.4589%;
			}
			@include media(">=widescreen") {
				max-width: 49.4589%;
				min-width: 49.4589%;
			}
			.btn{
				display:none;
				@include media(">=tablet") {
					display:inline-block;
					font-size: 14px;
					min-width: 0;
					padding:9px 13px 6px;
				}
			}
		}
		.logo-holder{
			margin-bottom: 7px;
			@include media(">=tablet") {
				margin:0 auto;
				width:120px;
			}
		}
		.logo-description{
			@include media(">=tablet") {
				padding:0 0 8px 15px;
				min-width: 194px;
				text-align:left;
			}
			@include media(">=widescreen") {
				min-width: 224px;
			}
		}
		h2{
			color:#4a4a4a;
			font-size: 12px;
			margin:0 0 3px;
			@include media(">=tablet") {
				font-size: 26px;
				margin:0 0 -1px;
			}
			a{
				@include media(">=tablet") {
					text-decoration:none;
				}
			}
		}
		.stars{
			@include media(">=tablet") {
				margin:0 0 10px;
				width:145px;
			}
		}
		.content{
			flex: 1 1 auto;
			padding:16px 15px 11px;
			@include media(">=tablet") {
				padding:20px 15px 16px;
			}
		}
		h3{
			font-size: 16px;
			margin:0;
			text-transform:uppercase;
			@include media(">=tablet") {
				font-size: 30px;
				margin:0 0 3px;
			}
		}
		p{
			margin:0 0 14px;
		}
		.btn{
			font-size: 14px;
			max-width: 189px;
			min-width: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			width:100%;
			@include media(">=tablet") {
				font-size: 16px;
				max-width: none;
				min-width: 280px;
				padding-top: 9px;
				padding-bottom: 9px;
				width:auto;
			}
		}
	}
}

.section-top-casinos{
	@include media(">=tablet") {
		border-top: 1px solid $border-color-base;
	}
	.holder{
		padding-top: 20px;
		padding-bottom: 25px;
		@include media(">=tablet") {
			padding-top: 32px;
			padding-bottom: 31px;
		}
	}
	.boxes-holder{
		padding:0 0 12px;
		@include media(">=tablet") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: flex-start;
		    align-content: flex-start;
		    align-items: flex-start;
			margin:-7px;
			padding:0 0 21px;
		}
		> div{
			padding:0 0 9px;
			@include media(">=tablet") {
				padding:7px;
			}
		}
		+ .button-holder{
			.btn{
				font-size: 13px;
				padding-top: 9px;
				padding-bottom: 8px;
				@include media(">=tablet") {
					font-size: 16px;
					// padding-top: 9px;
					padding-bottom: 9px;
				}
			}
		}
	}
	.casino-top-box{
		background:$white;
		box-shadow: 0 0 2px $shadow;
		color:$base-gray;
		font-size: 12px;
		text-align:center;
		@include media(">=tablet") {
			font-size: 14px;
			width:327px;
		}
		> .top{
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
		    border-bottom: 1px solid $border-color-base;
		    @include media(">=tablet") {
		    	border: 0;
		    	display:block;
		    }
		}
		.heading{
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
			border: 0 solid $border-color-base;
			border-width: 0 1px 0 0;
			min-width: 91px;
			padding:11px 0 14px;
			@include media(">=tablet") {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: space-between;
			    align-content: center;
			    align-items: center;
				border-width: 0 0 1px;
				padding:10px 21px 8px;
			}
			.left{
				@include media(">=tablet") {
					display: flex;
				    flex-direction: row;
				    flex-wrap: nowrap;
				    justify-content: flex-start;
				    align-content: center;
    				align-items: center;
				}
			}
			.right{
				@include media(">=tablet") {
					padding:0 0 10px;
				}
			}
		}
		.logo-holder{
			margin-bottom: 8px;
			width:40px;
			@include media(">=tablet") {
				margin:0 19px 0 0;
				width:50px;
			}
		}
		.txt{
			@include media(">=tablet") {
				padding:4px 0 0;
				text-align:left;
			}
		}
		h2{
			font-size: 12px;
			margin:0;
			@include media(">=tablet") {
				font-size: 18px;
				margin:0 0 -6px;
			}
			a{
				@include media(">=tablet") {
					text-decoration:none;
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
		.note{
			display:none;
			@include media(">=tablet") {
				color:$base-gray;
				display:block;
				font-size: 12px;
				font-style:normal;
				margin:0 0 10px;
			}
		}
		.rate{
			display:none;
			@include media(">=tablet") {
				display:block;
				margin:0;
			}
			strong{
				@include media(">=tablet") {
					color:inherit;
				}
			}
		}
		.stars{
			width:53px;
			@include media(">=tablet") {
				width:61px;
			}
		}
		.content{
			display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
			flex:1 1 auto;
			.top{
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: stretch;
			    align-items: stretch;
				flex:1 1 auto;
				padding:2px 10px 6px;
				@include media(">=tablet") {
					padding:11px 15px 17px;
				}
			}
			.bottom{
				border-top: 1px solid $border-color-base;
				color:$headings-color;
				font-size: 16px;
				padding:2px 10px 6px;
				@include media(">=tablet") {
					display:none;
				}
				p{
					margin:0;
				}
				strong{
					font-weight:normal;
				}
			}
		}
		h3{
			font-size: 18px;
			font-weight:normal;
			margin:0;
			text-transform:uppercase;
			@include media(">=tablet") {
				font-size: 22px;
				margin:0 0 -2px;
			}
		}
		p{
			margin:-4px 0 0;
			@include media(">=tablet") {
				margin:0;
			}
		}
		.button-holder{
			padding:13px;
			@include media(">=tablet") {
				border-top: 1px solid $border-color-base;
				padding:21px 15px 19px;
			}
			.btn{
				font-size: 13px;
				min-width: 200px;
				@include media(">=tablet") {
					font-size: 18px;
					min-width: 225px;
					padding-top: 8px;
					padding-bottom: 7px;
				}
			}
		}
	}
}