.section-casino{
	// position:relative;
	.subsection{
		background:$white;
		// border: 1px solid $border-color-base;
		padding:0 0 20px;
		// &#section1 {
		// 	border-top-width: 0;
		// }
		&#section2,
		&#section5 {
			box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
		// 	.twocolumns{
		// 		margin-bottom: -20px;
		// 	}
		}
		&#section3,
		&#section6 {
			background:none;
		}
		&#section3 {
			.section-heading{
				@include media(">=tablet") {
					min-height: 78px;
				}
			}
		}
		// &#section4 {
		// 	@include media(">=tablet") {
		// 		padding:0;
		// 		> .holder{
		// 			padding-bottom: 0;
		// 		}
		// 	}
		// 	.twocolumns{
		// 		@include media(">=tablet") {
		// 			justify-content: space-between;
		// 			// align-content: flex-end;
		// 			// align-items: flex-end;
		// 		}
		// 		@include media(">=widescreen") {
		// 			padding:0 151px 0 0;
		// 		}
		// 		> div{
		// 			@include media(">=tablet") {
		// 				padding:0 35px $gutter-width 0;
		// 				width:350px;
		// 			}
		// 			&:nth-child(2) {
		// 				display:none;
		// 				@include media(">=tablet") {
		// 					display:block;
		// 					align-self: flex-end;
		// 					padding:0;
		// 					max-width:450px;
		// 					width:100%;
		// 				}
		// 				@include media(">=desktop") {
		// 					max-width: 716px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
		> .holder{
			// padding:30px 23px 20px;
			padding-top: 30px;
			padding-bottom: 20px;
			@include media(">=tablet") {
				padding-top: 34px;
			}
		}
	}
	h1{
		font-weight:normal;
		margin:0 0 10px;
		text-transform:none;
	}
	p{
		margin:0 0 6px;
		@include media(">=tablet") {
			margin:0 0 3px;
		}
	}
	.option-columns{
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
			padding:0 0 17px;
		}
		> div{
			@include media(">=tablet") {
				padding:0 15px 0 0;
				width: 49%;
			}
			+ div{
				padding:21px 0 0;
				@include media(">=tablet") {
					padding-top: 0;
				}
			}
		}
	}
	.twocolumns{
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: flex-start;
			align-items: flex-start;
		}
		> div{
			@include media(">=tablet") {
				padding-right: 38px;
				width:49.7%;
			}
			+ div{
				padding:25px 0 0;
				@include media(">=tablet") {
					padding:0;
				}
			}
		}
	}
	.games-slider{
		margin:0 0 -2px;
		@include media(">=tablet") {
			margin:0 0 28px;
		}
		.slick-list{
			@include media(">=tablet") {
				margin-right: 0;
				overflow:hidden;
				padding:0;
			}
		}
		.description{
			padding:15px 0 0;
			@include media(">=tablet") {
				padding:19px 9px 0;
			}
			strong{
				font-weight:500;
			}
		}
		.slick-slide{
			@include media(">=tablet") {
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}
	.title{
		display:block;
		font-weight:normal;
		margin:0 0 14px;
		@include media(">=tablet") {
			font-size: 16px;
			margin:0 0 12px;
		}
	}
	.note{
		display:block;
		font-size:12px;
		font-style:normal;
		line-height:1.0833;
		@include media(">=tablet") {
			font-size: 14px;
		}
	}
	.casino-bonuses-list{
		padding:3px 0 0;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			margin:3px -5px -7px;
			padding:0;
		}
		li{
			padding:0 0 9px;
			@include media(">=tablet") {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: stretch;
				align-items: stretch;
				padding:5px;
				width:50%;
			}
			@include media(">=desktop") {
				width:33.3333%;
			}
			@include media(">=widescreen") {
				min-width:25%;
				max-width: 400px;
			}
			&:before {
				display:none;
			}
		}
		.bonus-box{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			background:$white;
			box-shadow: 0 0 3px $shadow;
			color:$base-gray;
			font-size:12px;
			line-height:1.25;
			// @include media(">=widescreen") {
			// 	max-width:380px;
			// }
			.heading{
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-content: center;
				align-items: center;
				border-right: 1px solid $border-color-base;
				min-width:91px;
				padding:5px;
			}
			.logo-holder{
				margin-bottom: 7px;
			}
			h3{
				color:#4a4a4a;
				font-size: 12px;
				font-weight:500;
				margin:0 0 2px;
			}
			.content{
				border-width: 0;
				flex:1 1 auto;
				padding:25px 20px 18px;
				position:relative;
				@include media(">=tablet") {
					padding:24px 30px 18px;
				}
			}
			// .txt{
			// 	display: flex;
			// 	flex-direction: column;
			// 	flex-wrap: nowrap;
			// 	justify-content: center;
			// 	align-content: stretch;
			// 	align-items: stretch;
			// 	min-height: 54px;
			// 	> *{
			// 		width:100%;
			// 	}
			// }
			h4{
				font-size: 18px;
				font-weight:normal;
				line-height:1.0556;
				margin:0 0 5px;
				@include media(">=tablet") {
					margin:0 0 4px;
				}
			}
			p{
				margin:0 0 11px !important;
			}
			.btn{
				font-size: 16px;
				max-width: 189px;
				min-width: 0;
				padding-top: 6px;
				padding-bottom: 6px;
				width:100%;
			}
		}
		// unique -->
		.bonus-box{
			.content{
				@include media(">=tablet") {
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: center;
					align-content: stretch;
					align-items: stretch;
					padding:19px 30px 54px;
				}
			}
			.button-holder{
				@include media(">=tablet") {
					bottom:21px;
					left:30px;
					position:absolute;
					right:30px;
				}
			}
			.btn{
				@include media(">=tablet") {
					padding-top: 4px;
					padding-bottom: 4px;
				}
			}
		}
		// unique <--
	}
	.images-slider{
		@include media(">=tablet") {
			margin-top: -14px;
		}
	}
}

.payment-overview-box{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	background:$white;
	box-shadow: 0 0 3px $shadow;
	padding:11px 22px 13px;
	@include media(">=tablet") {
		align-content: stretch;
		align-items: stretch;
		padding:0;
	}
	.icon-holder{
		padding:12px 0 0;
		@include media(">=tablet") {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-right: 1px solid $border-color-base;
			padding:10px;
		}
		@include media(">=desktop") {
			min-width: 205px;
		}
	}
	.icon-pig{
		background:#ccc;
		border-radius: 100%;
		display:block;
		height:74px;
		width:74px;
		@include media(">=desktop") {
			height:94px;
			width:94px;
		}
	}
	.content{
		flex:1 1 auto;
		padding:0 0 0 22px;
		@include media(">=tablet") {
			padding:20px 15px 11px;
		}
		@include media(">=desktop") {
			padding:26px 25px 11px;
		}
	}
}

dl{
	color:$base-gray;
	font-size:14px;
	line-height:1.7857;
	margin:0;
	@include media(">=desktop") {
		font-size: 16px;
		line-height:1.5625;
	}
	dt{
		color:$headings-color;
		display:block;
		font-weight:500;
		margin:0 0 -5px;
		@include media(">=tablet") {
			font-size: 18px;
			font-weight:normal;
			line-height:1.1222;
			margin:0 0 4px;
		}
	}
	dd{
		margin:0 0 4px;
		@include media(">=tablet") {
			margin:0 0 20px;
		}
	}
}

.casinos-tiles-slider{
	margin:0 0 -20px;
	@include media(">=tablet") {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		margin:-3px -6px;
	}
	> div{
		@include media(">=tablet") {
			padding:6px;
		}
	}
	.slick-list{
		margin:-4px 0 0 -5px;
		overflow:hidden;
		padding:0;
	}
	.slick-slide{
		padding:5px;
	}
	.casino-tile{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		box-shadow: 0 0 3px $shadow;
		height:120px;
		padding:5px;
		text-align:center;
		// width:102px;
		@include media(">=tablet") {
			height:164px;
			width:140px;
		}
		&:hover {
			box-shadow: 0 0 6px $shadow;
			color:$theme-color-base;
			.logo-holder{
				border-color: $theme-color-base
			}
			.h2{
				color:inherit;
			}
		}
		> span{
			display:block;
		}
		.logo-holder{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-bottom: 7px;
			@include media(">=tablet") {
				height:68px;
				margin-bottom: 11px;
				width:68px;
			}
		}
		.h2{
			font-size: 12px;
			margin:0 0 10px;
			@include media(">=tablet") {
				margin:0 0 1px;
			}
		}
		.stars{
			margin:0 auto;
			@include media(">=desktop") {
				width:110px;
			}
		}
	}
}