.section-content{
	background:$white;
	@include media(">=desktop") {
		background:none;
	}
	&.fixed-position{
		.aside{
			@include media(">=desktop") {
				margin:0;
			}
		}
	}
	&.posts-list {
		background:none;
		> .holder{
			@include media("<desktop") {
				padding-top: 0;
				padding-right: 10px;
				padding-left: 10px;
			}
		}
		.content-holder{
			@include media("<desktop") {
				background:$white;
				box-shadow: 0 2px 4px $shadow;
				padding:0 10px 20px;
				// margin:0 384px 0 0;
			}
			&:first-child {
				@include media("<desktop") {
					margin-right: -10px;
					margin-left: -10px;
					padding-right: $gutter-width;
					padding-left: $gutter-width;
					// margin:0 384px 0 0;
				}
				.post-image{
					&.fullwidth {
						margin:0 -#{$gutter-width} 24px;
						@include media(">=desktop") {
							margin-bottom: 34px;
						}
					}
				}
				h1,
				.h1{
					font-size: $h1-font-size;
					line-height:1;
					margin:0 0 9px;
					@include media(">=tablet") {
						font-size: 24px;
						font-weight:500;
						margin:0 0 2px;
						text-transform:uppercase;
					}
				}
				.by{
					font-size: 16px;
					margin:0 0 9px;
					@include media(">=tablet") {
						font-size: 20px;
						margin:0 0 16px;
					}
				}
			}
		}
		.post-image{
			&.fullwidth {
				margin:0 -10px 14px;
				@include media(">=desktop") {
					margin:0 -#{$gutter-width} 25px;
				}
			}
		}
		h1,
		.h1{
			font-size: 16px;
			line-height:1.2727;
			margin:0 0 2px;
			text-transform:uppercase;
			@include media(">=tablet") {
				font-size: 22px;
				font-weight:normal;
				margin:0 0 10px;
				text-transform:none;
			}
		}
		.by{
			@include media("<tablet") {
				font-size: 12px;
				margin:0 0 5px;
			}
		}
	}
	> .holder{
		padding-top: 47px;
		@include media(">=desktop") {
			max-width: 1440px;
			overflow:hidden;
			padding-top: 0;
		}
	}
	.content{
		@include media(">=desktop") {
			float:left;
			padding-top: 10px;
			width:100%;
		}
		&:only-child {
			@include media(">=desktop") {
				float:none;
				width:auto;
			}
			.content-holder{
				@include media(">=desktop") {
					max-resolution:0 !important;
				}
			}
		}
	}
	.content-holder{
		padding:0 0 10px;
		@include media(">=desktop") {
			background:$white;
			box-shadow: 0 0 4px $shadow;
			border-radius:3px 3px 0 0;
			margin:0 279px 0 0;
			padding:0 $gutter-width 25px;
		}
		@include media(">=widescreen") {
			margin-right: 384px;
		}
		+ .content-holder{
			margin-top:20px;
		}
		.button-holder{
			padding:5px 0 0;
			@include media(">=tablet") {
				padding:18px 0 9px;
				text-align:left;
			}
			.btn{
				font-size: 14px;
				letter-spacing:0.03em;
				min-width: 290px;
				padding-top: 8px;
				padding-bottom: 7px;
				max-width: 290px;
				min-width: 0;
				width:100%;
				@include media(">=tablet") {
					font-size: 16px;
					max-width: none;
					min-width: 400px;
					padding-bottom: 10px;
					width:auto;
				}
			}
		}
	}
	.aside{
		@include media("<desktop") {
			left:0;
			// margin:0 -#{$gutter-width};
			position:fixed;
			top:60px;
			width:100% !important;
			z-index:10;
		}
		@include media(">=desktop") {
			display:block;
			float:right;
			margin:0 0 0 -100%;
			padding:10px 0 30px;
			position:relative;
			width:270px;
			z-index:5;
		}
		@include media(">=widescreen") {
			width:375px;
		}
		.widget{
			display:none;
			@include media(">=desktop") {
				display:block;
			}
			&.open-close {
				display:block;
				position:relative;
				&.active {
					&:before {
						display:block;
					}
				}
				&:before {
					background:rgba($black, 0.8);
					content: '';
					display:none;
					height:100%;
					left:0;
					pointer-events:none;
					position:fixed;
					top:0;
					width:100%;
					z-index:5;
				}
				> .opener{
					background:$white;
					border-bottom: 1px solid $border-color-base;
					display:block;
					font-size:14px;
					line-height:1.2857;
					padding:15px 50px 15px 20px;
					position:relative;
					text-decoration:none;
					z-index:10;
					@include media(">=desktop") {
						display:none;
					}
					&:before {
						content: 'UP';
						padding:15px 15px 16px;
						position:absolute;
						right:5px;
						top:0;
						transition:transform $animation-speed;
					}
				}
				> .slide{
					left:0;
					position:absolute;
					top:0;
					width:100%;
					@include media(">=desktop") {
						position:static !important;
					}
				}
			}
			ul{
				border:0 solid #cbd6d2;
				border-width:0 0 1px;
				box-shadow: 0 0 2px $shadow;
				font-size:14px;
				line-height:1.2857;
				position:relative;
				z-index:10;
				@include media(">=desktop") {
					border-width: 1px;
				}
				&.accordeon {
					.active {
						.opener{
							transform:rotate(180deg);
						}
					}
					.opener{
						background:none;
						font-size:16px;
						line-height:1;
						padding:0;
						position:absolute;
						right:20px;
						top:16px;
						transition:transform $animation-speed;
						&:before {
							content: 'UP';
						}
					}
				}
				li{
					padding:0;
					position:relative;
					&.anchor-active,
					&.child-active {
						> a{
							color:$theme-color-base;
						}
					}
					&:before {
						display:none;
					}
					+ li{
						border-top: 1px solid #cbd6d2;
					}
				}
				a,
				span{
					background:$white;
					display:block;
					padding:15px 50px 15px 20px;
					position:relative;
					text-decoration:none;
					&:hover {
						background:#edf0ee;
					}
				}
				ul{
					border-width:1px 0 0;
					box-shadow: none;
					li{
						border: 0;
					}
					a{
						background:#edf0ee;
					}
				}
			}
		}
	}
	.content-casino-boxes{
		padding:16px 0 38px;
		@include media(">=desktop") {
			padding:30px 0 9px;
		}
		+ .content-casino-boxes{
			margin-top: -29px;
			padding-top: 0 !important;
			@include media(">=desktop") {
				margin-top: 0;
			}
		}
		.box{
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: stretch;
			background:$white;
			box-shadow: 0 0 3px $shadow;
			color:$base-gray;
			font-size:12px;
			line-height:1.25;
			text-align:center;
			@include media(">=tablet") {
				font-size: 20px;
			}
			.heading{
				display: flex;
			    flex-direction: column;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-content: stretch;
			    align-items: stretch;
				border-right: 1px solid $border-color-base;
				min-width: 92px;
				padding:10px 8px 6px;
				@include media(">=tablet") {
					display: flex;
				    flex-direction: row;
				    flex-wrap: nowrap;
				    justify-content: flex-start;
				    align-content: center;
				    align-items: center;
					// min-width: 457px;
					max-width: 46.4589%;
					min-width: 46.4589%;
				}
				@include media(">=widescreen") {
					max-width: 49.4589%;
					min-width: 49.4589%;
				}
				.btn{
					display:none;
					@include media(">=tablet") {
						display:inline-block;
						font-size: 14px;
						min-width: 0;
						padding:9px 13px 6px;
					}
				}
			}
			.logo-holder{
				margin-bottom: 7px;
				@include media(">=tablet") {
					margin:0 auto;
					width:120px;
				}
			}
			.logo-description{
				@include media(">=tablet") {
					padding:0 0 8px 15px;
					min-width: 194px;
					text-align:left;
				}
				@include media(">=widescreen") {
					min-width: 224px;
				}
			}
			h2{
				color:#4a4a4a;
				font-size: 12px;
				margin:0 0 3px;
				@include media(">=tablet") {
					font-size: 26px;
					margin:0 0 -1px;
				}
				a{
					@include media(">=tablet") {
						text-decoration:none;
					}
				}
			}
			.stars{
				@include media(">=tablet") {
					margin:0 0 10px;
					width:145px;
				}
			}
			.content{
				flex: 1 1 auto;
				padding:16px 15px 11px;
				@include media(">=tablet") {
					padding:20px 15px 16px;
				}
			}
			h3{
				font-size: 16px;
				margin:0;
				text-transform:uppercase;
				@include media(">=tablet") {
					font-size: 30px;
					margin:0 0 3px;
				}
			}
			p{
				margin:0 0 14px;
			}
			.btn{
				font-size: 14px;
				max-width: 189px;
				min-width: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				width:100%;
				@include media(">=tablet") {
					font-size: 16px;
					max-width: none;
					min-width: 280px;
					padding-top: 9px;
					padding-bottom: 9px;
					width:auto;
				}
			}
		}
	}
}

.share-block{
	padding:26px 10px 18px;
	h2{
		font-size: 16px;
		margin:0 0 16px;
		text-transform:uppercase;
	}
	ul{
		li{
			display:inline-block;
			vertical-align:top;
			padding:0 6px 10px 0;
			&:before {
				display:none;
			}
			&:hover {
				a{
					opacity:0.7;
				}
			}
		}
	}
}

.section-related-posts{
	background:$white;
	box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
	// border: 0 solid $border-color-base;
	// border-width: 0 0 1px;
	padding: 25px 0 37px;
	position:relative;
	@include media(">=desktop") {
		padding:35px 0;
	}
}

.post-preview{
	background:$white;
	border: 1px solid $border-color-base;
	box-shadow: 0 2px 4px $shadow;
	line-height:1.3571;
	padding:0 18px 62px;
	position:relative;
	@include media(">=tablet") {
		line-height:$line-height-base;
		padding:0 21px 74px;
		width:100%;
	}
	&.no-image {
		padding-top: 20px;
		@include media(">=tablet") {
			font-size:16px;
			line-height:1.5625;
			padding:25px 29px 79px;
		}
		h2,
		h3{
			@include media(">=tablet") {
				font-size: 26px;
				margin:0 0 2px;
			}
		}
		.button-holder{
			@include media(">=tablet") {
				bottom:31px;
				left:30px;
				padding:0;
				right:30px;
			}
			.btn{
				@include media(">=tablet") {
					max-width: none;
					min-width: 0;
					padding:9px 26px 9px;
					width:auto;
				}
			}
		}
	}
	&.payments{
		.post-image{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			height:150px !important;
			border-bottom: 1px solid #CBD6D2;
			img{
				width: auto;
			}
			.logo-holder{
				width: 120px;
				height:120px;
			}
		}
		h3{
			font-size: 22px;
			font-weight: 500;
			text-transform:none;
		}
	}
	.post-image{
		border-radius: 0;
		margin:0 -19px 14px;
		position:relative;
		@include media(">=tablet") {
			margin:0 -22px 21px;
		}
		&:hover {
			.icon-play{
				opacity:0.7;
			}
		}
		&.post-video {
			.icon-play{
				display:block;
			}
		}
		.icon-play{
			background:$white;
			border-radius: 100%;
			display:none;
			height:55px;
			left:50%;
			position:absolute;
			top:50%;
			transform:translate(-50%, -50%);
			width:55px;
			z-index:5;
		}
	}
	h2,
	h3{
		font-size:16px;
		line-height:1.125;
		margin:0 0 4px;
		text-transform:uppercase;
		@include media(">=tablet") {
			// margin:0 0 5px;
		}
	}
	.by{
		font-size: 12px;
		margin:0 0 7px;
	}
	.button-holder{
		bottom:21px;
		left:18px;
		position:absolute;
		right:18px;
	}
	.btn{
		@include media(">=tablet") {
			max-width: 300px;
			width:100%;
		}
	}
}

img.stars{
	display:block;
	margin:0 auto;
}