.template-default-page{
	.page-heading{
		background:$white;
		border-bottom: 1px solid $border-color-base;
		padding: 23px 0 19px;
		overflow:hidden;
		@include media(">=desktop") {
			padding:31px 0 36px;
		}
		> .holder{
			overflow:visible;
		}
		.logo-holder{
			float:left;
			margin:-1px 18px 12px -2px;
			@include media(">=desktop") {
				margin:-1px 46px 12px 31px;
				width:120px;
			}
		}
		.fake-select{
			margin:31px 0 11px;
		}
	}
	h1{
		margin:0 0 3px;
		@include media(">=desktop") {
			margin:0 0 5px;
		}
	}
	p{
		margin:0;
	}
	.offer-sticker{
		margin:29px 0 0;
	}
	.page-content{
		background:$white;
		box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
		padding: 16px 0 9px;
		@include media(">=desktop") {
			padding:34px 0 13px;
		}
	}
}

.filtered-list{
	.section-related-posts{
		&:nth-child(2n-1) {
			background:transparent;
			box-shadow: none;
		}
		.section-heading{
			display:none;
			@include media(">=desktop") {
				display:block;
			}
		}
		h2{
			@include media(">=desktop") {
				font-size: 26px;
				margin:0 0 2px;
				text-transform:uppercase;
			}
		}
	}
}