.template-default-page{
	.page-heading{
		background:$white;
		border-bottom: 1px solid $border-color-base;
		padding: 25px 0 9px;
		.logo-holder{
			float:left;
			margin:-1px 18px 12px -2px;
			@include media(">=desktop") {
				margin:-1px 46px 12px 31px;
				width:120px;
			}
		}
		.fake-select{
			margin:31px 0 11px;
		}
	}
	h1{
		margin:0 0 5px;
	}
	.offer-sticker{
		margin:18px 0 11px;
	}
	.page-content{
		background:$white;
		box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
		padding: 16px 0 9px;
		@include media(">=desktop") {
			padding:34px 0 13px;
		}
	}
	.boxes-holder{
		padding:19px 0 21px;
		@include media(">=desktop") {
			padding:30px 0 21px;
		}
	}
}

.filtered-list{
	.section-related-posts{
		width:100%;
		// &:first-child {
		// 	border-width: 0;
		// }
		&:nth-child(2n-1) {
			background:transparent;
			box-shadow: none;
		}
		.section-heading{
			display:none;
			@include media(">=desktop") {
				display:block;
			}
		}
		h2{
			@include media(">=desktop") {
				font-size: 26px;
				margin:0 0 2px;
				text-transform:uppercase;
			}
		}
	}
}