.template-default-page{
	.home .template-default-page + & {
		background:$white;
		box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
	}
	&.results {
		color:$add-text-color;
		line-height:1.5;
		.frame{
			max-width: 550px;
		}
		h1{
			margin:0 0 25px;
			@include media(">=tablet") {
				font-size:36px;
				font-weight:bold;
				line-height:1.2222;
				margin:8px 0 14px;
				text-transform:none;
			}
			+ .results-list {
				@include media(">=tablet") {
					margin:11px 0 0;
				}
			}
		}
		h2{
			@include media(">=tablet") {
				color:$base-gray;
				font-size: 18px;
				font-weight:500;
				margin:0 0 10px;
				text-transform:uppercase;
			}
		}
		p{
			margin:0 0 18px;
			max-width: 450px;
		}
		.btn{
			@include media(">=desktop") {
				margin:0 0 27px;
				min-width: 300px;
				padding-top: 11px;
				padding-bottom: 12px;
			}
		}
	}
	.page-heading{
		background:$white;
		border-bottom: 1px solid $border-color-base;
		padding: 23px 0 19px;
		overflow:hidden;
		@include media(">=desktop") {
			color:$base-gray;
			font-size:16px;
			line-height:1.75;
			padding:31px 0 36px;
		}
		> .holder{
			overflow:visible;
		}
		.logo-holder{
			float:left;
			margin:-1px 18px 12px -2px;
			padding:5px;
			@include media(">=desktop") {
				height:140px;
				margin:-1px 46px 0 31px;
				max-width:140px;
				min-width:140px;
				padding:10px;
			}
		}
		p{
			margin:0;
		}
		.frame{
			overflow:hidden;
		}
		.fake-select{
			margin:31px 0 11px;
		}
	}
	h1{
		margin:0 0 3px;
		@include media(">=desktop") {
			margin:0 0 5px;
		}
	}
	.offer-sticker{
		margin:29px 0 0;
	}
	.page-content{
		background:$white;
		box-shadow:0 -1px 0 $border-color-base inset, 0 -1px 0 $border-color-base;
		padding: 16px 0 9px;
		@include media(">=desktop") {
			padding:34px 0 24px;
		}
		.holder{
			> *{
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.fluid-width-video-holder{
			@include media(">=desktop") {
				max-width: 75%;
				margin:20px auto;
			}
		}
	}
}

.filtered-list{
	.section-related-posts{
		&:nth-child(2n-1) {
			background:transparent;
			box-shadow: none;
		}
		.section-heading{
			display:none;
			@include media(">=desktop") {
				display:block;
			}
		}
		h2{
			@include media(">=desktop") {
				font-size: 26px;
				margin:0 0 2px;
				text-transform:uppercase;
			}
		}
	}
}