.first-message {
    margin: 0 auto;
    width: 70%;
    padding-top: 40px;
    
    span {
        display: flex;
        justify-content: center;
        font-size: 250%;
        font-family: brother-1816, sans-serif;
        font-style: bold;
        color: $greenDefault;
    }
    
}


































































































































