extends pug/extends/master

block content
	#main
		ul#navigation-links
			li
				| done
			li
				a(href="default-page.html").btn.btn-primary Default page
			li
				a(href="guides.html").btn.btn-primary guides
			li
				a(href="blackjack-guides.html").btn.btn-primary blackjack guides
			li
				a(href="news.html").btn.btn-primary news
			li
				a(href="article.html").btn.btn-primary article
			li
				| in progress ¯\_(ツ)_/¯
			li
				a(href="live-casino.html").btn.btn-primary live casino
			li
				a(href="blackjack-strategy.html").btn.btn-primary blackjack strategy
			li
				a(href="bonus-news.html").btn.btn-primary bonus news
			li
				a(href="casino-review.html").btn.btn-primary casino review
			li
				a(href="bitcoin.html").btn.btn-primary bitcoin
			li
				a(href="casinos.html").btn.btn-primary casinos
			li
				a(href="monthly-offers.html").btn.btn-primary monthly-offers
			li
				a(href="mega-fortune.html").btn.btn-primary mega fortune
			li
				a(href="new-casinos.html").btn.btn-primary new casinos
			li
				a(href="welcome-bonus.html").btn.btn-primary welcome bonus
			li
				a(href="bonuses.html").btn.btn-primary bonuses
			li
				a(href="payments.html").btn.btn-primary payments
			li
				a(href="games-jackposts.html").btn.btn-primary games and jackposts
				| deleted
			li
				a(href="index.html").btn.btn-primary index