extends pug/extends/master

block content
	#main
		ul#navigation-links
			li
				| done
			li
				a(target="_blank" href="blackjack-strategy.html").btn.btn-primary blackjack strategy
			li
				a(target="_blank" href="guides.html").btn.btn-primary guides
			li
				a(target="_blank" href="blackjack-guides.html").btn.btn-primary blackjack guides
			li
				a(target="_blank" href="casino-review.html").btn.btn-primary casino review
			li
				a(target="_blank" href="news.html").btn.btn-primary news
			li
				a(target="_blank" href="bitcoin.html").btn.btn-primary bitcoin
			li
				a(target="_blank" href="casinos.html").btn.btn-primary casinos
			li
				a(target="_blank" href="monthly-offers.html").btn.btn-primary monthly-offers
			li
				a(target="_blank" href="mega-fortune.html").btn.btn-primary mega fortune
			li
				a(target="_blank" href="new-casinos.html").btn.btn-primary new casinos
			li
				a(target="_blank" href="welcome-bonus.html").btn.btn-primary welcome bonus
			li
				a(target="_blank" href="bonuses.html").btn.btn-primary bonuses
			li
				a(target="_blank" href="payments.html").btn.btn-primary payments
			li
				| in progress ¯\_(ツ)_/¯
			li
				a(target="_blank" href="article.html").btn.btn-primary article
			li
				a(target="_blank" href="index.html").btn.btn-primary index
			li
				a(target="_blank" href="games-jackposts.html").btn.btn-primary games and jackposts