extends pug/extends/master

block content
	//- 
		- var page_class = "hide-bonus"
		include pug/includes/header
	#main
		section.template-default-page
			//- 
			.subsection.page-heading
				.holder
					.logo-holder
						a(href="#")
							img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
					h1 Heading 1
					strong.subtitle.green Heading 2
					p You may have seen or heard something about Bitcoin Casinos before, probably even right here on our site. There are many advantages to having a Bitcoin Casino over a regular one, as many casino players can surely appreciate, there is a simply an unrivalled sense of anonymity and (if you know what you are doing) security.
					p
						a(href="#default-popup").lightbox-opener t&amp;c apply
					strong.offer-sticker
						strong 624 Bonuses Available
						|  - Last updated 2 days ago
			.subsection.page-content
				.holder
					//- 
					p
						a(href="#casino-summary-popup").btn.btn-primary.lightbox-opener
							| primary
							span.cube.loader.small.loading
								span.cube-face.cube-face-front
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-back
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-left
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-right
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-bottom
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-top
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
						| &nbsp;
						a(href="#").btn.btn-primary.is-loading
							| 123
							span.cube.loader.small.loading
								span.cube-face.cube-face-front
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-back
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-left
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-right
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-bottom
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-top
									img(src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM2ZGFmMGUiIGQ9Ik0xNzIuNzcgMzQ5Ljc0NWwtMS42ODIgMTY0LjUyNmgtMTcxLjA4N3YtNTE0LjEwM2g1LjU1Mmw4NDYuNTIgNjc2LjQ0MnYtNjc2LjYxaDE3MC45MTl2MTAyMy4zMjdoLTQuMDM3bC04NDYuMTg0LTY3My41ODJ6TTE3MC45MTkgODUzLjA4MXYtMjYyLjc3MWgtMTcwLjkxOXY0MzMuODU4aDYzMC4xOHYtMTcxLjA4N2gtNDU5LjI2MXpNMzI4LjU0OCAxNzAuOTE5bC0yMTkuMzY4LTE3MC45MTloNTEwLjczOHYxNzAuOTE5aC0yOTEuMzd6Ij48L3BhdGg+Cjwvc3ZnPgo=", alt="Image description", width="40", height="40")
					p
						a(href="#default-popup").btn.btn-secondary.lightbox-opener secondary
						| &nbsp;
						a(href="#").btn.btn-secondary.is-loading secondary
							span.cube.loader.small.loading
								span.cube-face.cube-face-front
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-back
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-left
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-right
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-bottom
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-top
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
					p
						a(href="#").btn.btn-secondary.invert secondary invert
						| &nbsp;
						a(href="#").btn.btn-secondary.invert.is-loading secondary invert
							span.cube.loader.small.loading
								span.cube-face.cube-face-front
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-back
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-left
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-right
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-bottom
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
								span.cube-face.cube-face-top
									img(src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjMiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjMgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZmlsbD0iIzUxNTE1MSIgZD0iTTE3Mi43NyAzNDkuNzQ1bC0xLjY4MiAxNjQuNTI2aC0xNzEuMDg3di01MTQuMTAzaDUuNTUybDg0Ni41MiA2NzYuNDQydi02NzYuNjFoMTcwLjkxOXYxMDIzLjMyN2gtNC4wMzdsLTg0Ni4xODQtNjczLjU4MnpNMTcwLjkxOSA4NTMuMDgxdi0yNjIuNzcxaC0xNzAuOTE5djQzMy44NThoNjMwLjE4di0xNzEuMDg3aC00NTkuMjYxek0zMjguNTQ4IDE3MC45MTlsLTIxOS4zNjgtMTcwLjkxOWg1MTAuNzM4djE3MC45MTloLTI5MS4zN3oiPjwvcGF0aD48L3N2Zz4=", alt="Image description", width="40", height="40")
					p
						a(href="#").btn.btn-link link
						| &nbsp;
						a(href="#").btn.btn-link.is-loading link
					p
						a(href="#").btn.btn-dark dark
						| &nbsp;
						a(href="#").btn.btn-dark.is-loading dark
	include pug/includes/footer