extends pug/extends/master

block content
	include pug/includes/header

	#main
		.post-content
			.post
				.post-img
					img(src="images/img-1.png", alt="Image description", width="", height="")
				h1  NetEnt New Casinos December 2017
				span.text
					|  Published on 6th November 2017 by Adam
				p
					|  As Christmas fast approaches, it’s time to take a look at the new online casinos which have impressed us enough of late to warrant your attention. We analyse every little detail of a new platform before bringing them to the table, with all kinds of aspects overseen – seen within our NetEnt casino reviews.

				p
					|  So, with everyone getting into the festive spirit, let’s take a look at December 2017’s best new casinos – with juicy welcome packages a given!
			.post
				.post-img
					img(src="images/img-1.png", alt="Image description", width="", height="")
				h1 HighRoller Casino
				span.text
					|  Published on 6th November 2017 by Adam
				p
					| And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:

				ul
					li -  Pretty much every available NetEnt slot/game to play
					li -  A richly rewarding storyline which sees you progress through a fictional metropolis
					li -  Steal coins from fellow players in exchange for spins!
					li -  Seamless availability on both mobile and desktop
					li -  An entire 24/7 “backup” help team for your convenience
				p
					|  As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
				p
					strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
				.txt
					a(href="#").btn.btn-primary Take me to HighRoller Casino
			.post
				.post-img
					img(src="images/img-1.png", alt="Image description", width="", height="")
				h1  LadyLucks
				span.text
					|  Published on 6th November 2017 by Adam
				p
					|  And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:

				ul
					li -  Pretty much every available NetEnt slot/game to play
					li -  A richly rewarding storyline which sees you progress through a fictional metropolis
					li -  Steal coins from fellow players in exchange for spins!
					li -  Seamless availability on both mobile and desktop
					li -  An entire 24/7 “backup” help team for your convenience
				p
					|  As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
				p
					strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
				.txt
					a(href="#").btn.btn-primary Take me to HighRoller Casino
			.post
				.post-img
					img(src="images/img-1.png", alt="Image description", width="", height="")
				h1  Wild Slots
				span.text
					|  Published on 6th November 2017 by Adam
				p
					|  And what a way to kick things off – Highroller Casino! We don’t exactly gush over new casino domains regularly, however we had to make an exception with Highroller (not High Roller) Casino due to the quality on show. You can see the entirety of our reasoning within the Highroller Casino review, but here’s a quick snapshot:

				ul
					li -  Pretty much every available NetEnt slot/game to play
					li -  A richly rewarding storyline which sees you progress through a fictional metropolis
					li -  Steal coins from fellow players in exchange for spins!
					li -  Seamless availability on both mobile and desktop
					li -  An entire 24/7 “backup” help team for your convenience
				p
					|  As 2018 is set to be saturated with more speculation about the possibilities of technology in iGaming, it’s refreshing to see a platform focussed more on the experience of now.
				p
					strong Grab your 200% up to €100 + 50 free spins welcome bonus from Highroller Casino!
				.txt
					a(href="#").btn.btn-primary Take me to HighRoller Casino
		.share-block
			span.head-title
				|  Share Article
			a(href="#") Share
			a(href="#") Share
		.post-articles
			.heading-title
				h1  Similar News Articles
				span.title Other bonus related articles
			.post-block
				.post-holder
					.post-box
						.post-img
							a(href="#")
								img(src="images/img-1.png", alt="Image description", width="", height="")
						.post-text
							h2  NetEnt Casino Bonus Codes December 2017
							span.title  Published on 9 November 2017 by Adam
							p
								|  As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
						a(href="#").btn.btn-secondary Continue Reading
				.post-holder
					.post-box
						.post-img
							a(href="#")
								img(src="images/img-1.png", alt="Image description", width="", height="")
						.post-text
							h2  NetEnt Casino Bonus Codes December 2017
							span.title  Published on 9 November 2017 by Adam
							p
								|  As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
						a(href="#").btn.btn-secondary Continue Reading
				.post-holder
					.post-box
						.post-img
							a(href="#")
								img(src="images/img-1.png", alt="Image description", width="", height="")
						.post-text
							h2  NetEnt Casino Bonus Codes December 2017
							span.title  Published on 9 November 2017 by Adam
							p
								|  As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
						a(href="#").btn.btn-secondary Continue Reading
			a(href="#").btn.btn-secondary View more articles
	section.section-promo
		.holder
			include pug/includes/promo-content


	include pug/includes/footer