extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
			section.section-breadcrumbs
				.holder
					div
						ul.breadcrumbs
							li
								a(href="#") Home
							li
								a(href="#") NetEnt Game &amp; Jackpots
							li Mega Fortune Jackpot
					div
						p Last updated - 
							strong 2 days ago!
		//- 
			section.section-intro
				.holder
					//- 
						.casino-logo
							img(src="http://via.placeholder.com/207x69")
					.content
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Betsson
									span.sticker £2,061.762
								strong.media-title Planet of the Apes 2
				- var image = "banner-concept-4"
				include pug/extends/retina-images
		section.template-casinos-list
			//- 
				.subsection.content
					.holder
						h1 Top Bitcoin Casinos
						strong 12 casinos offering Bitcoin
						p You may have seen or heard something about Bitcoin Casinos before, probably even right here on our site. There are many advantages to having a Bitcoin Casino over a regular one, as many casino players can surely appreciate, there is a simply an unrivalled sense of anonymity and (if you know what you are doing) security.
			.subsection.boxes-holder
				.holder
					ul
						li
							#cb1
								.top
									.heading
										.logo-holder
											a(href="#")
												img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
										h2
											a(href="#") SlotsMillion
										img(src="images/stars.png", alt="Image description", width="148", height="23").stars

								.middle
								.bottom
						li
							.casino-box
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box.cb2
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box.cb3
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box.cb4
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box.cb5
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box.cb6
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
					.button-holder.text-center
						a(href="#").btn.btn-secondary View more casinos
		//- 
			.subsection.content
				.holder
					h1 BitCoin Exchange
					p 1 Bitcoin (equals) =
						strong £6136.29
					.casino-description
						div
							.row
								.heading
									strong Bitcoin
								.content
									p 1
							.row
								.heading
									strong British pound
								.content
									p 6136.29
	//- 
		section.section-top-casinos
			.holder
				.section-heading
					h1 Top Casinos Offering Blackjack
					strong.subtitle Exclusive Casino Bonuses
				.boxes-holder
					div
						.casino-box
							.top
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.logo-description
										h2
											a(href="#") SlotsMillion
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.counter
										strong +24
										|  Blackjack Games
							.button-holder.text-center
								a(href="#").btn.btn-primary Play at Betsson
					div
						.casino-box
							.top
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.logo-description
										h2
											a(href="#") Dunder
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.counter
										strong +55
										|  Blackjack Games
							.button-holder.text-center
								a(href="#").btn.btn-primary Play at Unibet
					div
						.casino-box
							.top
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.logo-description
										h2
											a(href="#") LeoVegas
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.counter
										strong +12
										|  Blackjack Games
							.button-holder.text-center
								a(href="#").btn.btn-primary Play at Betsson
				.button-holder.text-center
					a(href="#").btn.btn-secondary View more exclusive offers
		section.section-top-casinos
			.subsection.content
				.holder
					h1 Bitcoin Casino - The Future of iGaming
					p Why choose a Bitcoin casino? Well, there are a number of perks that are unique to cryptocurrencies. Because it is decentralised, i.e. not under the control of any banking institution, this currency is completely resistant to inflation and to corruption. Transactions take place directly between the users exchanging the currency – no middle man involved.
					p Anonymity is also a big advantage over traditional currencies. Transactions are completely private, with both parties’ identities totally obscured behind a simple string of code that cannot be connected to any personal details.
					p
						a(href="#") Read More
	//- include pug/includes/footer