extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") Guides
						li
							| Blackjack guides
				div
					p Last updated - 
						strong 2 days ago!
		section.section-posts-collection
			.subsection.main-heading
				.holder
					h1 Blacjack Guides
					p With most online casino games, a player at an online blackjack table is fighting the house edge. Unless you are an expert, you might end up losing your bankroll in the long run. There are, however, a number of ways which can help you secure the best chance of winning and increasing your bankroll. If the right cards roll your way, you can also expect to make a neat profit. Here are our top 9 ways to boost your bankroll at online blackjack.
					//- a(href="#fiter-posts-popup").btn.btn-secondary.lightbox-opener.fake-select
					//- 	span.txt All News 
					//- 	span.number (50)
			.filtered-list
				.subsection.section-related-posts
					.holder
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Different types of online blackjack games
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p The game of online blackjack is potentially one of the most loved casino games around the world. It is for this very reason, that dozens of blackjack variations have popped up over the years. 
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="blackjack-strategy.html")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Advanced blackjack strategy: Tips and tricks
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Success and profit in the game of online blackjack come from applying the right techniques at the right time.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") How to win at blackjack
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Is there is a foolproof blackjack strategy that can help you improve your game and ultimately help you win money.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Different types of online blackjack games
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p The game of online blackjack is potentially one of the most loved casino games around the world. It is for this very reason, that dozens of blackjack variations have popped up over the years. 
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Advanced blackjack strategy: Tips and tricks
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Success and profit in the game of online blackjack come from applying the right techniques at the right time.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") How to win at blackjack
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Is there is a foolproof blackjack strategy that can help you improve your game and ultimately help you win money.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Different types of online blackjack games
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p The game of online blackjack is potentially one of the most loved casino games around the world. It is for this very reason, that dozens of blackjack variations have popped up over the years. 
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Advanced blackjack strategy: Tips and tricks
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Success and profit in the game of online blackjack come from applying the right techniques at the right time.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
	include pug/includes/footer