extends pug/extends/master

block content
	//- 
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				.breadcrumbs
					span
						span
							a(href='#') Home
							span
								a(href='#') News
								span.breadcrumb_last Bonus News
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.subsection.page-heading
				.holder
					h1 Bonus News
					p If you’re looking to get a bit more bang for your buck when playing online casino, our bonus promotions and offers page is the perfect place to explore. We keep this section updated regularly with the best casino deals for NetEnt games, so you can choose your favourites quickly to get started. Keep referring back to this page to benefit, and remember – we only recommend the very best platforms around!
					a(href="#fiter-posts-popup").btn.btn-secondary.lightbox-opener.fake-select
						span.txt All Bonus News 
						span.number (50)
			.content-navigation.filter-list
				.holder
					ul
						li.is-checked
							a(href="#", data-filter="") All Bonus News
						li
							a(href="#", data-filter=".free-spins-news") Free Spins News
						li
							a(href="#", data-filter=".no-deposit-news") No Deposit Bonus News
			.subsection.section-related-posts
				.holder
					ul.grid.filtered-list
						li.filtered-item.free-spins-news
							.post-preview
								.post-image
									img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									a(href="#").hover-box
										img(src="assets/images/link.svg", alt="Image description", width="140", height="140")
								h3
									a(href="#") Different types of online blackjack games
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-08") 8th November 2017
									|  by 
									a(href="#") Adam
								p The game of online blackjack is potentially one of the most loved casino games around the world. It is for this very reason, that dozens of blackjack variations have popped up over the years. 
								.button-holder.text-center
									a(href="#").btn.btn-primary Continue Reading
						li.filtered-item.free-spins-news
							.post-preview
								.post-image
									img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									a(href="#").hover-box
										img(src="assets/images/link.svg", alt="Image description", width="140", height="140")
								h3
									a(href="#") Advanced blackjack strategy: Tips and tricks
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-08") 8th November 2017
									|  by 
									a(href="#") Adam
								p Success and profit in the game of online blackjack come from applying the right techniques at the right time.
								.button-holder.text-center
									a(href="#").btn.btn-primary Continue Reading
						li.filtered-item.no-deposit-news
							.post-preview
								.post-image
									img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									a(href="#").hover-box
										img(src="assets/images/link.svg", alt="Image description", width="140", height="140")
								h3
									a(href="#") How to win at blackjack
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-08") 8th November 2017
									|  by 
									a(href="#") Adam
								p Is there is a foolproof blackjack strategy that can help you improve your game and ultimately help you win money.
								.button-holder.text-center
									a(href="#").btn.btn-primary Continue Reading
					.load-more.text-center
						a(href="#").btn.btn-secondary.invert view more articles
	include pug/includes/footer