extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		section.template-casinos-list
			.subsection.content
				.holder
					h1 NetEnt Bonuses
					strong.subtitle.green Start playing with more today!
					p NetEnt has a number of standard bonuses that can be used in various NetEnt Casinos, and you as a player can take full advantage of them. The most well-known offers are Welcome Bonuses, No Deposit Bonuses, Deposit Bonuses, Reward Bonuses, Free Bonuses, and Free Spins. Here you can read the different kinds of NetEnt casino bonuses which you as a player can enjoy when you play NetEnt games at an online casino.
					strong.offer-sticker
						strong 624 Bonuses Available
						|  - Last updated 2 days ago
			.subsection.boxes-holder
				.holder
					ul
						li
							.casino-box
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
					.button-holder.text-center
						a(href="#").btn.btn-secondary view More Casinos
	include pug/includes/footer