extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		section.template-casinos-list
			.subsection.content
				.holder
					.logo-holder.logo-heading
						a(href="#")
							img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
					h1 NetEnt Bonuses
					strong.subtitle.green Start playing with more today!
					p NetEnt has a number of standard bonuses that can be used in various NetEnt Casinos, and you as a player can take full advantage of them. The most well-known offers are Welcome Bonuses, No Deposit Bonuses, Deposit Bonuses, Reward Bonuses, Free Bonuses, and Free Spins. Here you can read the different kinds of NetEnt casino bonuses which you as a player can enjoy when you play NetEnt games at an online casino.
					strong.offer-sticker
						strong 624 Bonuses Available
						|  - Last updated 2 days ago
			.subsection.boxes-holder
				.holder
					ul.grid.sh-holder
						li
							.bonus-box
								.heading.sh-column
									h2 Welcome Bonus
									p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 314 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 No Deposit Bonus
									p Check out all Netent Casinos that grant their players a bonus or Free Spins without a deposit has to be made first.  
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LadyLucks
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LadyLucks
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") WildSlots
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to WildSlots
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Cashiopeia
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Cashiopeia
								.footer
									a(href="#").btn.btn-secondary View all 9 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 Free Spins Bonus
									p Free Spins are popular casino bonuses and many Netent Casinos treat their players on profitable Netent Free Spin promotions. 
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 82 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 Reload Bonus
									p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 314 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 NetEnt Tournaments
									p Check out all Netent Casinos that grant their players a bonus or Free Spins without a deposit has to be made first.  
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LadyLucks
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LadyLucks
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") WildSlots
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to WildSlots
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Cashiopeia
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Cashiopeia
								.footer
									a(href="#").btn.btn-secondary View all 9 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 Bonus Codes
									p Free Spins are popular casino bonuses and many Netent Casinos treat their players on profitable Netent Free Spin promotions. 
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 82 Casinos
		section.section-bonus-calc
			.holder
				h1 Bonus Calculator
				p Enter your preferred deposit amount &amp; view how much money &amp; free spins you get from a bonus.
				form(action="#")
					.form-group
						input(type="text", placeholder="Enter your deposit amount")
					.form-group
						input(type="submit", value="View Bonus Overview").btn.btn-primary
				span.sticker new
	include pug/includes/footer