extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li NetEnt Casinos
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.template-default-page
			.subsection.page-heading
				.holder
					h1 NetEnt Casinos
					strong.subtitle.green Top casinos offering NetEnt Games
					p Here you will find the most extensive list of all NetEnt casinos, with reviews and facts and new ones added regularly. We review all online casinos offering NetEnt powered casino games.
					strong.offer-sticker
						strong 121 Casinos Offering NetEnt
						|  - Last updated 9/11/2017
			.subsection
				.holder
					ul.grid.col-1
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Betsson
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.sticker 
										span.icon
										p Recommended by Casino Experts
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong +180
											|  NetEnt Games
									.middle
										ul.list-advantages
											li NetEnt Pooled Jackpots.
											li Almost all Netent Games.
											li Mobile Casino featuring Netent Touch.
										ul.list-disadvantages
											li No Netent Live Casino.
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") SlotsMillion
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong +98
											|  NetEnt Games
									.middle
										ul.list-advantages
											li Netent Touch games on their Mobile site
											li Huge, pooled Mega Fortune jackpot slot
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Dunder
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong +120
											|  NetEnt Games
									.middle
										ul.list-advantages
											li Nearly all NetEnt video slots
											li NetEnt Live Casino
											li NetEnt jackpots slots like Hall of Gods and Mega Fortune
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LeoVegas
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong +190
											|  NetEnt Games
									.middle
										ul.list-advantages
											li LeoVegas Mobile Casino featuring NetEnt Touch
											li Hall of Gods, Mega Fortune and Arabian Nights Jackpots
											li Exclusive NetEnt game Vegas Party
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Casumo
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong +102
											|  NetEnt Games
									.middle
										ul.list-advantages
											li Mega Fortune and Arabian Nights pooled jackpot games
											li Netent Live Casino available
											li The first casino offering achievements which you can redeem for bonuses
								.bottom
									a(href="#").btn.btn-primary Go to Casino
					.load-more.text-center
						a(href="#").btn.btn-secondary Load More New Casinos
		include pug/includes/sections/related-posts
		section.section-games
			.holder
				.section-heading
					h1 NetEnt Games &amp; Jackpots
					strong.subtitle Latest Games &amp; highest progressive Jackpots right now!
				ul.grid
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £2,061.762
								strong.media-title Mega Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
							//- .footer
							//- 	a(href="#").btn.btn-link View all 314 Casinos
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £3,654,000
								strong.media-title Mega Fortune Dreams
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
							//- .footer
							//- 	a(href="#").btn.btn-link View all 135 Casinos
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £832,000
								strong.media-title Cosmic Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
							//- .footer
							//- 	a(href="#").btn.btn-link View all 314 Casinos
				.load-more.text-center
					a(href="#").btn.btn-secondary View All Games &amp; jackpots
	include pug/includes/popups/_main
	include pug/includes/footer