extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		//- 
			section.section-intro
				.holder
					//- 
						.casino-logo
							img(src="http://via.placeholder.com/207x69")
					.content
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Betsson
									span.sticker £2,061.762
								strong.media-title Planet of the Apes 2
				- var image = "banner-concept-4"
				include pug/extends/retina-images
		section.template-casinos-list
			.subsection.content
				.holder
					h1 NetEnt Casinos
					strong.subtitle Top casinos offering NetEnt Games
					p Here you will find the most extensive list of all NetEnt casinos, with reviews and facts and new ones added regularly. We review all online casinos offering NetEnt powered casino games. 
					strong.offer-sticker 121 Casinos Offering NetEnt
			.subsection.boxes-holder
				.holder
					ul
						li
							.casino-box
								.heading
									.logo-holder
										a(href="#")
											img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
					.button-holder.text-center
						a(href="#").btn.btn-secondary view More Casinos
		section.section-gj
			.holder
				.section-heading
					h1 NetEnt Games &amp; Jackpots
					strong.subtitle Latest Games &amp; highest progressive Jackpots right now!
				.boxes-grid
					div
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £2,061.762
								strong.media-title Mega Fortune
							ul.games-list2
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 314 Casinos
					div
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £3,654,000
								strong.media-title Mega Fortune Dreams
							ul.games-list2
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 135 Casinos
					div
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £832,000
								strong.media-title Cosmic Fortune
							ul.games-list2
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 314 Casinos
				.button-holder.text-center
					a(href="#").btn.btn-secondary View All Games &amp; jackpots
		include pug/includes/sections/related-posts
	include pug/includes/footer