extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") Casinos
						li
							| Betsson
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.section-intro
			.holder
				.aside
					img(src="http://via.placeholder.com/102x34")
				.content
					.casino-review-box
						.content-holder
							.heading
								div
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									div
										h3
											a(href="#") Betsson
										p Founded 2001
								div
									span.rate
										strong 5
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
							.content
								div
									h4 Did You Know?
									blockquote
										p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
								.content-frame
									ul.description-list
										li
											h4 No. of Games
											p 400+ Games
										li
											h4 Min. Deposit
											p £10
										li
											h4 Support Options
											ul.icons-list
												li
													a(href="#").icon-email
												li
													a(href="#").icon-chat-bubbles
														img(src="http://via.placeholder.com/24x20")
												li
													a(href="#").icon-phone
														img(src="http://via.placeholder.com/20x20")
										li.fullwidth
											h4
												a(href="#section3") Payment Methods
											p 17 depositing options
											ul.payments-list
												li
													a(href="#section3")
														img(src="assets/images/logo-visa.png", alt="Image description", width="37", height="12")
												li
													a(href="#section3")
														img(src="assets/images/logo-paypal.png", alt="Image description", width="28", height="28")
												li
													a(href="#section3")
														img(src="assets/images/logo-bitcoin.png", alt="Image description", width="47", height="11")
												li
													a(href="#section3")
														img(src="assets/images/logo-skrill.png", alt="Image description", width="46", height="16")
												li
													a(href="#section3")
														span +12
						.cell.total
							div
								h4 £150 + 50 Free Spins
								p 50% up to £100 + 50 Free Spins
							div
								a(href="#").btn.btn-primary Go to Betsson
			- var image = "banner-concept-4"
			include pug/extends/retina-images
		//- 
		section.section-casino
			.anchor-links
				.holder
					ul
						li
							a(href="#section1") General Information
						li
							a(href="#section2") Games
						li
							a(href="#section3") Payments
						li
							a(href="#section4") Devices
						li
							a(href="#section5") Support
						li
							a(href="#section6") Bonuses
			.subsection#section1
				.holder
					h1 About Betsson
					p Just like online Netent Casino Euro, Betsson was previously owned by Net Entertainment, Betsson was created by Net Entertainment in 2001 however, just like Euro Casino this online casino is no longer part of the Netent iGaming software company.
					p
						a(href="#") Read More
					hr
					h1 Did You Know?
					p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
					hr
					.option-columns
						div
							h1 Pros
							ul.list-advantages
								li Mega Fortune Dreams, Hall of Gods and Arabian Nights Pooled Jackpots.
								li Almost all Netent Games.
								li Mobile Casino featuring Netent Touch.
						div
							h1 Cons
							ul.list-disadvantages
								li No Netent Live Casino.
								li Welcome Bonus only valid for certain countries.
					hr
					.casino-description
						div
							.row
								.heading
									strong Welcome Bonus
								.content
									p
										a(href="#") 50% up to £100 + 50 Free Spins
							.row
								.heading
									strong Founded
								.content
									p 2001
							.row
								.heading
									strong License(s)
								.content
									p Malta (MGA/CL3/183/2004)
						div
							.row
								.heading
									strong Products
								.content
									p Casino, Live Casino, Sportsbook &amp; Bingo
							.row
								.heading
									strong Languages
								.content
									ul.languages-list
										li
											img(src="assets/images/flag-uk.png", alt="Image description", width="35", height="18")
										li
											img(src="assets/images/flag-german.png", alt="Image description", width="38", height="18")
										li
											img(src="assets/images/flag-sweden.png", alt="Image description", width="35", height="18")
										li
											img(src="assets/images/flag-spain.png", alt="Image description", width="35", height="18")
										li
											img(src="assets/images/flag-italy.png", alt="Image description", width="35", height="18")
			.subsection#section2
				.holder
					.twocolumns
						div
							.section-heading
								h1 400+ NetEnt Games
								strong.subtitle Newest games available right now on Betsson!
							.games-slider
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker £8,000,00
											strong.media-title Planet of the Apes 2
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												//- img(src="")
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												strong.media-title Blood Suckers 2
											span.sticker £1,348,00
							strong.title +200 Games from other providers
							ul.games-list
								li
									a(href="#")
										img(src="http://via.placeholder.com/53x12")
								li
									a(href="#")
										img(src="http://via.placeholder.com/55x14")
								li
									a(href="#")
										img(src="http://via.placeholder.com/60x22")
								li
									a(href="#")
										span +12
						div
							.section-heading
								h1 57 Progressive Jackpots
								strong.subtitle Highest progressive jackpots available right now on Betsson!
							.games-slider
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												strong.media-title Mega Fortune Dreams
											span.sticker new
									.description
										p The Mega Fortune Jackpot is a network jackpot.
										p
											strong Min Bet  £0.20 per spin
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												strong.media-title Cosmic Fortune
											span.sticker new
									.description
										p The Arabian Nights Jackpot is a local jackpot or a network jackpot.
										p
											strong Min Bet  £5.00 per spin
			.subsection#section3
				.holder
					.twocolumns
						div
							.section-heading
								h1 Payment Methods
								strong.subtitle 17 deposit options
							ul.payments-list.large
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/37x12")
										span Visa
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/34x34")
										span PayPal
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/33x17")
										span Bitcoin
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/30x30")
										span Trustly
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/34x12")
										span Skrill
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/37x6")
										span Neteller
							.load-more.text-center
								a(href="#").btn.btn-secondary SHow More Payments
						div
							.section-heading
								h1 Payments Overview
							.payment-overview-box
								.icon-holder
									span.icon-pig
								.content
									dl
										dt Minumum Deposit
										dd €10
										dt Withdrawal Time
										dd 30 mins - 4 hours (avg)
										dt Currencies
										dd EUR, USD, GBP, NOK, SEK, BRL, CZK, PLN
			.subsection#section4
				.holder
					.twocolumns
						div
							.section-heading
								h1 Devices
								strong.subtitle Available on desktop, tablet &amp; mobile
							ul.devices-list
								li
									span
										img(src="http://via.placeholder.com/51x35")
										span.txt Desktop
								li
									span
										img(src="http://via.placeholder.com/27x31")
										span.txt Tablet
								li
									span
										img(src="http://via.placeholder.com/17x32")
										span.txt Mobile
							ul.mobile-stores-list
								li
									a(href="#")
										img(src="assets/images/appstore-badge.svg", alt="Image description", width="138", height="35")
								li
									a(href="#")
										img(src="assets/images/google-play-badge.png", alt="Image description", width="646", height="250")
						div
							.images-slider
								div
									img(src="http://via.placeholder.com/396x423/ff0000/ffffff")
								div
									img(src="http://via.placeholder.com/396x423/00ff00/ffffff")
								div
									img(src="http://via.placeholder.com/396x423/0000ff/ffffff")
			.subsection#section5
				.holder
					.section-heading
						h1 Support Options
						strong.subtitle Support available 24/7
					ul.support-list
						li
							a(href="mailto:support@betsson.com")
								span.icon-email
								span.content support @betsson.com
						li
							a(href="#")
								span.icon-icon
								span.content Live Chat Available
						li
							a(href="tel:+35622603000")
								span.icon-icon
								span.content +35622603000
					em.note * VIP Manager support is available for loyal Betsson players.
					hr
					h2 Responsible Gaming
					p Although gaming can be an entertaining and profitable pastime, you may not win every time. Losing is a part of the game and you need to be prepared for this to happen from time to time. Because of this, you should always play responsibly and not risk money that you cannot afford to lose. If you play responsibly, you won’t have to worry about getting addicted and by consequence losing perspective of time and money. Here at Betsson we aim to ensure your gaming experiences stay as positive as possible – even when you’re not lucky. Therefore, we work hard to help you maintain control of your own gaming.
					h2 Trustworthiness of Betsson
					p The MGA is one of the most trusted governing bodies around and you can be sure that every cent you spend or win here is completely safe. You can further rest at ease as all Betsson payouts are completely guaranteed with all deposited funds being held with a third party banking group – meaning that your funds are always in safe hands. Betsson also use the most up to date SSL encryption so the process of moving your funds about is very safe.
					p
						a(href="#") Read More
			.subsection#section6
				.holder
					.section-heading
						h1 All Betsson Bonuses
						strong.subtitle The different types of bonuses offered by Betsson
					ul.casino-bonuses-list
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									h4 20 Free Spins
									p No Deposit Free Spins are for Starburst, Gonzo’s Quest and Mega Fortune Dreams.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									h4 €200 Welcome Bonus + Free Spins
									p 200% up to 200 + 25 Free Spins on first deposit.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									h4 €1600 Reload Bonus
									p 200% up to €200 on first deposit, 50% up to €500 on the following 3 deposits including 25 free spins on each.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
			.subsection
				.holder
					.section-heading
						h1 Similar Casinos
						strong.subtitle Users who viewed this casino also liked
					.casinos-tiles-slider
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Unibet
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 LeoVegas
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Thrills
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Casumo
									img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
	include pug/includes/popups/_main
	include pug/includes/footer