extends pug/extends/master

block content
	include pug/includes/header

	#main
		//- 
		section.section-intro
			.holder
				.casino-logo
					img(src="http://via.placeholder.com/207x69")
				.casino-review-box
					.content-holder
						.heading
							div
								.logo-holder
									a(href="#")
										img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
								div
									h3
										a(href="#") Betsson
									p Founded 2001
							div
								span.rate
									strong 5
									span /5
								img(src="images/stars.png", alt="Image description", width="55", height="10").stars
						.content
							div
								h4 Did You Know?
								blockquote
									p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
							.content-frame
								ul.description-list
									li
										h4 No. of Games
										p 400+ Games
									li
										h4 Min. Deposit
										p £10
									li
										h4 Support Options
										ul.icons-list
											li
												a(href="#").icon-email
											li
												a(href="#").icon-chat-bubbles
													img(src="http://via.placeholder.com/24x20")
											li
												a(href="#").icon-phone
													img(src="http://via.placeholder.com/20x20")
									li.fullwidth
										h4 Payment Methods
										p 17 depositing options
										ul.payments-list
											li
												a(href="#")
													img(src="images/logo-visa.png", alt="Image description", width="37", height="12")
											li
												a(href="#")
													img(src="images/logo-paypal.png", alt="Image description", width="28", height="28")
											li
												a(href="#")
													img(src="images/logo-bitcoin.png", alt="Image description", width="47", height="11")
											li
												a(href="#")
													img(src="images/logo-skrill.png", alt="Image description", width="46", height="16")
											li
												a(href="#")
													span +12
					.cell.total
						div
							h4 £150 + 50 Free Spins
							p 50% up to £100 + 50 Free Spins
						div
							a(href="#").btn.btn-primary Go to Betsson
				//- 
					.casino-box
						.heading
							.image
								a(href="#")
									img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
							.description
								h3
									a(href="#") SlotsMillion
								p stars
								a(href="#").btn.btn-default casino review
						.cell.total
							.sticker
								span.icon icon &gt;
								|  Recommended by Casino Experts
							div
								strong.title £150 + 50 Free Spins
								em.note 50% up to £100 + 50 Free Spins
						.content
							.cell.deposit
								p
									strong £10
									|  Min. Deposit
							.cell.time
								p
									strong 30 mins - 4 hours (avg)
									|  Withdrawal Time
						.fullwidth
							a(href="#").btn.btn-primary go to casino
			- var image = "banner-concept-4"
			include pug/extends/retina-images
		section.section-casino
			.anchor-links
				.holder
					ul
						li.active
							a(href="#section1") General Information
						li
							a(href="#section2") Games
						li
							a(href="#section3") Payments
						li
							a(href="#section4") Devices
						li
							a(href="#section5") Support
						li
							a(href="#section6") Bonuses
			.subsection#section1
				.holder
					h1 About Betsson
					p Just like online Netent Casino Euro, Betsson was previously owned by Net Entertainment, Betsson was created by Net Entertainment in 2001 however, just like Euro Casino this online casino is no longer part of the Netent iGaming software company.
					p
						a(href="#") Read More
					hr
					h1 Did You Know?
					p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
					hr
					.option-columns
						div
							h1 Pros
							ul.list-advantages
								li Mega Fortune Dreams, Hall of Gods and Arabian Nights Pooled Jackpots.
								li Almost all Netent Games.
								li Mobile Casino featuring Netent Touch.
						div
							h1 Cons
							ul.list-disadvantages
								li No Netent Live Casino.
								li Welcome Bonus only valid for certain countries.
					hr
					.casino-description
						.row
							.heading
								strong Welcome Bonus
							.content
								p
									a(href="#") 50% up to £100 + 50 Free Spins
						.row
							.heading
								strong Founded
							.content
								p 2001
						.row
							.heading
								strong License(s)
							.content
								p Malta (MGA/CL3/183/2004)
						.row
							.heading
								strong Products
							.content
								p Casino, Live Casino, Sportsbook &amp; Bingo
						.row
							.heading
								strong Languages
							.content
								ul.languages-list
									li
										img(src="images/flag-uk.png", alt="Image description", width="35", height="18")
									li
										img(src="images/flag-german.png", alt="Image description", width="38", height="18")
									li
										img(src="images/flag-sweden.png", alt="Image description", width="35", height="18")
									li
										img(src="images/flag-spain.png", alt="Image description", width="35", height="18")
									li
										img(src="images/flag-italy.png", alt="Image description", width="35", height="18")
			.subsection#section2
				.holder
					.twocolumns
						div
							.section-heading
								h1 400+ NetEnt Games
								strong.subtitle Newest games available right now on Betsson!
							.games-slider.slick-slider(data-slick='{"dots": true, "slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "infinite": false}')
								div
									.game-box.no-content
										.media-holder
											a(href="#")
												img(src="http://via.placeholder.com/293x149/ff0000/ffffff")
											span.sticker £8,000,00
											a(href="#").hover-box
												span
													span.icon-play
													| Play at Betsson
										strong.media-title Planet of the apes 2
								div
									.game-box.no-content
										.media-holder
											a(href="#")
												img(src="http://via.placeholder.com/293x149/ff0000/ffffff")
											span.sticker £1,348,00
											a(href="#").hover-box
												span
													span.icon-play
													| Play at Betsson
										strong.media-title Blood Suckers 2
							strong.title +200 Games from other providers
							ul.games-list
								li
									a(href="#")
										img(src="http://via.placeholder.com/53x12")
								li
									a(href="#")
										img(src="http://via.placeholder.com/55x14")
								li
									a(href="#")
										img(src="http://via.placeholder.com/60x22")
								li
									a(href="#")
										span +12
						div
							.section-heading
								h1 57 Progressive Jackpots
								strong.subtitle Highest progressive jackpots available right now on Betsson!
							.games-slider.slick-slider(data-slick='{"dots": true, "slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "infinite": false}')
								div
									.game-box.no-content
										.media-holder
											a(href="#")
												img(src="http://via.placeholder.com/293x149/ff0000/ffffff")
											span.sticker new
											a(href="#").hover-box
												span
													span.icon-play
													| Play at Betsson
										strong.media-title Blood Suckers 2
									.description
										p The Mega Fortune Jackpot is a network jackpot.
										p
											strong Min Bet  £0.20 per spin
								div
									.game-box.no-content
										.media-holder
											a(href="#")
												img(src="http://via.placeholder.com/293x149/ff0000/ffffff")
											span.sticker new
											a(href="#").hover-box
												span
													span.icon-play
													| Play at Betsson
										strong.media-title Cosmic Fortune
									.description
										p The Arabian Nights Jackpot is a local jackpot or a network jackpot.
										p
											strong Min Bet  £5.00 per spin
			.subsection#section3
				.holder
					.twocolumns
						div
							.section-heading
								h1 Payment Methods
								strong.subtitle 17 deposit options
							ul.payments-list.large
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/37x12")
										span Visa
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/34x34")
										span PayPal
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/33x17")
										span Bitcoin
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/30x30")
										span Trustly
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/34x12")
										span Skrill
								li
									a(href="#")
										span.logo-holder
											img(src="http://via.placeholder.com/37x6")
										span Neteller
							.text-center
								a(href="#").btn.btn-secondary SHow More Payments
						div
							.section-heading
								h1 Payments Overview
							.payment-overview-box
								.icon-holder
									span.icon-pig
								.content
									dl
										dt Minumum Deposit
										dd €10
										dt Withdrawal Time
										dd 30 mins - 4 hours (avg)
										dt Currencies
										dd EUR, USD, GBP, NOK, SEK, BRL, CZK, PLN
			.subsection#section4
				.holder
					.section-heading
						h1 Devices
						strong.subtitle Available on desktop, tablet &amp; mobile
					ul.devices-list
						li
							span
								img(src="http://via.placeholder.com/51x35")
						li
							span
								img(src="http://via.placeholder.com/27x31")
						li
							span
								img(src="http://via.placeholder.com/17x32")
					ul.mobile-stores-list
						li
							a(href="#")
								img(src="images/appstore-badge.svg", alt="Image description", width="138", height="35")
						li
							a(href="#")
								img(src="images/google-play-badge.png", alt="Image description", width="646", height="250")
			.subsection#section5
				.holder
					.section-heading
						h1 Support Options
						strong.subtitle Support available 24/7
					ul.support-list
						li
							a(href="mailto:support@betsson.com")
								span.icon-icon
								span.content support @betsson.com
						li
							a(href="#")
								span.icon-icon
								span.content Live Chat Available
						li
							a(href="tel:+35622603000")
								span.icon-icon
								span.content +35622603000
					em.note * VIP Manager support is available for loyal Betsson players.
					hr
					h2 Responsible Gaming
					p Although gaming can be an entertaining and profitable pastime, you may not win every time. Losing is a part of the game and you need to be prepared for this to happen from time to time. Because of this, you should always play responsibly and not risk money that you cannot afford to lose. If you play responsibly, you won’t have to worry about getting addicted and by consequence losing perspective of time and money. Here at Betsson we aim to ensure your gaming experiences stay as positive as possible – even when you’re not lucky. Therefore, we work hard to help you maintain control of your own gaming.
					h2 Trustworthiness of Betsson
					p The MGA is one of the most trusted governing bodies around and you can be sure that every cent you spend or win here is completely safe. You can further rest at ease as all Betsson payouts are completely guaranteed with all deposited funds being held with a third party banking group – meaning that your funds are always in safe hands. Betsson also use the most up to date SSL encryption so the process of moving your funds about is very safe.
					p
						a(href="#") Read More
			.subsection#section6
				.holder
					.section-heading
						h1 All Betsson Bonuses
						strong.subtitle The different types of bonuses offered by Betsson
					ul.casino-bonuses-list
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.txt
										h4 20 Free Spins
										p No Deposit Free Spins are for Starburst, Gonzo’s Quest and Mega Fortune Dreams.
									a(href="#").btn.btn-primary Get Bonus
									a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.txt
										h4 €200 Welcome Bonus + Free Spins
										p 200% up to 200 + 25 Free Spins on first deposit.
									a(href="#").btn.btn-primary Get Bonus
									a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
								.content
									.txt
										h4 €1600 Reload Bonus
										p 200% up to €200 on first deposit, 50% up to €500 on the following 3 deposits including 25 free spins on each.
									a(href="#").btn.btn-primary Get Bonus
									a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
			.subsection
				.holder
					.section-heading
						h1 Similar Casinos
						strong.subtitle Users who viewed this casino also liked
					.casinos-tiles-slider.slick-slider(data-slick='{"dots": true, "slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "infinite": false}')
						div
							.casino-tile
								div
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h2
										a(href="#") Unibet
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
						div
							.casino-tile
								div
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h2
										a(href="#") LeoVegas
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
						div
							.casino-tile
								div
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h2
										a(href="#") Thrills
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
						div
							.casino-tile
								div
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h2
										a(href="#") Casumo
									img(src="images/stars.png", alt="Image description", width="55", height="10").stars
	
	include pug/includes/footer