extends pug/extends/master

block content
	//- 
	- var page_class = "hide-nav hide-offer"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				.breadcrumbs
					span
						span
							a(href='#') Home
							span
								a(href='#') Casinos
								span.breadcrumb_last Betsson
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.section-intro
			.holder
				.aside
					img(src="http://via.placeholder.com/102x34")
				.content
					.casino-review-box
						.content-holder
							.heading
								div
									.logo-holder
										a(href="#casino-summary-popup").lightbox-opener
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									div
										h3
											a(href="#") Betsson
										p Founded 2001
								div
									span.rate
										strong 5
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
								.exclusive-sticker
									span.icon-star
									p Exclusively at NetentCasino
							.content
								div
									h4 Did You Know?
									blockquote
										p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
								.content-frame
									ul.description-list
										li
											h4 No. of Games
											p 400+ Games
										li
											h4 Min. Deposit
											p &pound;10
										li
											h4 Support Options
											ul.icons-list
												li
													a(href="#section5").icon-mail
												li
													a(href="#section5").icon-message-bubbles
												li
													a(href="#section5").icon-phone
										li.fullwidth
											h4
												a(href="#section3") Payment Methods
											p 17 depositing options
											ul.payments-list
												li
													a(href="#section3")
														img(src="assets/images/visa.png", alt="Image description", width="37", height="12")
												li
													a(href="#section3")
														img(src="assets/images/paypal.png", alt="Image description", width="28", height="28")
												li
													a(href="#section3")
														img(src="assets/images/bitcoin.png", alt="Image description", width="33", height="9")
												li
													a(href="#section3")
														img(src="assets/images/skrill.png", alt="Image description", width="34", height="12")
												li
													a(href="#section3")
														span +12
						.cell.total
							div
								h4 &pound;150 + 50 Free Spins
								p 50% up to &pound;100 + 50 Free Spins
							div
								a(href="#").btn.btn-primary Go to Betsson
								a(href="#default-popup").btn.btn-link.lightbox-opener T&amp;C's apply
			- var image = "banner-concept-4"
			include pug/extends/retina-images
		//- 
		section.section-casino
			//- 
				.header-bonus-box.popup-holder
					.holder.popup
						.left
							a.icon-close(href="#")
							.title-holder
								.logo-holder
									a(href="#")
										img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
								div
									h2 Betsson
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
						.content
							strong.title £150 + 50 Free Spins
							p 50% up to £100 + 50 Free Spins
						.button-holder
							a(href="#").btn.btn-primary Get Bonus
			//- 
			.content-navigation.anchor-links.show-on-mobile
				.holder
					ul
						li
							a(href="#section1") General Information
						li
							a(href="#section2") Games
						li
							a(href="#section3") Payments
						li
							a(href="#section4") Devices
						li
							a(href="#section5") Support
						li
							a(href="#section6") Bonuses
			//- 
			.subsection#section1
				.holder
					//- 
					h1 About Betsson
					p Just like online Netent Casino Euro, Betsson was previously owned by Net Entertainment, Betsson was created by Net Entertainment in 2001 however, just like Euro Casino this online casino is no longer part of the Netent iGaming software company.
					p
						a(href="#") Read More
					hr.show-on-mobile
					h2.show-on-mobile Did You Know?
					p.show-on-mobile “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
					hr
					.option-columns
						div
							h2 Pros
							ul.list-advantages
								li Mega Fortune Dreams, Hall of Gods and Arabian Nights Pooled Jackpots.
								li Almost all Netent Games.
								li Mobile Casino featuring Netent Touch.
						div
							h2 Cons
							ul.list-disadvantages
								li No Netent Live Casino.
								li Welcome Bonus only valid for certain countries.
					hr
					.casino-description
						.row
							.heading
								strong Welcome Bonus
							.content
								p
									a(href="#") 50% up to &pound;100 + 50 Free Spins
						//- 
						.row
							.heading
								strong License(s)
							.content
								p Malta (MGA/CL3/183/2004)
						.row
							.heading
								strong Bonus Code
							.content
								p NETENT30
						.row
							.heading
								strong Products
							.content
								p Casino, Live Casino, Sportsbook &amp; Bingo
						.row
							.heading
								strong Languages
							.content
								ul.languages-list.show-more
									li
										img(src="assets/images/flag-en.png", alt="Image description", width="69", height="35")
									li
										img(src="assets/images/flag-de.png", alt="Image description", width="59", height="35")
									li
										img(src="assets/images/flag-sv.png", alt="Image description", width="56", height="35")
									//- 
									li
										img(src="assets/images/flag-es.png", alt="Image description", width="53", height="35")
									li
										img(src="assets/images/flag-it.png", alt="Image description", width="53", height="35")
									li
										img(src="assets/images/flag-en.png", alt="Image description", width="69", height="35")
									li
										img(src="assets/images/flag-de.png", alt="Image description", width="59", height="35")
									li
										img(src="assets/images/flag-sv.png", alt="Image description", width="56", height="35")
									li
										img(src="assets/images/flag-es.png", alt="Image description", width="53", height="35")
									li
										img(src="assets/images/flag-it.png", alt="Image description", width="53", height="35")
						.row
							.heading
								strong Bonus Terms
							.content
								ul
									li Bonus Wagering Requirements: 35
									li Minimum deposit to receive the welcome bonus is &euro;10,00
					table
						tbody
							tr
								th.tg-hgcj Right
								th.tg-hgcj What this means
							tr
								td.tg-031e Access
								td.tg-031e
									| You can ask us to:- confirm whether we are processing your personal data;
									br
									| – give you a copy of that data;
									br
									| – provide you with other information about your personal data, for example what data we have, what we use it for, who we disclose it to, whether we transfer it outside the EU and how we protect it, how long we keep it for, what rights you have, how you can make a complaint, where we got your data from and whether we have carried out any Automated Decision Making or Profiling, to the extent that information has not already been provided to you in this Policy.
			//- 
			.subsection#section2
				.holder
					.twocolumns.games-slider-holder
						div
							.section-heading
								h2 400+ NetEnt Games
								strong.subtitle Newest games available right now on Betsson!
							.games-slider
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;8,000,00
											strong.media-title Planet of the Apes 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												//- img(src="")
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;1,348,00
											strong.media-title Blood Suckers 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;8,000,00
											strong.media-title Planet of the Apes 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												//- img(src="")
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;1,348,00
											strong.media-title Blood Suckers 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;8,000,00
											strong.media-title Planet of the Apes 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												//- img(src="")
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;1,348,00
											strong.media-title Blood Suckers 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;8,000,00
											strong.media-title Planet of the Apes 2
								div
									.game-box
										.media-holder
											a(href="#", style="background-image:url('http://via.placeholder.com/293x149/ff0000/ffffff')").bg-cover
												//- 
													- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
													include pug/extends/retina-single
												//- img(src="")
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker &pound;1,348,00
											strong.media-title Blood Suckers 2
							strong.title +200 Games from other providers
							ul.games-list
								li
									a(href="#")
										img(src="assets/images/play-n-go.png", alt="Image description", width="54", height="16")
								li
									a(href="#")
										img(src="assets/images/microgaming.png", alt="Image description", width="55", height="14")
								li
									a(href="#")
										img(src="assets/images/yggdrasil.png", alt="Image description", width="58", height="13")
								li
									a(href="#")
										span +12
						//- 
						div
							.section-heading
								h2 57 Progressive Jackpots
								strong.subtitle Highest progressive jackpots available right now on Betsson!
							//- 
							.games-slider
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker new
											strong.media-title Mega Fortune Dreams
									.description
										p The Mega Fortune Jackpot is a network jackpot.
										p
											strong Min Bet  &pound;0.20 per spin
								//- 
								div
									.game-box
										.media-holder
											a(href="#").bg-stretch
												- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
												include pug/extends/retina-single
												span.hover-box
													span
														span.icon-play
														| Play at Betsson
												span.sticker new
											strong.media-title Cosmic Fortune
									.description
										p The Arabian Nights Jackpot is a local jackpot or a network jackpot.
										p
											strong Min Bet  &pound;5.00 per spin
			//- 
			.subsection#section3
				.holder
					.twocolumns
						div
							.section-heading
								h2 Payment
								strong.subtitle 17 deposit options
							ul.payments-list.large.grid.col-3
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/visa.png", alt="Image description", width="37", height="12")
										span Visa
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/paypal.png", alt="Image description", width="28", height="28")
										span PayPal
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/bitcoin.png", alt="Image description", width="33", height="9")
										span Bitcoin
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/trustly.png", alt="Image description", width="30", height="21")
										span Trustly
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/skrill.png", alt="Image description", width="34", height="12")
										span Skrill
								li
									a(href="#")
										span.logo-holder
											img(src="assets/images/neteller.png", alt="Image description", width="37", height="6")
										span Neteller
							.load-more.text-center
								a(href="#").btn.btn-secondary SHow More Payments
						div
							.section-heading
								h2 Payments Overview
							.payment-overview-box
								.icon-holder
									span.icon-payments
								.content
									dl
										dt Minumum Deposit
										dd &euro;10
										dt Withdrawal Time
										dd 30 mins - 4 hours (avg)
										dt Currencies
										dd EUR, USD, GBP, NOK, SEK, BRL, CZK, PLN
			//- 
			.subsection.devices#section4
				.holder
					//- .twocolumns
					.info
						.section-heading
							h2 Devices
							strong.subtitle Available on desktop, tablet &amp; mobile
						.slider-nav.devices-list
							div
								span
									span.icon-laptop
									span.txt Desktop
							div
								span
									span.icon-tablet
									span.txt Tablet
							div
								span
									span.icon-mobile
									span.txt Mobile
						ul.mobile-stores-list
							li
								a(href="#")
									img(src="assets/images/appstore-badge.svg", alt="Image description", width="138", height="35")
							li
								a(href="#")
									img(src="assets/images/google-play-badge.png", alt="Image description", width="646", height="250")
					.carousel-holder
						.slider-for.images-slider
							div
								img(src="http://via.placeholder.com/396x423/ff0000/ffffff?text=desktop")
							div
								img(src="http://via.placeholder.com/396x423/00ff00/ffffff?text=tablet")
							div
								img(src="http://via.placeholder.com/396x423/0000ff/ffffff?text=mobile")
			//- 
			.subsection#section5
				.holder
					.section-heading
						h2 Support Options
						strong.subtitle Support available 24/7
					ul.support-list
						li
							a(href="mailto:support@betsson.com")
								img.icon(src="assets/images/support-icon.png", alt="Image description", width="71", height="45")
								span.icon-mail
								span.content supportsupport@betsson.com
						li
							a(href="#")
								img.icon(src="assets/images/live-chat.png", alt="Image description", width="63", height="49")
								span.icon-message-bubbles
								span.content Live Chat Available
						li
							a(href="tel:+35622603000")
								img.icon(src="assets/images/support-phone.png", alt="Image description", width="55", height="40")
								span.icon-phone
								span.content +35622603000
					em.note * VIP Manager support is available for loyal Betsson players.
					hr
					h3 Responsible Gaming
					p Although gaming can be an entertaining and profitable pastime, you may not win every time. Losing is a part of the game and you need to be prepared for this to happen from time to time. Because of this, you should always play responsibly and not risk money that you cannot afford to lose. If you play responsibly, you won’t have to worry about getting addicted and by consequence losing perspective of time and money. Here at Betsson we aim to ensure your gaming experiences stay as positive as possible – even when you’re not lucky. Therefore, we work hard to help you maintain control of your own gaming.
					h3 Trustworthiness of Betsson
					p The MGA is one of the most trusted governing bodies around and you can be sure that every cent you spend or win here is completely safe. You can further rest at ease as all Betsson payouts are completely guaranteed with all deposited funds being held with a third party banking group – meaning that your funds are always in safe hands. Betsson also use the most up to date SSL encryption so the process of moving your funds about is very safe.
					p
						a(href="#") Read More
			//- 
			.subsection#section6
				.holder
					.section-heading
						h2 All Betsson Bonuses
						strong.subtitle The different types of bonuses offered by Betsson
					ul.casino-bonuses-list.grid.col-n
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
								.content
									.exclusive-sticker.compact
										span.icon-star
										p Exclusively to NetEnt Casino!
									h4 20 Free Spins
									p No Deposit Free Spins are for Starburst, Gonzo’s Quest and Mega Fortune Dreams.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
								.content
									.exclusive-sticker.compact
										span.icon-star
										p Exclusively to NetEnt Casino!
									h4 &euro;200 Welcome Bonus + Free Spins
									p 200% up to 200 + 25 Free Spins on first deposit.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
						li
							.bonus-box
								.heading
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50")
									h3
										a(href="#") Betsson
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
								.content
									h4 &euro;1600 Reload Bonus
									p 200% up to &euro;200 on first deposit, 50% up to &euro;500 on the following 3 deposits including 25 free spins on each.
									.button-holder
										a(href="#").btn.btn-primary Get Bonus
			//- 
			.subsection
				.holder
					.section-heading
						h2 Similar Casinos
						strong.subtitle Users who viewed this casino also liked
					.casinos-tiles-slider.grid.col-n
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Unibet
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 LeoVegas
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Thrills
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
						div
							a(href="#").casino-tile
								span
									span.logo-holder
										img(src="http://via.placeholder.com/50")
									strong.h2 Casumo
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
	include pug/includes/footer