extends pug/extends/master

block content
	//- 
	- var page_class = "hide-bonus"
	include pug/includes/header
	#main
		//- 
			section.section-breadcrumbs
				.holder
					.breadcrumbs
						span
							span
								a(href='#') Home
								span
									a(href='#') New page for testing long name New page for testing long name New page for testing long name New page for testing long name
									span
										a(href='#') NetEnt News
										span.breadcrumb_last New page for testing long name New page for testing long name New page for testing long name New page for testing long name

					//- 
						div
							ul.breadcrumbs
								li
									a(href="#") Home
								li
									a(href="#") NetEnt Game &amp; Jackpots
								li Mega Fortune Jackpot
					div
						p Last updated - 
							strong 2 days ago!
		//- 
		section.template-default-page
			//- 
			.subsection.page-heading
				.holder
					.logo-holder
						a(href="#")
							img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
					h1 Heading 1
					strong.subtitle.green Heading 2
					p You may have seen or heard something about Bitcoin Casinos before, probably even right here on our site. There are many advantages to having a Bitcoin Casino over a regular one, as many casino players can surely appreciate, there is a simply an unrivalled sense of anonymity and (if you know what you are doing) security.
					p
						a(href="#default-popup").lightbox-opener t&amp;c apply
					strong.offer-sticker
						strong 624 Bonuses Available
						|  - Last updated 2 days ago
			.subsection.page-content
				.holder
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, exercitationem nulla debitis repudiandae suscipit id qui alias ipsum voluptatem unde.
					ul
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
							p A very big chance of seeing the light of day, even in the dark and murky depths
					ol
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
						li
							p A very big chance of seeing the light of day, even in the dark and murky depths
							p A very big chance of seeing the light of day, even in the dark and murky depths
					ul.list-dashed
						li
							p Pretty much every available NetEnt slot/game to play
						li
							p A richly rewarding storyline which sees you progress through a fictional metropolis
						li
							p Steal coins from fellow players in exchange for spins!
						li
							p Seamless availability on both mobile and desktop
						li
							p An entire 24/7 “backup” help team for your convenience
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, exercitationem nulla debitis repudiandae suscipit id qui alias ipsum voluptatem unde.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, exercitationem nulla debitis repudiandae suscipit id qui alias ipsum voluptatem unde.
					p
						a(href="#casino-summary-popup").btn.btn-primary.lightbox-opener primary
						a(href="#").btn.btn-primary.is-loading primary
					p
						a(href="#default-popup").btn.btn-secondary.lightbox-opener secondary
						a(href="#").btn.btn-secondary.is-loading secondary
					p
						a(href="#").btn.btn-secondary.invert secondary invert
						a(href="#").btn.btn-secondary.invert.is-loading secondary invert
					p
						a(href="#").btn.btn-link link
						a(href="#").btn.btn-link.is-loading link
					p
						a(href="#").btn.btn-dark dark
						a(href="#").btn.btn-dark.is-loading dark
	include pug/includes/footer