extends pug/extends/master

block content
	- var page_class = "hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game
						li NetEnt Game &amp; Jackpots
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			//- 
			.featured-game
				.holder
					//- .content
					//- 	h2 NetEnt’s Jumanji Slot Release Date: 21st June 2018
					//- 	p The final NetEnt instalment for Q2 2018 is none other than the January-announced 
					//- 		a(href="#") Jumanji
					//- 	a(href="#").btn.btn-primary Explore more
					.media-holder
						.game-box.large
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Jumanji
									span.sticker new
								strong.media-title Planet of the apes
				- var image = "banner-concept-6"
				include pug/extends/retina-images
			.subsection.page-heading
				.holder
					h1 Planet of the Apes
					p It’s one of the biggest NetEnt releases ever, as the Planet of the Apes movie franchise makes its way into online casino entertainment, in partnership with 20th Century Fox. Branded casino games always seem to spur NetEnt on to be at their most innovative and creative, and we’re not disappointed once again with a revolutionary two-slot-in-one system that we’ll detail below.
			.subsection.page-content
				.holder
					.game-demo
						.note
							.text If Demo is available then we show demo! If demo not available we add a screenshot or video review of the game.
						iframe(width='560', height='315', src='https://www.youtube.com/embed/xGRjCa49C6U', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
					.casino-description
						div
							.row
								.heading
									strong Welcome Bonus
								.content
									p
										a(href="#") 50% up to &pound;100 + 50 Free Spins
							.row
								.heading
									strong Bonus Code
								.content
									p NETENT30
							.row
								.heading
									strong Bonus Terms
								.content
									ul
										li Bonus Wagering Requirements: 35
										li Minimum deposit to receive the welcome bonus is &euro;10,00
						div
							.row
								.heading
									strong License(s)
								.content
									p Malta (MGA/CL3/183/2004)
							.row
								.heading
									strong Products
								.content
									p Casino, Live Casino, Sportsbook &amp; Bingo
							.row
								.heading
									strong Languages
								.content
									ul.languages-list
										li
											img(src="assets/images/flag-uk.png", alt="Image description", width="69", height="35")
										li
											img(src="assets/images/flag-german.png", alt="Image description", width="59", height="35")
										li
											img(src="assets/images/flag-sweden.png", alt="Image description", width="56", height="35")
										li
											img(src="assets/images/flag-spain.png", alt="Image description", width="53", height="35")
										li
											img(src="assets/images/flag-italy.png", alt="Image description", width="53", height="35")
			.subsection.page-content
				.holder
					h1 Play planet of the apes slot
					p It’s one of the biggest NetEnt releases ever, as the Planet of the Apes movie franchise makes its way into online casino entertainment, in partnership with 20th Century Fox. Branded casino games always seem to spur NetEnt on to be at their most innovative and creative, and we’re not disappointed once again with a revolutionary two-slot-in-one system that we’ll detail below.
					p This Planet of the Apes casino game comes packaged with numerous features, making every spin even more exciting. The prospect of landing free spins and a special bonus feature are doubled due to the slot employing dual 5x3 reels, while there is also the opportunity to merge the two grids together and land big wins thanks to NetEnt’s Dual Feature. Are you ready to join forces with Caesar to land coin wins!?
					p
						a(href="#") Read More
			.subsection
				.holder
					ul.grid.col-1
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") as hdfk hadksjhf kashd
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins (Exclusive Offer)
									.button-holder
										.sticker
											strong
												span.icon-check
												p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to LadyLucks
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") WildSlots
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to WildSlots
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") HighRoller
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.button-holder
										.sticker
											strong
												span.icon-gift-o
												p Free Spins Before Depsoit
										.button-frame
											a(href="#").btn.btn-primary Go to HighRoller
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LuckyCasino
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to LuckyCasino
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") PlaySunny
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											strong
												span.icon-cards
												p Lowest Deposit Amount Required
										.button-frame
											a(href="#").btn.btn-primary Go to PlaySunny
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Casimba
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.content
									.content-frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Casimba
					.load-more.text-center
						a(href="#").btn.btn-secondary Load More New Casinos
			.subsection.page-content
				.holder
					h1 Planet of the apes slot introduction
					p Before we delve into Planet of the Apes slot’s special features and gaming mechanics, we feel the slot’s formation should be explained. NetEnt signed an exclusive deal to bring the Planet of the Apes movie series to our desktop and mobile casino devices, and they promised “something extremely new” to match such an exciting release.
					p That something new is the way this creation works, which is essentially two slots running side-by-side with each other. However, you simply need to play once for both boards to start spinning, and you’ll quickly notice that the two reels are named Rise and Dawn after the 2011 and 2014 Planet of the Apes movies respectively.
					p Utilising their branded agreement to its maximum, NetEnt have included the movies’ characters as symbols, portrayed by famous actors, while there are plenty of cut scenes and official footage to accompany your gaming time. As ever, the graphics and artwork and second-to-none, while the soundtrack certainly evokes the same tense atmosphere of the movies.
					h1 PLANET OF THE APES GAME TUTORIAL
					p Although the basic framework of this Planet of the Apes casino game mirrors many other NetEnt titles, its unique use of dual reels requires a bit of instruction. You can try NetEnt’s Planet of the Apes casino slot game for free above to get to grips yourself, but below is a detailed description of each feature in action.
					h2 Dual Feature
					p We know what you’re thinking. Although the two reels run mostly as separate entities, there must be a point where they crossover, right? Well, you’re correct, and this accurate assumption is seen during the Dual Feature which randomly activates after you’ve selected to spin. However, rather than the reels coming to a halt, they’ll speed up and apes will come flocking across the screen. This signals the beginning of the Dual Feature.
					p Both the Rise and Dawn grids will then be assigned a separate random symbol, and both will begin to land on either side as the reels turn. However, only these two symbols will stick to the boards, and any that have landed on the opposite side will be transferred over. Once there are no more new symbols entering either area, the win will be calculated – and it’s almost certain to be huge!
					h2 Free Spins
					p NetEnt’s free spins slot round is pretty much a standard these days, but how about for both the Rise and Dawn reels? That’s what can be activated if 3 or more Scatter Symbols land anywhere on each reel, and it’s not impossible to net the free spins round for each. We can only dream of the rewards when that occurs!
					p Now, the Rise and Dawn free spins rounds do differ from each other slightly, as NetEnt preferred to mix things up for your pleasure rather than simply make a duplicate. For the Rise Planet of the Apes free spins, you will be awarded 10, with a special Wild meter collecting any Wild Symbols which happen to land on the board (up to a maximum of 15). Once the free spins have been used up, the total number of Wilds will be randomly placed on the reels which will help boost your overall win. Cue a cutscene!
					p 15 free spins will be given for Planet of the Ape’s Dawn reels, though. Here you will be given 3 separate meters – Multiplier, Extra Wild and Extra Free Spins. When one of the corresponding symbols lands, it will be added to the meter. Each meter is filled up with 3 matching symbols overall, and the prizes then dished out. The concept is similar to NetEnt’s Emojiplanet slot .
					h2 Bonus Feature
					p The Rise and Dawn Bonus Features are also different, and so is how to activate them. For Rise, you need to land a Bonus Symbol on the first reel, whereas for Dawn it is the last reel.
					p Rise’s Bonus Feature sees a coin win added for every human and ape symbol that’s on the board, except for any Scatters. The Bonus Feature for Dawn changes any human and ape icons into the same symbol, with any conflicts resulting in the highest combination awarded.
					p
						a(href="#") Read More
	include pug/includes/footer