extends pug/extends/master

block content
	- var page_class = "hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li NetEnt Game &amp; Jackpots
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			//- 
			.anchor-links.show-on-mobile
				.holder
					ul
						li
							a(href="#anchor1") Jackpots
						li
							a(href="#anchor2") Casino Games
						li
							a(href="#anchor3") Live Casino
			.subsection.page-heading#anchor1
				.holder
					h1 NetEnt Jackpots
					strong.subtitle.green Highest progressive jackpots right now!
					p Whether you’re aiming for those multi-million wins or are content with smaller prize pools, NetEnt’s selection of local and networked jackpot games are second-to-none. These titles are all progressive, meaning that the overall total keeps rising until one lucky player cracks it open.
			.subsection
				.holder
					ul.grid
						li
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
										include pug/extends/retina-single
										span.hover-box
											span
												span.icon-play
												| Play at Mega Fortune
										span.sticker £2,061.762
									strong.media-title Mega Fortune
								ul.games-list
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Betsson
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Thrills
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") LeoVegas
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
								.footer
									a(href="#").btn.btn-link View all 314 Casinos
						li
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
										include pug/extends/retina-single
										span.hover-box
											span
												span.icon-play
												| Play at Mega Fortune
										span.sticker £3,654,000
									strong.media-title Mega Fortune Dreams
								ul.games-list
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Betsson
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Thrills
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") LeoVegas
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
								.footer
									a(href="#").btn.btn-link View all 135 Casinos
						li
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
										include pug/extends/retina-single
										span.hover-box
											span
												span.icon-play
												| Play at Mega Fortune
										span.sticker £832,000
									strong.media-title Cosmic Fortune
								ul.games-list
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Betsson
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") Thrills
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
									li
										.game
											.heading
												.logo-holder
													a(href="#")
														img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
												.txt
													h2
														a(href="#") LeoVegas
													.stars
														span.icon-star
														span.icon-star
														span.icon-star
														span.icon-star-half-empty
														span.icon-star-o
											.content
												a(href="#").btn.btn-primary Play Game
								.footer
									a(href="#").btn.btn-link View all 314 Casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary View all 176 Jackpots
			include pug/includes/sections/related-posts
			.subsection.page-heading#anchor2
				.holder
					h1 NetEnt Games
					strong.subtitle.green Popular NetEnt Casino Games &amp; Slots
					p Take your pick from the latest NetEnt casino games below, with this list continually updating as new slots and titles are released. If you’re a beginner within the iGaming world and are interested in learning some of the classics, NetEnt’s Starburst, Gonzo’s Quest, Bloodsuckers and networked jackpot Mega Fortune are a few fan-favourites.
			.subsection
				.holder
					.games-slider.grid.col-3
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 Days
									strong.media-title Finn and the Swirly Spin
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
										//- img(src="")
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 days
									strong.media-title Planet of the Apes
						//- 
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
										//- img(src="")
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 days
									strong.media-title Planet of the Apes
					ul.games-boxes-list.grid.col-4
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title The Legend of Shangri-La
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Wolf Club
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Blood Suckers 2
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title The Legend of Shangri-La
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x149/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Wolf Club
					.load-more.text-center
						a(href="#").btn.btn-secondary View More Games
			.subsection.page-content
				.holder
					h2 NetEnt Games have been Breaking Records for over a decade!
					p It’s pretty incredible to think that NetEnt’s longest running pooled jackpot in Arabian Nights was released way back in 2005. Multiple gamers have become millionaires in one simple spin since, and the Swedish slot developer has been smashing records left, right and centre in the process.
					p They’ve been inducted into the Guinness World Records for highest payout ever and highest payout on mobile in previous years, while it’s roundly observed that comfortably more than €500m has been dished out in prizes since their beginning. How long until it reaches €1bn we wonder…
					p
						a(href="#") Read More
			.subsection.page-content#anchor3
				.holder
					h2 NetEnt Live Casino
					strong.subtitle.green Popular NetEnt Live Casinos
					p After casino gamers craved for the gap between online and land-based casinos to be shortened, internet platforms have rolled out the Live Casino concept. Online players are able to connect to live video streams of real-life dealers who draw, deal and interact as they would at a brick-and-mortar establishment. NetEnt launched their Live Casino product in 2013, with NetEnt Mobile Live Casino following a few years later. It’s safe to say that it’s been a huge hit, so read on for more information about the groundbreaking NetEnt Live Casino and where you can play it!
					h3 Casinos have come a long way
					p In the early days of online casinos, a common casino player gripe was only being able to enjoy table games such as blackjack and roulette via computerised graphics. The sudden surge in demand and popularity of these games challenged online casinos into properly authenticating a live experience.
					p The response has been enormous, particularly as it affords players a social side to create the more personal atmosphere they sought.
					h3 Vast Array of Live Casino Games
					ul.list-games
						li
							.post-image
								a(href="#")
									img(src="http://via.placeholder.com/380x200/6daf0e/ffffff")
							.content
								h4 Live Blackjack
								p One of the most prominent and much-loved table games, Live Blackjack is a Live Casino enthusiast’s dream. Deciding whether to hit or stick has never been as exciting online as it is now!
								p Pretty much every online gambling site with NetEnt Live Casino will offer blackjack, as it’s a staple title in both internet and brick-and-mortar establishments around the world and is not to be missed.
						li
							.post-image
								a(href="#")
									img(src="http://via.placeholder.com/380x200/6daf0e/ffffff")
							.content
								h4 Live Roulette
								p On par with blackjack’s popularity is NetEnt Live Roulette. Any brick-and-mortar goers will be familiar with roulette tables becoming saturated with players, leading to people leaning over each other to bet. Live Roulette completely removes this nuisance, instead allowing you to engage in friendly chat with all the space you desire.
								p You’ll have a few seconds to decide what numbers to choose – with classics being birthdays, anniversaries and favourite sports players numbers – before the ball is deployed and the waiting begins. Play Live Roulette’s many variations at near-enough every NetEnt Live Casino-powered website.
								.button-holder
									a(href="#").btn.btn-primary play demo
						li
							.post-image
								a(href="#")
									img(src="http://via.placeholder.com/380x200/6daf0e/ffffff")
							.content
								h4 Live Baccarat
								p Getting into slightly obscurer territory, but one that is highly entertaining all the same, is Live Baccarat. The game is notably popular due to James Bond’s appetite for it, with the Casino Royale novel in particular revolving around Baccarat for its main drama.
								p If you’re unfamiliar with how to play then we recommend sampling a few rounds using the link above before heading to your Live Casino choice. There are a few different variations too, so it’s best to determine whether you prefer punto banco or other.
						li
							.post-image
								a(href="#")
									img(src="http://via.placeholder.com/380x200/6daf0e/ffffff")
							.content
								h4 Live Casino Hold’EM
								p Due to both games’ high standing, the merger between casino and poker shouldn’t come as too much of a surprise. Live Casino Hold’em is one such example, with elements of these two gambling areas fused into one to create the perfect title for many.
								p If you’ve ever played Texas Hold’em poker then you’re pretty much set to start. The game is determined by who has the best possible hand – the player or the dealer. If you’re a poker novice, don’t worry as you’re not required to bluff your way to winnings. Just familiarise yourself with poker hand rankings to begin.
						li
							.post-image
								a(href="#")
									img(src="http://via.placeholder.com/380x200/6daf0e/ffffff")
							.content
								h4 Live 3 Card Poker
								p Another hugely popular offering is Live 3 Card Poker. The reason for this is that it’s one of the few which requires knowledge and a bit of skill to maximise your chances of winning (or not losing more!). Luck still plays a big part, but being able to have a say on the eventual outcome is very appealing to certain gamers.
								p NetEnt Live 3 Card Poker can be found and enjoyed at many casinos. Simply select your choice from the list above to see whether it’s supported.
					h3 Best Casinos for the complete netent Live Casino Experience
					p Due to NetEnt Live Casino’s success on both desktop and mobile, there are numerous casinos offering it as part of their live package. However, you’ll want to be sure you’re joining a top-class outfit when enjoying Live Casino by NetEnt, so we’ve given you a handful of the best casinos around to get you started.
			.subsection
				.holder
					ul.grid.col-1
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Betsson
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.sticker
											span.icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Betsson
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LeoVegas
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.button-holder
										.sticker
											span.icon
											p Free Spins Before Depsoit
										.button-frame
											a(href="#").btn.btn-primary Go to LeoVegas
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Thrills
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Thrills
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140") 
									.txt
										h2
											a(href="#") VideoSlots
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon
											p Lowest Deposit Amount Required
										.button-frame
											a(href="#").btn.btn-primary Go to VideoSlots
			.subsection.page-content
				.holder
					h2 An Authentic Casino Experience on the Platform of Your Choice
					p If you’re wondering whether Live Casino play is for you then you’ve come to the right place. Before we get into exactly which games are available, let’s give you an overview of why you should. We’re sure you’ve grasped the concept pretty well, but here are a few advantages of Live Casino online anyway:
					p Don’t worry if you’re concerned about the number of games available to you either, as NetEnt have done their utmost to offer an expansive portfolio. Take a look at the classic table games that are available to you live from around the iGaming sphere.
					p
						a(href="#") Read More
		include pug/includes/sections/related-posts
	include pug/includes/popups/_main
	include pug/includes/footer