extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							| Guides
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.anchor-links
				.holder
					ul
						li
							a(href="#section11") All Guides
						li
							a(href="#section12") Blackjack
						li
							a(href="#section13") Casino
						li
							a(href="#section14") Live Casino
						li
							a(href="#section15") Poker
						li
							a(href="#section16") Roulette
						li
							a(href="#section17") Slots
			.subsection.page-heading
				.holder
					h1 Guides
					strong.subtitle.green Strategies and Tips
					p Read our top strategies and tips to your favourite table games and casino games. You can find anything from basic strategies to rules, and other information that can turn you into a winner.
					a(href="#filter-posts-popup-list").btn.btn-secondary.lightbox-opener.fake-select
						span.txt All Guides
						span.number (50)
			.filtered-list
				#section11.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Featured Guides
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Online Casino Strategies and Tips
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Discover strategies and tips to your favourite games including online blackjack, roulette, slots and poker.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Blackjack Strategy Calculator
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Learn more on Online Blackjack Strategy Calculator
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section12.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Blackjack Guides
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Different types of online blackjack games
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p The game of online blackjack is potentially one of the most loved casino games around the world. It is for this very reason, that dozens of blackjack variations have popped up over the years. 
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Advanced blackjack strategy: Tips and tricks
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Success and profit in the game of online blackjack come from applying the right techniques at the right time.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") How to win at blackjack
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Is there is a foolproof blackjack strategy that can help you improve your game and ultimately help you win money.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section13.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Online Casino Guides
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") The mental benefits of playing card games
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p We have all heard many times that technology brings us closer to those who are far away. With so many technological devices, many people feel like they’re missing out on the opportunity of precious personal interaction.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") 4 online casino games you can beat
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Every player who signs up to an online casino to play games knows that they are playing against the house edge. The house edge already sets off the player with a disadvantage but there is a loophole. 
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Different types of online casino bonus features
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p One of the greatest advantages online casinos have to offer, when compared to land-based ones is the multitude of casino bonus offers available for players.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section14.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Live Casino Guides
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to live three card poker
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Probably the most fast-paced of all online poker games, the game of Live 3 Card Poker has become a favourite amongst many online poker players who also love casino games on the side.  
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to live ultimate Texas Hold’em
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p If you love the thrill of online poker but would love to up your gameplay by playing against a dealer in a live casino, then Ultimate Texas Hold’em is the game for you.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to playing live casino hold’em
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Casino Hold’em is potentially one of the most popular poker game variations globally since it offers players a thrilling game with a live dealer.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section15.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Poker Guides
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Online Casino Strategies and Tips
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Discover strategies and tips to your favourite games including online blackjack, roulette, slots and poker.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Blackjack Strategy Calculator
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Learn more on Online Blackjack Strategy Calculator
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Blackjack Strategy Calculator
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Learn more on Online Blackjack Strategy Calculator
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section16.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Roulette
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to live three card poker
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Probably the most fast-paced of all online poker games, the game of Live 3 Card Poker has become a favourite amongst many online poker players who also love casino games on the side.  
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to live ultimate Texas Hold’em
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p If you love the thrill of online poker but would love to up your gameplay by playing against a dealer in a live casino, then Ultimate Texas Hold’em is the game for you.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Read our quick and easy guide to playing live casino hold’em
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Casino Hold’em is potentially one of the most popular poker game variations globally since it offers players a thrilling game with a live dealer.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
				#section17.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Slots
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Online Casino Strategies and Tips
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Discover strategies and tips to your favourite games including online blackjack, roulette, slots and poker.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Blackjack Strategy Calculator
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Learn more on Online Blackjack Strategy Calculator
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Blackjack Strategy Calculator
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Learn more on Online Blackjack Strategy Calculator
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more guides
		include pug/includes/popups/main
	include pug/includes/footer