extends pug/extends/master

block content
	- var page_class = "hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-intro
			.holder
				.aside
					img(src="http://via.placeholder.com/207x69")
				.content
					.search-box
						div
							form(action="#")
								.form-content
									input(type="text", placeholder="Search 200+ Casinos & Games")
									span.icon-search s
						div
							- var count = "329"
							- var title = "Casino Reviews"
							- var content = "For Your Convenience"
							include pug/extends/read-more-button
						div
							- var count = "204"
							- var title = "Games"
							- var content = "To Play for Free"
							include pug/extends/read-more-button
						div
							- var count = "3049"
						
							- var title = "News Articles"
							- var content = "Ready to be Read"
							include pug/extends/read-more-button
			- var image = "banner-concept-1"
			include pug/extends/retina-images
		//- 
		section.section-top-casinos
			.holder
				.section-heading
					h1 New Casinos
					strong.subtitle Discover November’s latest Casinos
				p Like any other industry, the iGaming sector continues to develop at a rapid pace and is considered such a lucrative trade that new online casinos see the light of day on a regular basis.
				p
					a(href="#") Read More
				ul.grid.col-4
					li
						.casino-top-box
							.top
								.heading
									.left
										.logo-holder
											a(href="#")
												img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
										.txt
											h2
												a(href="#") LadyLucks
											em.note Launched 2 days ago!
									.right
										span.rate
											strong 4
											span /5
										img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
								.content
									.top
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.bottom
										span
											strong +24
											|  Blackjack Games
							.button-holder
								a(href="#").btn.btn-primary Go to LadyLucks
					li
						.casino-top-box
							.top
								.heading
									.left
										.logo-holder
											a(href="#")
												img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
										.txt
											h2
												a(href="#") WildSlots
											em.note Launched 2 days ago!
									.right
										span.rate
											strong 4
											span /5
										img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
								.content
									.top
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.bottom
										span
											strong +55
											|  Blackjack Games
							.button-holder
								a(href="#").btn.btn-primary Play at WildSlots
					li
						.casino-top-box
							.top
								.heading
									.left
										.logo-holder
											a(href="#")
												img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
										.txt
											h2
												a(href="#") HighRoller
											em.note Launched 2 days ago!
									.right
										span.rate
											strong 4
											span /5
										img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
								.content
									.top
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.bottom
										span
											strong +12
											|  Blackjack Games
							.button-holder
								a(href="#").btn.btn-primary Play at HighRoller
					li
						.casino-top-box
							.top
								.heading
									.left
										.logo-holder
											a(href="#")
												img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
										.txt
											h2
												a(href="#") Casimba
											em.note Launched 2 days ago!
									.right
										span.rate
											strong 4
											span /5
										img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
								.content
									.top
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.bottom
										span
											strong +12
											|  Blackjack Games
							.button-holder
								a(href="#").btn.btn-primary Play at Casimba
				.load-more.text-center
					a(href="#").btn.btn-secondary View All New Casinos
		//- 
			section.section-top-offer
			.holder
				.frame
					.location
						span.icon-map i
						| London, United Kingdom
						a(href="#").hidden-sm
							strong - Change Location
					h1 Novembers’ Top Casino Offers
					.offer-casino-box
						.heading
							div
								.logo-holder
									a(href="#")
										img(src="http://via.placeholder.com/50x50/ff6600/ffffff")
								.txt
									h2
										a(href="#") Betsson
									em.time Launched 2 days ago!
							div
								span.rate
									strong 5
									span /5
								img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
						.content
							h3 £150 + 50 Free Spins
							p 50% up to £100 + 50 Free Spins
							a(href="#").btn.btn-primary Go to Betsson
						.bottom.text-center
							.content
								span.icon- i
								p
									| Expires in - 
									strong 18 Days  21 Hours 18 Minutes
							.btn-holder.hidden-sm
								a(href="#").btn.btn-link View all top casino offers
					.text-center
						a(href="#").btn.btn-secondary.load-more View all top casino offers
		//- 
		section.section-games
			.holder
				.section-heading
					h1 NetEnt Games &amp; Jackpots
					strong.subtitle Most played Games &amp; highest progressive Jackpots right now!
				ul.grid
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £2,061.762
								strong.media-title Mega Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 314 Casinos
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £3,654,000
								strong.media-title Mega Fortune Dreams
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 135 Casinos
					li
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/562x280/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker £832,000
								strong.media-title Cosmic Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											a(href="#").btn.btn-primary Play Game
							.footer
								a(href="#").btn.btn-link View all 314 Casinos
				.load-more.text-center
					a(href="#").btn.btn-secondary View All Games &amp; jackpots
		//- 
		section.template-default-page
			.subsection.boxes-holder
				.holder
					.section-heading
						h1 NetEnt Bonuses
						strong.subtitle Start playing with more today!
					ul.grid.sh-holder
						li
							.bonus-box
								.heading.sh-column
									h2 Welcome Bonus
									p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 314 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 No Deposit Bonus
									p Check out all Netent Casinos that grant their players a bonus or Free Spins without a deposit has to be made first.  
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LadyLucks
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LadyLucks
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") WildSlots
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to WildSlots
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Cashiopeia
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Cashiopeia
								.footer
									a(href="#").btn.btn-secondary View all 9 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 Free Spins Bonus
									p Free Spins are popular casino bonuses and many Netent Casinos treat their players on profitable Netent Free Spin promotions. 
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £150 + 50 Free Spins
														p 50% up to £100 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1500 + 50 Free Spins
														p 200% up to £500 + 50 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
												.content
													.frame
														h4 £1000 + 20 Free Spins
														p 100% up to £500 + 20 Free Spins
													.button-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 82 Casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary.invert View all netent bonuses
		//- 
			section.section-bonus-calc
				.holder
					h1 Bonus Calculator
					p Enter your preferred deposit amount &amp; view how much money &amp; free spins you get from a bonus.
					form(action="#")
						.form-group
							input(type="text", placeholder="Enter your deposit amount")
						.form-group
							input(type="submit", value="View Bonus Overview").btn.btn-primary 
				.sticker NEW
		//- 
		section.template-default-page
			.subsection.boxes-holder
				.holder
					.section-heading
						h1 Payments
						strong.subtitle Payment methods available on Casinos!
					ul.grid
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") PayPal
								p PayPal is the most popular and most used online payment system on the internet, having millions of users worldwide. 
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/105x54")
								h3
									a(href="#") Bitcoin
								p You may have seen or heard something about Bitcoin Casinos before, probably even right here on our site.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/90x90")
								h3
									a(href="#") Trustly
								p Zimpler breaks new ground within the mobile payment experience with tools that lets the customers take control over their own spending
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary.invert View More Payments
		include pug/includes/sections/related-posts
	include pug/includes/popups/_main
	include pug/includes/footer