extends pug/extends/master

block content
	//- 
	- var page_class = "hide-bonus"
	include pug/includes/header
	#main.home
		//- 
		section.section-intro
			.holder
				.content
					.offer-casino-box
						.heading
							.left
								.logo-holder
									a(href="#")
										img(src="http://via.placeholder.com/50x50/ff6600/ffffff")
								.txt
									h2
										a(href="#") PokerStars
							.right
								.stars
									span.icon-star
									span.icon-star
									span.icon-star
									span.icon-star-half-empty
									span.icon-star-o
						.content
							h3 £150 + 50 Free Spins
							p 50% up to £100 + 50 Free Spins
							.btn-holder
								a(href="#").btn.btn-secondary Casino Review
								a(href="#").btn.btn-primary Get Bonus
								a(href="#").btn.btn-tc T&amp;C’s Apply
					//- 
					.search-box
						div
							a(href="#search-popup").btn.btn-search.lightbox-opener.icon-search Search 200+ Casinos &amp; Games
						div
							- var count = "329"
							- var title = "Casino Reviews"
							- var content = "For Your Convenience"
							include pug/extends/button-counter
						div
							- var count = "204"
							- var title = "Games"
							- var content = "To Play for Free"
							include pug/extends/button-counter
						div
							- var count = "3049"
						
							- var title = "News Articles"
							- var content = "Ready to be Read"
							include pug/extends/button-counter
			//- 
			- var image = "banner-concept-1"
			include pug/extends/retina-images
		//- 
		section.section-top-casinos
			.holder
				.section-heading
					h1 New Casinos
					strong.subtitle Discover November’s latest Casinos
				ul.grid.col-4
					li
						.casino-box-title.short
							.heading
								.left
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LadyLucks
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										span.note
											| Launched 
											br
											| 2 days ago!
								.right
									span.rate
										strong 4
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
							.content
								.content-frame
									h3 &pound;1000 + 20 Free Spins
									p 100% up to &pound;500 + 20 Free Spins
								.button-holder
									.button-frame
										a(href="#").btn.btn-primary Go to Casino
										a(href="#").btn.btn-tc T&amp;C’s Apply
					li
						.casino-box-title.short
							.heading
								.left
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LadyLucks
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										span.note
											| Launched 
											br
											| 2 days ago!
								.right
									span.rate
										strong 4
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
							.content
								.content-frame
									h3 &pound;150 + 50 Free Spins
									p 50% up to &pound;100 + 50 Free Spins
								.button-holder
									.button-frame
										a(href="#").btn.btn-primary Go to Casino
										a(href="#").btn.btn-tc T&amp;C’s Apply
					li
						.casino-box-title.short
							.heading
								.left
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") HighRoller
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										span.note
											| Launched 
											br
											| 2 days ago!
								.right
									span.rate
										strong 4
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
							.content
								.content-frame
									h3 &pound;1000 + 20 Free Spins
									p 100% up to &pound;500 + 20 Free Spins
								.button-holder
									.button-frame
										a(href="#").btn.btn-primary Go to Casino
										a(href="#").btn.btn-tc T&amp;C’s Apply
					li
						.casino-box-title.short
							.heading
								.left
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Casimba
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										span.note
											| Launched 
											br
											| 2 days ago!
								.right
									span.rate
										strong 4
										span /5
									.stars
										span.icon-star
										span.icon-star
										span.icon-star
										span.icon-star-half-empty
										span.icon-star-o
							.content
								.content-frame
									h3 &pound;150 + 50 Free Spins
									p 50% up to &pound;100 + 50 Free Spins
								.button-holder
									.button-frame
										a(href="#").btn.btn-primary Go to Casino
										a(href="#").btn.btn-tc T&amp;C’s Apply
				.load-more.text-center
					a(href="#").btn.btn-secondary View More New Casinos
		//- 
		section.section-top-offer
			.holder
				.frame
					.location.icon-map-marker
						| London, United Kingdom 
						a(href="#")
							strong Change Location
					h1 Novembers’ Top Casino Offers
					.offer-casino-box
						.heading
							.left
								.logo-holder
									a(href="#")
										img(src="http://via.placeholder.com/50x50/ff6600/ffffff")
								.txt
									h2
										a(href="#") Betsson
									em.time Launched 2 days ago!
							.right
								span.rate
									strong 5
									span /5
								.stars
									span.icon-star
									span.icon-star
									span.icon-star
									span.icon-star-half-empty
									span.icon-star-o
						.content
							h3 &pound;150 + 50 Free Spins
							p 50% up to &pound;100 + 50 Free Spins
							.btn-holder
								a(href="#").btn.btn-secondary Casino Review
								a(href="#").btn.btn-primary Get Bonus
								a(href="#").btn.btn-tc T&amp;C’s Apply
					.offer-casino-box.bottom.text-center
						.content
							span.icon-timer
							p
								| Expires in - 
								strong 18 Days  21 Hours 18 Minutes
						.btn-holder
							a(href="#").btn.btn-link View all top casino offers
					.text-center.load-more
						a(href="#").btn.btn-secondary View all top casino offers
		//- 
		section.section-games
			.holder
				.section-heading
					h1 NetEnt Games &amp; Jackpots
					strong.subtitle Most played Games &amp; Jackpots right now!
				.games-slider.grid.col-3
					div
						.game-box
							.media-holder
								a(href="#", style="background-image:url('http://via.placeholder.com/562x280/ff0000/ffffff')").bg-cover
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker &pound;2,061.762
								strong.media-title Mega Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												em.note Released 2 Days ago
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
								//- 
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
							//- 
							.footer
								a(href="#").btn.btn-link View all 314 Casinos
					div
						.game-box
							.media-holder
								a(href="#", style="background-image:url('http://via.placeholder.com/562x280/ff0000/ffffff')").bg-cover
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker &pound;2,061.762
								strong.media-title Mega Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												em.note Released 2 Days ago
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
											a(href="#").btn.btn-tc T&amp;C’s Apply
							//- 
								.footer
									a(href="#").btn.btn-link View all 314 Casinos
					div
						.game-box
							.media-holder
								a(href="#", style="background-image:url('http://via.placeholder.com/562x280/ff0000/ffffff')").bg-cover
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker &pound;3,654,000
								strong.media-title Mega Fortune Dreams
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
							//- 
								.footer
									a(href="#").btn.btn-link View all 135 Casinos
					div
						.game-box
							.media-holder
								a(href="#", style="background-image:url('http://via.placeholder.com/562x280/ff0000/ffffff')").bg-cover
									span.hover-box
										span
											span.icon-play
											| Play at Mega Fortune
									span.sticker &pound;832,000
								strong.media-title Cosmic Fortune
							ul.games-list
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Betsson
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") Thrills
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
								li
									.game
										.heading
											.logo-holder
												a(href="#")
													img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
											.txt
												h2
													a(href="#") LeoVegas
												.stars
													span.icon-star
													span.icon-star
													span.icon-star
													span.icon-star-half-empty
													span.icon-star-o
										.content
											a(href="#").btn.btn-primary Play Game
							//- 
								.footer
									a(href="#").btn.btn-link View all 314 Casinos
				.load-more.text-center
					a(href="#").btn.btn-secondary View All New Casinos
		//- 
		section.template-default-page
			.subsection.boxes-holder
				.holder
					.section-heading
						h1 NetEnt Bonuses
						strong.subtitle Start playing with more today!
					ul.grid.sh-holder
						li
							.bonus-box
								.heading.sh-column
									h2 Welcome Bonus
									p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener Betsson
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;150 + 50 Free Spins
														p 50% up to &pound;100 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to Betsson
														//- a(href="#").btn.btn-tc T&amp;C’s Apply
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener Unibet
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1500 + 50 Free Spins
														p 200% up to &pound;500 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener LeoVegas
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1000 + 20 Free Spins
														p 100% up to &pound;500 + 20 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 314 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 No Deposit Bonus
									p Check out all Netent Casinos that grant their players a bonus or Free Spins without a deposit has to be made first.  
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener LadyLucks
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;150 + 50 Free Spins
														p 50% up to &pound;100 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to LadyLucks
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener WildSlots
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1500 + 50 Free Spins
														p 200% up to &pound;500 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to WildSlots
										li
											.single
												.heading
													.logo-holder
														a(href="#casino-summary-popup").ligntbox-opener
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#casino-summary-popup").lightbox-opener Cashiopeia
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1000 + 20 Free Spins
														p 100% up to &pound;500 + 20 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to Cashiopeia
								.footer
									a(href="#").btn.btn-secondary View all 9 Casinos
						li
							.bonus-box
								.heading.sh-column
									h2 Free Spins Bonus
									p Free Spins are popular casino bonuses and many Netent Casinos treat their players on profitable Netent Free Spin promotions. 
								.content
									ul
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Betsson
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;150 + 50 Free Spins
														p 50% up to &pound;100 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to Betsson
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") Unibet
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1500 + 50 Free Spins
														p 200% up to &pound;500 + 50 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to Unibet
										li
											.single
												.heading
													.logo-holder
														a(href="#")
															img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
													.txt
														h3
															a(href="#") LeoVegas
														.stars
															span.icon-star
															span.icon-star
															span.icon-star
															span.icon-star-half-empty
															span.icon-star-o
												.content
													.frame
														h4 &pound;1000 + 20 Free Spins
														p 100% up to &pound;500 + 20 Free Spins
													.btn-holder
														a(href="#").btn.btn-primary Go to LeoVegas
								.footer
									a(href="#").btn.btn-secondary View all 82 Casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary.invert View All Bonuses
		//- 
		section.section-bonus-calc
			.holder
				h1 Bonus Calculator
				p Enter your preferred deposit amount &amp; view how much money &amp; free spins you get from a bonus.
				form(action="#")
					.form-group
						input(type="text", placeholder="Enter your deposit amount")
					.form-group
						input(type="submit", value="View Bonus Overview").btn.btn-primary 
			.sticker NEW
		//- 
		section.template-default-page
			.subsection.boxes-holder
				.holder
					.section-heading
						h1 Payments
						strong.subtitle Payment methods available on Casinos!
					ul.grid.col-3
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/48x48")
								h3
									a(href="#") PayPal
								h4
									strong 35
									|  Casinos Offering PayPal.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/53x27")
								h3
									a(href="#") Bitcoin
								h4
									strong 12
									|  Casinos Offering bitcoin.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50x16")
								h3
									a(href="#") Trustly
								h4
									strong 310
									|  Casinos Offering Visa.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/48x48")
								h3
									a(href="#") MasterCard
								h4
									strong 300
									|  Casinos Offering PayPal.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/53x27")
								h3
									a(href="#") Neteller
								h4
									strong 236
									|  Casinos Offering bitcoin.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
						li
							.post-preview.payments.short
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/50x16")
								h3
									a(href="#") Zimpler
								h4
									strong 94
									|  Casinos Offering Visa.
								.button-holder
									a(href="#").btn.btn-primary View all Casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary View More Payments
		include pug/includes/sections/related-posts
	include pug/includes/footer