extends pug/extends/master

block content
	include pug/includes/header

	#main
		//- 
		section.section-intro
			.holder
				.search-box
					div
						form(action="#")
							.form-content
								input(type="text", placeholder="Search 200+ Casinos & Games")
								span.icon-search s
					div
						- var count = "329"
						- var title = "Casino Reviews"
						- var content = "For Your Convenience"
						include pug/extends/read-more-button
					div
						- var count = "204"
						- var title = "Games"
						- var content = "To Play for Free"
						include pug/extends/read-more-button
					div
						- var count = "3049"
					
						- var title = "News Articles"
						- var content = "Ready to be Read"
						include pug/extends/read-more-button
			- var image = "banner-concept-1"
			include pug/extends/retina-images
		section.section-casinos-list
			.holder
				.section-heading
					h1 New Casinos
					strong.subtitle Discover November’s latest Casinos
				.boxes-holder
					div
						- var h2 = "LadyLucks"
						- var duration = "2 days"
						- var h3 = "£150 + 50 Free Spins"
						- var content = "50% up to £100 + 50 Free Spins"
						include pug/extends/new-casino-box
					div
						- var h2 = "WildSlots"
						- var duration = "17 days"
						- var h3 = "£1000 + 20 Free Spins"
						- var content = "100% up to £500 + 20 Free Spins"
						include pug/extends/new-casino-box
					div
						- var h2 = "HighRoller"
						- var duration = "1 month"
						- var h3 = "£1500 + 50 Free Spins"
						- var content = "200% up to £500 + 50 Free Spins"
						include pug/extends/new-casino-box
				.text-center
					a(href="#").btn.btn-secondary.load-more View More New Casinos
		section.section-top-offer
			.holder
				.frame
					.location
						span.icon-map i
						| London, United Kingdom
						a(href="#").hidden-sm
							strong - Change Location
					h1 Novembers’ Top Casino Offers
					.offer-casino-box
						.heading
							div
								.logo-holder
									a(href="#")
										img(src="http://via.placeholder.com/50x50/ff6600/ffffff")
								.txt
									h2
										a(href="#") Betsson
									em.time Launched 2 days ago!
							div
								span.rate
									strong 5
									span /5
								img(src="images/stars.png", alt="Image description", width="55", height="10").stars
						.content
							h3 £150 + 50 Free Spins
							p 50% up to £100 + 50 Free Spins
							a(href="#").btn.btn-primary Go to Betsson
						.bottom.text-center
							.content
								span.icon- i
								p
									| Expires in - 
									strong 18 Days  21 Hours 18 Minutes
							.btn-holder.hidden-sm
								a(href="#").btn.btn-link View all top casino offers
					.text-center
						a(href="#").btn.btn-secondary.load-more View all top casino offers
		section.section-games
			.holder
				.section-heading
					h1 NetEnt Games &amp; Jackpots
					strong.subtitle Most played Games &amp; Jackpots right now!
				.games-slider
					div
						.game-box
							.media-holder
								img(src="http://via.placeholder.com/293x149?text=Slide+1")
								.sticker £8,000,00
							ul
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") Betsson
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") Unibet
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") LeoVegas
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
					div
						.game-box
							.media-holder
								img(src="http://via.placeholder.com/293x149?text=Slide+2")
								.sticker new
							ul
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") Casumo
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") Dunder
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") LokiCasino
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
					div
						.game-box
							.media-holder
								img(src="http://via.placeholder.com/293x149?text=Slide+3")
								.sticker NEW
							ul
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") VideoSlots
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") LVbet
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
								li
									div
										.logo-holder
											a(href="#")
												img(src="http://via.placeholder.com/50")
										.txt
											h2
												a(href="#") WildSlots
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
									div
										a(href="#").btn.btn-primary Play Game
				.text-center
					a(href="#").btn.btn-secondary.load-more View More Jackpots
		section.section-bonuses
			.holder
				.section-heading
					h1 NetEnt Bonuses
					strong.subtitle Start playing with more today!
				.boxes-holder
					div
						.bonus-box-holder
							h2 Welcome Bonus
							p Virtually all Netent Casinos offer new players an attractive welcome bonus.
							ul
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") Betsson
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £150 + 50 Free Spins
												p 50% up to £100 + 50 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") Unibet
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £1500 + 50 Free Spins
												p 200% up to £500 + 50 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") LeoVegas
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £1000 + 20 Free Spins
												p 100% up to £500 + 20 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
							a(href="#").btn.btn-link View all 314 Casinos
					div
						.bonus-box-holder
							h2 Free Spins Bonus
							p Free Spins are popular casino bonuses and many Netent Casinos treat their players.
							ul
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") Casumo
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 150 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") LokiCasino
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 50 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") Dunder
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 20 Free Spins
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
							a(href="#").btn.btn-link View all 79 Casinos
					div
						.bonus-box-holder
							h2 No Deposit Bonus
							p Check out all Netent Casinos that grant their players a bonus or Free Spins without a deposit.
							ul
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") VideoSlots
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £10 Free Bonus
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") LVbet
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £50 Free Bonus
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
								li
									.bonus-box
										.heading
											.logo-holder
												a(href="#")
													img(src="http://via.placeholder.com/50")
											h3
												a(href="#") WildSlots
											img(src="images/stars.png", alt="Image description", width="55", height="10").stars
										.content
											.txt
												h4 £20 Free Bonus
											a(href="#").btn.btn-primary Go to Casino
											a(href="#").btn.btn-link.hidden-sm T&amp;C’s Apply
							a(href="#").btn.btn-link View all 10 Casinos
				.text-center
					a(href="#").btn.btn-secondary View All Bonuses
		section.section-bonus-calc
			.holder
				h1 Bonus Calculator
				p Enter your preferred deposit amount &amp; view how much money &amp; free spins you get from a bonus.
				form(action="#")
					.form-group
						input(type="text", placeholder="Enter your deposit amount")
					.form-group
						input(type="submit", value="View Bonus Overview").btn.btn-primary 
			.sticker NEW
		section.section-payments
			.holder
				.section-heading
					h1 Payments
					strong.subtitle Payment methods available on Casinos!
				.payments-holder
					div
						.payment-box
							div
								.logo-holder
									a(href="#")
										img(src="images/logo-paypal-large.png", alt="Image description", width="45", height="38")
							.content
								h2 PayPal
								p 35 Casinos Offering PayPal.
								a(href="#").btn.btn-primary View all Casinos
					div
						.payment-box
							div
								.logo-holder
									a(href="#")
										img(src="images/logo-bitcoin-large.png", alt="Image description", width="53", height="13")
							.content
								h2 Bitcoin
								p 12 Casinos Offering bitcoin.
								a(href="#").btn.btn-primary View all Casinos
					div
						.payment-box
							div
								.logo-holder
									a(href="#")
										img(src="images/logo-visa-large.png", alt="Image description", width="50", height="16")
							.content
								h2 Visa
								p 310 Casinos Offering Visa.
								a(href="#").btn.btn-primary View all Casinos
				.text-center
					a(href="#").btn.btn-secondary View More Payments
		section.section-recent-news
			.holder
				.section-heading
					h1 Latest Casino News &amp; Promotions
				.boxes-holder
					div
						.post-preview
							.media-holder
								img(src="http://via.placeholder.com/330x150")
							.body
								h2 Finn and the Swirly Spin arrives at all online Casinos in 2 weeks!
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-06") 6th November 2017
									|  by 
									a(href="#") Adam
								p LeoVegas have exclusively acquired NetEnt’s Finn and the Swirly Spin, but we thought it was still important to note that the general release is just 2 weeks away. You may be thinking: why’s that interesting if I can already play it? Well, while it’s awesome that LeoVegas have early access, there’ll be more Finn and the Swirly Spin free spins and casino bonuses available on 23rd November!
								.text-center
									a(href="#").btn.btn-secondary Continue Reading
					div
						.post-preview
							.media-holder
								img(src="http://via.placeholder.com/330x150")
							.body
								h2 Exclusive 150% Welcome Bonus from New Casino WildSlots!
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-09") 9 November 2017
									|  by 
									a(href="#") Adam
								p
									| Listen up, readers! We’ve got one of the last few 
									a(href="#") new 2017 casinos
									|  for you to consider – WildSlots – and better yet there’s an exclusive welcome bonus on the table. It’s extremely satisfying to be able to offer you a better deal, and just wait until you get a look at WildSlots’ VIP casino program!
								.text-center
									a(href="#").btn.btn-secondary Continue Reading
					div
						.post-preview
							.media-holder
								img(src="http://via.placeholder.com/330x150")
							.body
								h2 Best Casino Bonuses November 2017 Week 1 (Updated!)
								p.by
									| Published on 
									a(href="#")
										time(datetime="2017-11-08") 8 November 2017
									|  by 
									a(href="#") Adam
								p Now that Halloween is out of sight, attention has turned to Christmas! It’s probably slightly premature to be looking forward to the 25th December, but online casinos have already started distributing their presents early to you gamers. Expect plenty more to arrive as Santa’s visit gets closer, but here are November 2017’s first week best casino bonuses and free spins to enjoy!
								.text-center
									a(href="#").btn.btn-secondary Continue Reading
				.text-center
					a(href="#").btn.btn-secondary View more Articles
		section.section-promo
			.holder
				include pug/includes/promo-content
		section.section-refer
			.holder
				include pug/includes/section-refer
				
			//- 
				.casino-box2.small
					.heading
						div
							.image
								a(href="#")
									img(src="http://via.placeholder.com/50x50")
							div
								h3
									a(href="#") Etoro
						div
							span.rate
								strong 4
								span /5
							p stars
					.cell.total
						div
							strong.title Earn 2% Management Fee
							em.note Become a Popular Invester
					.content
						.cell.deposit
							p
								strong £50
								|  Min. Deposit
					.fullwidth
						a(href="#").btn.btn-primary visit etoro
				.casino-box2
					.heading
						.image
							a(href="#")
								img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
						.description
							h3
								a(href="#") SlotsMillion
							p stars
							a(href="#").btn.btn-default casino review
					.cell.total
						.sticker
							span.icon icon &gt;
							|  Recommended by Casino Experts
						div
							strong.title £150 + 50 Free Spins
							em.note 50% up to £100 + 50 Free Spins
					.content
						.cell.deposit
							p
								strong £10
								|  Min. Deposit
						.cell.time
							p
								strong 30 mins - 4 hours (avg)
								|  Withdrawal Time
					.fullwidth
						a(href="#").btn.btn-primary go to casino
				.casino-box2.large
					.heading
						div
							.image
								a(href="#")
									img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
							div
								h3
									a(href="#") Betsson
								p Founded 2001
						div
							span.rate
								strong 5
								span /5
							p stars
					.content
						div
							h4 Did You Know?
							blockquote
								p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
						div
							ul.description-list
								li
									h4 No. of Games
									p 400+ Games
								li
									h4 Min. Deposit
									p £10
								li
									h4 Support Options
									ul.icons-list
										li
											a(href="#").icon-mail
										li
											a(href="#").icon-chat-bubbles
										li
											a(href="#").icon-phone
								li.fullwidth
									h4 Payment Methods
									p 17 depositing options
									ul.payments-list
										li
											a(href="#")
												img(src="images/logo-visa.png", alt="Image description", width="37", height="12")
										li
											a(href="#")
												img(src="images/logo-paypal.png", alt="Image description", width="28", height="28")
										li
											a(href="#")
												img(src="images/logo-bitcoin.png", alt="Image description", width="47", height="11")
										li
											a(href="#")
												img(src="images/logo-skrill.png", alt="Image description", width="46", height="16")
										li
											a(href="#")
												span +12
					.cell.total
						div
							strong.title £150 + 50 Free Spins
							em.note 50% up to £100 + 50 Free Spins
						div
							a(href="#").btn.btn-primary Go to Betsson
	
	include pug/includes/footer