extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		//- 
		section.section-intro
			- var image = "banner-concept-4"
			include pug/extends/retina-images
		section.template-casinos-list
			//- 
			.subsection.content.heading
				.holder
					h1 Novembers’ Top Casinos Offers
					strong.subtitle.green
						| London, United Kingdom 
						br
						a(href="#") Change Location
					p A list of the best bonuses &amp; offers for November, 2017. This page is updated on a monthly basis with all the best offers for the month. The casinos below are corresponding to your country (licenses). You are able to change the country restriction from above.
					strong.offer-sticker.icon-time
						| Offers will expire in - 
						strong 18 Days  21 Hours 18 Minutes
			.subsection.boxes-holder
				.holder
					ol
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Betsson
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.sticker
											span.icon
											p Recommended by Casino Experts
										.button-frame
											a(href="#").btn.btn-primary Go to Betsson
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Unibet
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Unibet
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LeoVegas
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.button-holder
										.sticker
											span.icon
											p Free Spins Before Depsoit
										.button-frame
											a(href="#").btn.btn-primary Go to LeoVegas
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Thrills
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Thrills
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140") 
									.txt
										h2
											a(href="#") VideoSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										a(href="#").btn.btn-secondary casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.sticker
											span.icon
											p Lowest Deposit Amount Required
										.button-frame
											a(href="#").btn.btn-primary Go to VideoSlots
	include pug/includes/footer