extends pug/extends/master

block content
	- var page_class = "hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li NetEnt Game &amp; Jackpots
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			//- 
			.dropdown-nav
				a(href="#").opener.icon-chevron-down NetEnt Games
				.slide
					ul
						li
							a(href="#") Jackpots
						li
							a(href="#") Casino Games
						li
							a(href="#") Live Casino
			.subsection.page-heading
				.holder
					h1 NetEnt Games
					strong.subtitle.green Popular NetEnt Casino Games &amp; Slots
					p Take your pick from the latest NetEnt casino games below, with this list continually updating as new slots and titles are released. If you’re a beginner within the iGaming world and are interested in learning some of the classics, NetEnt’s Starburst, Gonzo’s Quest, Bloodsuckers and networked jackpot Mega Fortune are a few fan-favourites.
			.featured-game
				.holder
					.content
						h2 NetEnt’s Jumanji Slot Release Date: 21st June 2018
						p The final NetEnt instalment for Q2 2018 is none other than the January-announced 
							a(href="#") Jumanji
						a(href="#").btn.btn-primary Explore more
					.media-holder
						.game-box
							.media-holder
								a(href="#").bg-stretch
									- var image = "http://via.placeholder.com/330x180/ff0000/ffffff"
									include pug/extends/retina-single
									span.hover-box
										span
											span.icon-play
											| Play at Jumanji
									span.sticker Coming soon
								strong.media-title Jumanji
				- var image = "banner-concept-6"
				include pug/extends/retina-images
			.subsection
				.holder
					form(action="#").form-sorting
						strong.title Sort by
						select
							option A-Z
							option Highest Game
							option Lowest Game
							option Date: Old to New
					.games-slider.grid.col-3
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x156/ff0000/ffffff"
										include pug/extends/retina-single
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 Days
									strong.media-title Finn and the Swirly Spin
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x156/ff0000/ffffff"
										include pug/extends/retina-single
										//- img(src="")
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 days
									strong.media-title Planet of the Apes
						//- 
						div
							.game-box
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/293x156/ff0000/ffffff"
										include pug/extends/retina-single
										//- img(src="")
										span.hover-box
											span
												span.icon-play
												| Play at Betsson
										span.sticker 15 days
									strong.media-title Planet of the Apes
					ul.games-boxes-list.grid.col-4
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title The Legend of Shangri-La
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Wolf Club
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Planet of the Apes
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Blood Suckers 2
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title The Legend of Shangri-La
						li
							.game-box.small
								.media-holder
									a(href="#").bg-stretch
										- var image = "http://via.placeholder.com/163x100/ff0000/ffffff"
										include pug/extends/retina-single
								strong.media-title Wolf Club
					.load-more.text-center
						a(href="#").btn.btn-secondary View More Games
			.subsection.page-content
				.holder
					h2 NetEnt Games have been Breaking Records for over a decade!
					p It’s pretty incredible to think that NetEnt’s longest running pooled jackpot in Arabian Nights was released way back in 2005. Multiple gamers have become millionaires in one simple spin since, and the Swedish slot developer has been smashing records left, right and centre in the process.
					p They’ve been inducted into the Guinness World Records for highest payout ever and highest payout on mobile in previous years, while it’s roundly observed that comfortably more than €500m has been dished out in prizes since their beginning. How long until it reaches €1bn we wonder…
					p
						a(href="#") Read More
	include pug/includes/footer