extends pug/extends/master

block content
	- var page_class = "hide-bonus hide-offer"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							| NetEnt Bonuses
				div
					p Last updated - 
						strong 2 days ago!
		section.section-posts-collection
			.subsection.main-heading
				.holder
					h1 NetEnt Bonuses
					strong.subtitle Start playing with more today!
					p NetEnt has a number of standard bonuses that can be used in various NetEnt Casinos, and you as a player can take full advantage of them. The most well-known offers are Welcome Bonuses, No Deposit Bonuses, Deposit Bonuses, Reward Bonuses, Free Bonuses, and Free Spins. Here you can read the different kinds of NetEnt casino bonuses which you as a player can enjoy when you play NetEnt games at an online casino.
					span.stick 
						b 624 Bonuses Available 
						| - Last updated 2 days ago
		section.widget-bonuses
			.holder
				ul.widget-bonuses-block
					li
						.widget-box
							.section-heading
								h2 Welcome Bonus
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Betsson
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £150 + 50 Free Spins
											p 50% up to £100 + 50 Free Spins 
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Unibet
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £1500 + 50 Free Spins
											p 200% up to £500 + 50 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LeoVegas
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £1000 + 20 Free Spins
											p 100% up to £500 + 20 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 314 Casinos

					li
						.widget-box
							.section-heading
								h2 Free Spins Bonus
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Casumo
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 150 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LokiCasino
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 50 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Dunder
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 20 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 79 Casinos
					li
						.widget-box
							.section-heading
								h2 No Deposit Bonus
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  VideoSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £10 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LVbet
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £50 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  WildSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £20 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 10 Casinos
					li
						.widget-box
							.section-heading
								h2 Reload Bonus
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Betsson
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £150 + 50 Free Spins
											p 50% up to £100 + 50 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Unibet
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £1500 + 50 Free Spins
											p 200% up to £500 + 50 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LeoVegas
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £1000 + 20 Free Spins
											p 100% up to £500 + 20 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 314 Casinos
					li
						.widget-box
							.section-heading
								h2 NetEnt Tournaments
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Casumo
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 150 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LokiCasino
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 50 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  Dunder
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 20 Free Spins
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 79 Casinos
					li
						.widget-box
							.section-heading
								h2 Bonus Codes
								p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
							.widget-holder-wrap
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  VideoSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £10 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  LVbet
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £50 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
								.widget-holder
									.heading
										.logo-img
											a(href="#")
												img(src="http://via.placeholder.com/50")
										h3 
											a(href="#")  WildSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10")
									.content
										.content-txt
											h4 £20 Free Bonus
										.content-btn
											a(href="#").btn.btn-primary  Go to Casino
							.btn-bottom
								a(href="#") View all 10 Casinos


	include pug/includes/footer