extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.subsection.page-heading
				.holder
					h1 New Casinos
					strong.subtitle.green Discover November’s released Casinos
					p Like any other industry, the iGaming sector continues to develop at a rapid pace and is considered such a lucrative trade that new online casinos see the light of day on a regular basis.
					strong.offer-sticker
						strong 2 New Casinos Added
			.subsection.boxes-holder
				.holder
					ul.grid.col-1
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LadyLucks
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 2 days ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									span.sticker.new
										strong new
										|  - Added Today!
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins (Exclusive Offer)
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to LadyLucks
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") WildSlots
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 17 days ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to WildSlots
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") HighRoller
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 1 month ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									.frame
										h3 £1500 + 50 Free Spins
										p 200% up to £500 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to HighRoller
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LuckyCasino
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 2 days ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to LuckyCasino
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") PlaySunny
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 17 days ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									.frame
										h3 £1000 + 20 Free Spins
										p 100% up to £500 + 20 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to PlaySunny
						li
							.casino-box-title
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Casimba
										img(src="assets/images/stars.png", alt="Image description", width="55", height="10").stars
										span.note
											| Added 
											br
											| 2 days ago!
										a(href="#").btn.btn-secondary Casino review
								.content
									.frame
										h3 £150 + 50 Free Spins
										p 50% up to £100 + 50 Free Spins
									.button-holder
										.button-frame
											a(href="#").btn.btn-primary Go to Casimba
					.load-more.text-center
						a(href="#").btn.btn-secondary Load More New Casinos
			.subsection.page-content
				.holder
					h1 New Casino Trends for 2017
					p Alongside VIP plans, many new casinos try to stand out from the crowd by being unique and different. It’s a common tactic which has become trickier over time due to an intensifying number of rivals, but there’s no doubt been some incredible success stories over the years.
					p Casinos using the themes of party and fun have been a big trend as they aim to set themselves apart from many online casinos promoting the image of Las Vegas glamour.
					p
						a(href="#") Read More
	include pug/includes/footer