extends pug/extends/master

block content
	- var page_class = "hide-bonus hide-offer"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") News
						li
							| NetEnt New Casinos December 2017
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.anchor-links
				.holder
					ul
						li
							a(href="#section1") Bonus News
						li
							a(href="#section2") NetEnt News
						li
							a(href="#section3") Exclusive Promotions
						li
							a(href="#section4") New NetEnt Games
						li
							a(href="#section5") Casino Reviews
						li
							a(href="#section6") Live Casino
			.subsection.page-heading
				.holder
					h1 News
					strong.subtitle.green Daily NetEnt News
					p On this page you will find an overview of all kinds of NetEnt news. So, not just news about NetEnt itself – like new games, future projects, technology developments and more – but also the latest NetEnt casinos that are recommended by us, including their bonus offers or exclusive promotions. Anything NetEnt-related you want to know about will be published here first.
					a(href="#news-menu-popup").btn.btn-secondary.lightbox-opener.fake-select
						span.txt All News 
						span.number 
			.filtered-list
				#section1.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Bonus News
							p If you’re looking to get a bit more bang for your buck when playing online casino, our bonus promotions and offers page is the perfect place to explore. We keep this section updated regularly with the best casino deals for NetEnt games, so you can choose your favourites quickly to get started. Keep referring back to this page to benefit, and remember – we only recommend the very best platforms around!
						ul.grid
							li
								.post-preview
									.post-image.no-media
										a(href="#")
									h3
										a(href="#") NetEnt Casino Bonus Codes December 2017
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt New Casinos December 2017
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p As Christmas fast approaches, it’s time to take a look at the new online casinos which have impressed us enough of late to warrant your attention. We analyse every little detail of a new platform before bringing them to the table, with all kinds of aspects overseen – seen within our NetEnt casino reviews.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt No Deposit Bonuses December 2017
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p It’s the season to be jolly, so what better way to kick off the festive season than with some enticing no deposit bonuses. If you are looking for a new casino to sign up to, the following are highly entertaining casinos that are offering no deposit bonuses.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
						ul.grid.col-2
							li
								.post-preview.no-image
									h3
										a(href="#") Free Spins News
									p The bread and butter of online casino promotions is undoubtedly free spins. Whether it’s free spins upon registration or after a deposit, we know that players go wild for the chance to play NetEnt slots with no risk to their account balance. We’ll be publishing articles regarding the very best casino free spins offers from across the iGaming scene on this page.
									.button-holder
										a(href="#").btn.btn-secondary View Free Spins News
							li
								.post-preview.no-image
									h3
										a(href="#") No Deposit Bonus News
									p A no deposit bonus is by far one of the most popular casino bonuses around. A no deposit bonus is a free bonus you get when signing up for a new account at an online casino or as a special promotional “treat”. As the word implies, you don’t have to make a deposit in order to receive the free bonus in your new casino account.
									.button-holder
										a(href="#").btn.btn-secondary View No Deposit Bonus News
				#section2.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Latest NetEnt News
						ul.grid
							li
								.post-preview
									.post-image.post-video
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Royal Panda to be Acquired by LeoVegas, plus NetEnt Win Italian Awards
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p A bit of industry-related news to tell you about on two fronts, with relevance to UK and Italian players in particular. The first centres around a major move from LeoVegas, as they’ve managed to negotiate a deal to acquire Royal Panda which will give the latter’s players a huge boost (read on for how).
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") New 2018 Casino Games! NetEnt’s 2018 Q1 Roadmap Released
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Whoa, where did that come from!? It seemed like any other ordinary Wednesday until NetEnt came flying in with their new slots for 2018! We’ve got a mix of brand-new casino games and wide releases of exclusive NetEnt slots between the start of January and end of March 2018 to tell you about.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt Inks Second Mexico Expansion Deal with Cliente
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Perhaps in line with NetEnt’s Better Mondays campaign has seen this week already get off to a fantastic start due to some incredibly exciting news from the Swedish slot developer themselves. NetEnt are expanding their iGaming presence yet again! It’s a second gaming licence deal with Mexico that’s been
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
				#section3.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Exclusive Promotions
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt Casino Bonus Codes December 2017
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p As the weather gets colder and staying indoors gets more enticing, now is a great time to try out some new online casinos. Players are spoiled for choice when it comes to NetEnt casinos and today we are bringing you a list of our favourite casinos that use a bonus code to unlock bonus goodies.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt New Casinos December 2017
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p As Christmas fast approaches, it’s time to take a look at the new online casinos which have impressed us enough of late to warrant your attention. We analyse every little detail of a new platform before bringing them to the table, with all kinds of aspects overseen – seen within our NetEnt casino reviews.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Exclusive 150% Welcome Bonus from New Casino WildSlots
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Listen up, readers! We’ve got one of the last few new 2017 casinos for you to consider – WildSlots – and better yet there’s an exclusive welcome bonus on the table. It’s extremely satisfying to be able to offer you a better deal, and just wait until you get a look at WildSlots’ VIP casino program!
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
				#section4.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 New NetEnt Games
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Finn and the Swirly Spin Free Spins on Launch Day!
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Normally we’d start these pieces with a final push to ramp up excitement. However, the fact that you can play Finn and the Swirly Spin for free 24 hours ahead of schedule has done the job for us! Furthermore, our Irish companion’s wide release on Thursday 23rd November to all good NetEnt casinos means only one thing – free spins on Finn and the Swirly Spin have finally docked…
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt Live Standard Blackjack Arrives on your Mobile!
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Live Casino enthusiasts will be happy with the latest developments, as NetEnt expand their Mobile Live Casino portfolio with Standard Blackjack. Aside from the incoming Finn and his Swirly Spin, we weren’t expecting further releases to make their way onto our devices until their first batch of 2018 casino games.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") NetEnt’s Hotline Video Slot release date 22nd March 2018
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p We’ve just heard that a new NetEnt slot has been pencilled in for Q1’s new 2018 casino games, but before you get too excited it’s likely to be a name change rather than a brand-new title. That’s because the 22nd March 2018 Miami Pursuit slot release now looks to be called Hotline instead.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
				#section5.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Casino Reviews
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor sit amet.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quas delectus laboriosam. Tenetur, quia dolores.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officia ullam ut voluptatibus ea mollitia nesciunt, facilis provident. Magnam, cumque.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere corporis, tenetur accusantium, reprehenderit illum at.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, reprehenderit, rerum. Cum quibusdam dolore corporis.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
				#section6.subsection.section-related-posts.filtered-item
					.holder
						.section-heading
							h2 Live Casino
						ul.grid
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor sit amet.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quas delectus laboriosam. Tenetur, quia dolores.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officia ullam ut voluptatibus ea mollitia nesciunt, facilis provident. Magnam, cumque.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere corporis, tenetur accusantium, reprehenderit illum at.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
							li
								.post-preview
									.post-image
										a(href="#")
											img(src="http://via.placeholder.com/330x149/6daf0e/ffffff")
									h3
										a(href="#") Lorem ipsum dolor.
									p.by
										| Published on 
										a(href="#")
											time(datetime="2017-11-08") 8th November 2017
										|  by 
										a(href="#") Adam
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, reprehenderit, rerum. Cum quibusdam dolore corporis.
									.button-holder.text-center
										a(href="#").btn.btn-secondary Continue Reading
						.load-more.text-center
							a(href="#").btn.btn-secondary.invert View more articles
	include pug/includes/footer