extends pug/extends/master

block content
	- var page_class = "hide-offer hide-bonus"
	include pug/includes/header
	#main
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") Guides
						li
							| Blackjack guides
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.subsection.page-heading
				.holder
					h1 Payments
					strong.subtitle.green Payment methods available on Casinos!
					p Play in an online casino for real money and select your favourite payment options. When you want to play at an online casino with real money, you’ll have to open a casino account and make a deposit. Here you’ll find a short explanation about the various methods to make these payments to your casino account in a safe and reliable way. Each method has a link to its own page where you’ll find more detailed information, as well as an overview of the NetEnt Casinos that accept the method in question.
					strong.offer-sticker
						strong 624 Bonuses Available
						|  - Last updated 2 days ago
			.subsection
				.holder
					ul.grid
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") PayPal
								p PayPal is the most popular and most used online payment system on the internet, having millions of users worldwide. 
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/105x54")
								h3
									a(href="#") Bitcoin
								p You may have seen or heard something about Bitcoin Casinos before, probably even right here on our site.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/90x90")
								h3
									a(href="#") Trustly
								p Zimpler breaks new ground within the mobile payment experience with tools that lets the customers take control over their own spending
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/93x30")
								h3
									a(href="#") Visa
								p Like MasterCard, Visa is a credit card that has been used since the dawning of internet pay-sites by millions of cybernauts all around the world. 
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") MasterCard
								p MasterCard is one of the most renowned and probably still one of the most used online paying method.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") Neteller
								p Neteller was one of the first payment methods to send and receive money by internet and was traditionally mainly used in the international online poker world.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") Paysafecard
								p Paysafecard is a payment method that is becoming increasingly popular with online users for transactions. 
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") UKash
								p Ukash is one of the best ways for online casino players to deposit without having to provide personal data, bank, or other financial information.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
						li
							.post-preview.payments
								.post-image
									.logo-holder
										a(href="#")
											img(src="http://via.placeholder.com/79x79")
								h3
									a(href="#") Skrill
								p A deposit made by Bank Transfer is the oldest (and therefore for a lot of people the most trusted) way to make a payment to your online casino account.
								.button-holder.text-center
									a(href="#").btn.btn-secondary View all 12 casinos
					.load-more.text-center
						a(href="#").btn.btn-secondary.invert Show more payments
	include pug/includes/footer