extends pug/extends/master

block content
	- var page_class = "hide-nav hide-offer hide-bonus"
	include pug/includes/header
	#main
		//- 
		section.section-breadcrumbs
			.holder
				div
					ul.breadcrumbs
						li
							a(href="#") Home
						li
							a(href="#") NetEnt Game &amp; Jackpots
						li Mega Fortune Jackpot
				div
					p Last updated - 
						strong 2 days ago!
		section.template-default-page
			.subsection.page-heading
				.holder
					h1 NetEnt Welcome Bonuses
					strong.subtitle.green 314 casinos offering Welcome Bonuses
					p Virtually all Netent Casinos offer new players an attractive welcome bonus so they can explore the casino in an advantageous manner.
			.subsection.boxes-holder
				.holder
					ul.grid.col-1
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") SlotsMillion
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.sticker 
										span.icon
										p Recommended by Casino Experts
									.content-frame
										h3 £1000 + 20 Free Spins
										p 50% up to £100 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong £10
											|  Min. Deposit
									.middle
										dl
											dt Before Deposit
											dd 25 no deposit free spins
											dt After Deposit
											dd 100% to €100 + 20 Super Spins
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") LeoVegas
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £1500 + 60 Free Spins
										p 50% up to £100 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong £10
											|  Min. Deposit
									.middle
										dl
											dt Before Deposit
											dd 10 no deposit free spins
											dt After Deposit
											dd 200% up to £500 + 50 Free Spins
								.bottom
									a(href="#").btn.btn-primary Go to Casino
						li
							.casino-box-content
								.heading
									.logo-holder
										a(href="#")
											img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
									.txt
										h2
											a(href="#") Casumo
										.stars
											span.icon-star
											span.icon-star
											span.icon-star
											span.icon-star-half-empty
											span.icon-star-o
										a(href="#").btn.btn-secondary Casino review
								.cell.content
									.content-frame
										h3 £1000 + 20 Super Spins
										p 50% up to £100 + 50 Free Spins
										a(href="#").btn.btn-primary Go to Casino
								.desktop-middle
									.cell
										h4
											strong £10
											|  Min. Deposit
									.middle
										dl
											dt Before Deposit
											dd 25 no deposit free spins
											dt After Deposit
											dd 100% to €100 + 20 Super Spins
								.bottom
									a(href="#").btn.btn-primary Go to Casino
					.load-more.text-center
						a(href="#").btn.btn-secondary Load More Casinos
	include pug/includes/popups/_main
	include pug/includes/footer