* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
    color: #262626;
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #262626;
}

.row {
    margin: 0 auto;
}



















































































































































































































