span.cube-face.cube-face-front
	i.icon-netent
span.cube-face.cube-face-back
	i.icon-netent
span.cube-face.cube-face-left
	i.icon-netent
span.cube-face.cube-face-right
	i.icon-netent
span.cube-face.cube-face-bottom
	i.icon-netent
span.cube-face.cube-face-top
	i.icon-netent