include popups/_main
//- 
footer#footer
	section.section-promo
		.holder
			include promo-content
	section.section-refer
		.holder
			include section-refer
	.footer
		.holder
			.footer-top
				div
					ul.footer-nav
						li
							a(href="#") NetEnt Casinos
						li
							a(href="#") What is NetENt
						li
							a(href="#") NetEnt Touch
					p Netentcasino.com is not part of, related to or have any commercial relationship with Net Entertainment AB
				div
					strong.title Connect With Us
					ul.social-networks
						li
							a(href="#")
								.icon-facebook
								.icon-facebook
						li
							a(href="#")
								.icon-google-plus
								.icon-google-plus
						li
							a(href="#")
								.icon-twitter
								.icon-twitter
						li
							a(href="#")
								.icon-instagram
								.icon-instagram
						li
							a(href="#")
								.icon-youtube-play
								.icon-youtube-play
			.footer-bottom
				div
					ul.logos-list
						li
							a(href="#")
								img(src="assets/images/img-2.jpg", alt="Image description", width="", height="")
						li
							a(href="#")
								img(src="assets/images/img-3.jpg", alt="Image description", width="", height="")
						li
							a(href="#")
								img(src="assets/images/img-4.jpg", alt="Image description", width="", height="")
						li
							a(href="#")
								img(src="assets/images/img-5.jpg", alt="Image description", width="", height="")
				div
					p.copyright Netentcasino &copy; 2011 - 2017 All Rights Reserved.
a(href="#wrapper").back-to-top.icon-chevron-up