footer#footer
	.holder
		.footer-top
			.box-left
				ul.list-item
					li
						a(href="#") NetEnt Casinos
					li
						a(href="#") What is NetENt
					li
						a(href="#") NetEnt Touch
				p 
					| Netentcasino.com is not part of, related to or have any commercial relationship with Net Entertainment AB
			div
				span.title  Connect With Us
				ul.social-networks
					li
						a(href="#").icon-facebook
					li
						a(href="#").icon-google-plus
					li
						a(href="#").icon-twitter
					li
						a(href="#").icon-instagram
		.footer-bottom
			div
				ul.item-widget
					li
						a(href="#")
							img(src="images/img-2.jpg", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/img-3.jpg", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/img-4.jpg", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/img-5.jpg", alt="Image description", width="", height="")
			div
				.copyright
					|  Netentcasino © 2011 - 2017 All Rights Reserved.
