header#header(class= page_class)
	//- 
	ul#navigation-links
		li
			a(href="_pages-navigation.html") to nav
	.offer-box.popup-holder.to-fixed
		.holder.popup
			.left
				a.icon-close(href="#")
				a.icon-email(href="#")
				.content
					h2 Don’t miss out on 600 Secret No Deposit Spins
					p Unlock 600 secret No Deposit Spins by subscribing to our newsletter.
			div
				a(href="#subscribe-popup").btn.btn-dark.lightbox-opener Get Free Spins
	.header-bonus-box.popup-holder
		.holder.popup
			.left
				a.icon-close(href="#")
				.title-holder
					.logo-holder
						a(href="#")
							img(src="assets/images/logo-betsson.png", alt="Image description", width="140", height="140")
					div
						h2 Betsson
						img(src="assets/images/stars.png", alt="Image description", width="148", height="23").stars
			.content
				strong.title £150 + 50 Free Spins
				p 50% up to £100 + 50 Free Spins
			.button-holder
				a(href="#").btn.btn-primary Get Bonus
	.header-content.to-fixed
		.holder
			.go-back
				a(href="index.html").btn-back
				strong.title Page Title Here
			div
				strong.logo
					a(href="#")
						img(src="assets/images/logo.png", alt="NetEntCasino", width="944", height="156")
			div
				.desktop-nav
					div
						ul#nav
							li
								a(href="#") New Casinos
							li
								a(href="#") Monthly Offers
							li
								a(href="#") Casinos
							li
								a(href="#") Bonuses
							li
								a(href="#") Games &amp; Jackpots
							li
								a(href="#") News
							li
								a(href="#") Payments
							li
								a(href="#") Guides
					div
						a(href="#search-popup").btn.btn-search.lightbox-opener Search
					div
						img(src="http://via.placeholder.com/37x19/6daf0e/ffffff?text=UK").flag
				.mobile-nav
					.mobile-nav-holder
						.mobile-nav-frame
							.main-search-bar
								form(action="#")
									span.icon-search i
									input(type="text", placeholder="Search NetentCasinos", id="m-autocomplete")
									span.icon-close-o x
								.default-results
									.top
										div
											.hideme
												h2 Top Searches
												ul.ui-autocomplete
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Betsson 
																span.category (Casino)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Free Spins 
																span.category (Bonus)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Bitcoin 
																span.category (Payment)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| New Casinos 
																span.category (Casinos)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Betsson 
																span.category (Casino)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Free Spins 
																span.category (Bonus)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| Bitcoin 
																span.category (Payment)
													li
														a(href="#")
															img(src="http://via.placeholder.com/43/6daf0e/ffffff")
															span.title
																| New Casinos 
																span.category (Casinos)
									.bottom
										a(href="#").btn.btn-secondary
											| View all 
											span.count 50
											|  Results
							ul.nav
								li
									a(href="#")
										span.icon-new-casinos
										| New Casinos
								li
									a(href="#")
										span.icon-top-monthly-offers
										| Top Monthly Offers
								li.divider
								li
									a(href="#")
										span.icon-casinos
										| NetEnt Casinos
								li
									a(href="#")
										span.icon-icon i
										| NetEnt Bonuses
								li
									a(href="#")
										span.icon-games-and-jackpots
										| NetEnt Games &amp; Jackpots
								li
									a(href="#")
										span.icon-news
										| NetEnt News
								li.divider
								li
									a(href="#")
										span.icon-payments
										| Payments
								li
									a(href="#")
										span.icon-guides
										| Guides
					a(href="#").nav-opener.icon-menu-and-search