header#header.popup-holder
	.offer-popup.popup
		.content.text-center
			div
				include promo-content
		.footer
			include section-refer
		a(href="#").icon-close.close
	.offer-box
		.left
			a.icon-close(href="#")
			a.icon-email(href="#")
			.content
				h2.hidden-sm Don’t miss out on 600 Secret No Deposit Spins
				p Unlock 600 secret No Deposit Spins by subscribing to our newsletter.
		div
			a(href="#").btn.btn-dark.opener Get Free Spins
	.header-holder
		div
			strong.logo
				a(href="#")
					img(src="images/logo.png", alt="NetEntCasino", width="944", height="156")
		div
			a(href="#").nav-opener.icon-menu-and-search