.popups-holder
	.offer-popup#offer-popup
		.content.text-center
			div
				include promo-content
		.footer
			include section-refer
		//- a(href="#").icon-close.close

	.offer-popup#refer-popup
		.content.text-center
			div
				| refer popup
		.footer
			| footer
	.popup-post-filter#news-filter-popup
		form(action="#").form
			input(type="text", placeholder="Search NetentCasino")
		.filter-links
			ul
				li
					a(href="#") NetEnt News
				li
					a(href="#") Bonus News
				li
					a(href="#") Exclusive Promotions
				li
					a(href="#") New NetEnt Games
				li
					a(href="#") Casino Reviews
				li
					a(href="#") Live Casino

