.popups-holder
	.offer-popup#offer-popup
		.content.text-center
			div
				include promo-content
		.footer
			include section-refer
		//- a(href="#").icon-close.close

	.offer-popup#refer-popup
		.content.text-center
			div
				| refer popup
		.footer
			| footer