.popups-holder
	//- 
		.subscribe-popup#subscribe-popup
			.content.text-center
				div
					include promo-content
			.footer
				include section-refer
		.refer-popup#refer-popup
			.icon-gift
			h2 Refer a Friend &amp; Get Rewarded
			strong.title How it Works:
			ol
				li
					| Subscribe to our newsletter to 
					strong unlock 600 secret No Deposit Spins.
				li
					| Click “
					strong Request Referral
					| ” found at the bottom of the newsletter, then 
					strong share the unique URL 
					| with your friends.
				li
					| They use your link to signup for the newsletter, then you get an 
					strong extra 200 Free Spins 
					| and your friend gets a 100 Free Spins (
					strong No Deposit required
					| ).
			form(action="#")
				.form-group
					input(type="text", placeholder="Enter your email address")
				.form-group
					input(type="submit", value="Make Money").btn.btn-dark
	.main-search-popup#search-popup
		.main-search-bar
			form(action="#")
				span.icon-search i
				input(type="text", placeholder="Search NetEnt Casinos", id="d-autocomplete")
				span.icon-close-o x
			.default-results
				.top
					div
						.hideme
							h2 Top Searches
							ul.ui-autocomplete
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Betsson 
											span.category (Casino)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Free Spins 
											span.category (Bonus)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Bitcoin 
											span.category (Payment)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| New Casinos 
											span.category (Casinos)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Betsson 
											span.category (Casino)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Free Spins 
											span.category (Bonus)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| Bitcoin 
											span.category (Payment)
								li
									a(href="#")
										img(src="http://via.placeholder.com/43/6daf0e/ffffff")
										span.title
											| New Casinos 
											span.category (Casinos)
				.bottom
					a(href="#").btn.btn-secondary
						| View all 
						span.count 50
						|  Results