form(action="#")
	.icon-mail
	h1 Don’t miss out on 600 Secret No Deposit Spins
	p Subscribe to our newsletter to unlock 600 secret No Deposit Spins.
	.form-content
		.form-group
			input(type="email", placeholder="Enter your email address")
		.form-group
			input(type="submit", value="Unlock Spins Now").btn.btn-primary
