form(action="#")
	.icon-mail
	h1 Don’t miss out on 600 Secret No Deposit Spins
	p Subscribe to our newsletter to unlock 600 secret No Deposit Spins.
	.form-content
		.form-group
			input(type="email", placeholder="Enter your email address")
		.form-group
			input(type="submit", value="Unlock Spins Now").btn.btn-primary
//- 
	.thank-you-message
	p
		img.alignnone.size-full.wp-image-344.aligncenter(src='http://netentcasnew-dev.catena.media/wp-content/uploads/2018/02/fa44494b58.jpg', alt='', width='95', height='67')
	h3(style='text-align: center;') You successfully subscribed to our newsletter
	p(style='text-align: center;') You can expect to hear from us regularly with the best exclusive bonuses and NetEnt release updates &amp; new game offers.
	.close-btn-holder
		a.btn.btn-close.btn-primary(href='#') Close