.left
	.icon-holder
		.icon-gift
	.content
		h1 Refer a Friend
		p Refer a friend to NetEnt Casinos and you both get rewarded.
		a(href="#refer-popup").btn.btn-secondary.lightbox-opener Make Money
.right.hidden-sm
	a(href="#refer-popup").btn.btn-secondary.lightbox-opener Make Money